@charset "UTF-8";
@media screen and (min-width: 769px) {
  .sp_contents {
    display: none !important;
  }
}

@media screen and (max-width: 769px) {
  .pc_contents {
    display: none !important;
  }
}

abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: normal;
  color: #555;
  /*  font-family: 'Hiragino Kaku Gothic ProN', 'HiraKakuProN-W6','ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
// */
  font-family: 'Lato','Noto Sans JP', sans-serif;
  font-family: 'Noto Sans Japanese';
  font-family: 'gillsans', 'Noto Sans Japanese', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

li,
nav ul,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  background: transparent;
  color: #333;
}

a:hover {
  color: #333;
  text-decoration: none;
}

a:visited {
  color: #333;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #333333;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  /* form clear */
  /*   -webkit-appearance: none !important;*/
}

#Wrap .styleIdeaWrap {
  width: 1060px;
  height: auto;
  margin: 0 auto;
}

@media screen and (max-width: 769px) {
  #Wrap .styleIdeaWrap {
    width: 89.33333vw;
  }
}

#Wrap .styleIdeaWrap .topArea h2 {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: #333;
  margin-bottom: 0;
  text-align: center;
}

@media screen and (max-width: 769px) {
  #Wrap .styleIdeaWrap .topArea h2 {
    font-size: 22px;
    line-height: 1;
  }
}

#Wrap .styleIdeaWrap .topArea .subTtl {
  font-size: 12px;
  letter-spacing: 0.08em;
  margin-top: 8px;
  line-height: 1;
  text-align: center;
  font-family: interstate, sans-serif;
  font-weight: 400;
  font-style: italic;
  color: #888;
}

#Wrap .styleIdeaWrap .topArea .date {
  font-size: 11px;
  letter-spacing: 0.12em;
  line-height: 1;
  margin-top: 60px;
  text-align: center;
  font-family: interstate, sans-serif;
  font-weight: 500;
}

#Wrap .styleIdeaWrap .style_list {
  width: 100%;
  height: auto;
  margin-top: 40px;
  margin-bottom: 160px;
}

@media screen and (max-width: 769px) {
  #Wrap .styleIdeaWrap .style_list {
    margin-top: 40px;
    margin-bottom: 120px;
  }
}

#Wrap .styleIdeaWrap .style_list__ul {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media screen and (max-width: 769px) {
  #Wrap .styleIdeaWrap .style_list__ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

#Wrap .styleIdeaWrap .style_list__ul li {
  width: 530px;
  height: auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 40px;
}

@media screen and (max-width: 769px) {
  #Wrap .styleIdeaWrap .style_list__ul li {
    width: 89.33333vw;
    margin-top: 20px;
  }
}

#Wrap .styleIdeaWrap .style_list__ul li .leftBox {
  width: 260px;
  height: auto;
}

@media screen and (max-width: 769px) {
  #Wrap .styleIdeaWrap .style_list__ul li .leftBox {
    width: 43.33333vw;
  }
}

#Wrap .styleIdeaWrap .style_list__ul li .rightBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 50px;
  width: 220px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

@media screen and (max-width: 769px) {
  #Wrap .styleIdeaWrap .style_list__ul li .rightBox {
    width: 38vw;
    padding-left: 8vw;
  }
}

#Wrap .styleIdeaWrap .style_list__ul li .rightBox > * {
  text-align: left;
}

#Wrap .styleIdeaWrap .style_list__ul li .rightBox .sub {
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: #888;
}

@media screen and (max-width: 769px) {
  #Wrap .styleIdeaWrap .style_list__ul li .rightBox .sub {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.025em;
  }
}

#Wrap .styleIdeaWrap .style_list__ul li .rightBox .relaseDate {
  color: #333;
  font-size: 12px;
  letter-spacing: 0.12em;
  line-height: 15px;
}

@media screen and (max-width: 769px) {
  #Wrap .styleIdeaWrap .style_list__ul li .rightBox .relaseDate {
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.06em;
  }
}
