$breakpoints: (
  "sm": "screen and (max-width: 374px)",
  "md": "screen and (max-width: 769px)",
  "pc": "screen and (min-width: 769px)",
  "lg": "screen and (max-width: 1000px)",
  "xl": "screen and (max-width: 1200px)",
)
!default;
@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
@include mq("pc") {
  .sp_contents {
    display: none!important;
  }
}
@include mq() {
  .pc_contents {
    display: none!important;
  }
}

abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: normal;
  color: #555;
  /*  font-family: 'Hiragino Kaku Gothic ProN', 'HiraKakuProN-W6','ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
// */
  font-family: 'Lato','Noto Sans JP', sans-serif; //   font-family: noto-sans-cjk-jp, sans-serif;
  font-family: 'Noto Sans Japanese';
  font-family: 'gillsans', 'Noto Sans Japanese', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

li,
nav ul,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  background: transparent;
  color: #333;
}

a:hover {
  color: #333;
  text-decoration: none;
}

a:visited {
  color: #333;
}
/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #333333;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  /* form clear */
  /*   -webkit-appearance: none !important;*/
}

#Wrap {
  .styleIdeaWrap {
    width: 1060px;
    height: auto;
    margin: 0 auto;
    @include mq() {
      width: (670/750)*100vw;
    }

    .topArea {
      h2 {
        font-family: 'Playfair Display', serif;
        font-size: 24px;
        line-height: 1;
        letter-spacing: 0.03em;
        font-weight: 400;
        color: #333;
        margin-bottom: 0;
        text-align: center;
        @include mq() {
          font-size: 22px;
          line-height: 1;
        }
      }

      .subTtl {
        font-size: 12px;
        letter-spacing: 0.08em;
        margin-top: 8px;
        line-height: 1;
        text-align: center;
        font-family: interstate, sans-serif;
        font-weight: 400;
        font-style: italic;
        color: #888;
      }

      .date {
        font-size: 11px;
        letter-spacing: 0.12em;
        line-height: 1;
        margin-top: 60px;
        text-align: center;
        font-family: interstate, sans-serif;
        font-weight: 500;
      }
    }

    .style_list {
      width: 100%;
      height: auto;
      margin: {
        top: 40px;
        bottom: 160px;
      }
      @include mq(){
        margin: {
          top: 40px;
          bottom: 120px;
        }
      }

      &__ul {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-wrap: wrap;
        @include mq(){
          flex-direction: column;
        }
        li{
          width: 530px;
          height: auto;
          display: -webkit-flex;
          display: -ms-flex;
          display: flex;
          justify-content: center;
          margin-top: 40px;
          @include mq(){
            width: (670/750)*100vw;
            margin-top: 20px;
          }
          .leftBox{
            width: 260px;
            height: auto;
            @include mq(){
              width: (325/750)*100vw;
            }
          }
          .rightBox{
            display: flex;
            flex-direction: column;
            align-items: baseline;
            justify-content: center;
            padding-left: 50px;
            width: 220px;
            box-sizing: content-box;
            @include mq(){
              width: (285/750)*100vw;
              padding-left: (60/750)*100vw;
            }
            & >*{
              text-align: left;
            }
            .sub{
              font-size: 11px;
              line-height: 14px;
              letter-spacing: 0.05em;
              color: #888;
              @include mq(){
                font-size: 10px;
                line-height: 12px;
                letter-spacing: 0.025em;
              }
            }
            .relaseDate{
              color: #333;
              font-size: 12px;
              letter-spacing: 0.12em;
              line-height: 15px;
              @include mq(){
                font-size: 11px;
                line-height: 13px;
                letter-spacing: 0.06em;
              }
            }
          }
        }
      }
    }
  }
}
