@charset "UTF-8";
@media screen and (min-width: 769px) {
	.sp_contents {
		display: none !important;
	}
}

@media screen and (max-width: 769px) {
	.pc_contents {
		display: none !important;
	}
}

img {
	width: 100%;
	height: auto;
}

a {
	display: block;
}

#Wrap .styleIdeaWrap {
	width: 1060px;
	height: auto;
	margin: 0 auto;
}

@media screen and (max-width: 769px) {
	#Wrap .styleIdeaWrap {
		width: 89.33333vw;
	}
}

#Wrap .styleIdeaWrap .topArea h2 {
	font-family: Times,"Times New Roman", Baskerville, Georgia, serif;
	font-size: 24px;
	line-height: 1;
	letter-spacing: 0.03em;
	font-weight: 400;
	color: #333;
	margin-bottom: 0;
	text-align: center;
}

@media screen and (max-width: 769px) {
	#Wrap .styleIdeaWrap .topArea h2 {
		font-size: 22px;
		line-height: 1;
	}
}

#Wrap .styleIdeaWrap .topArea .subTtl {
	font-size: 12px;
	letter-spacing: 0.08em;
	margin-top: 8px;
	line-height: 1;
	text-align: center;
	font-family: interstate, sans-serif;
	font-weight: 400;
	font-style: italic;
	color: #888;
}

#Wrap .styleIdeaWrap .topArea .date {
	font-size: 11px;
	letter-spacing: 0.12em;
	line-height: 1;
	margin-top: 60px;
	text-align: center;
	font-family: interstate, sans-serif;
	font-weight: 500;
}

#Wrap .styleIdeaWrap .contentsArea {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	margin: 20px auto 0;
}

@media screen and (max-width: 769px) {
	#Wrap .styleIdeaWrap .contentsArea {
		margin-top: 10px;
	}
}

#Wrap .styleIdeaWrap .contentsArea__content {
	width: 520px;
	height: auto;
	margin-top: 20px;
}

@media screen and (max-width: 769px) {
	#Wrap .styleIdeaWrap .contentsArea__content {
		width: 43.33333vw;
		margin-top: 10px;
	}
}

#Wrap .styleIdeaWrap .backToArchive {
	width: 240px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	margin: 40px auto 120px;
	border: 1px solid #333;
	color: #333;
	font-family: interstate, sans-serif;
	font-weight: 400;
}

@media screen and (max-width: 769px) {
	#Wrap .styleIdeaWrap .backToArchive {
		width: 66.66667vw;
		height: 45px;
		line-height: 45px;
	}
}

#Wrap .styleIdeaWrap .backToArchive:hover {
	background-color: #333;
	color: #fff;
}

.modal__mainVisual {
	width: 520px;
	height: auto;
}

@media screen and (max-width: 769px) {
	.modal__mainVisual {
		width: 100%;
	}
}

.modal__itemDetail {
	width: 402px;
	height: auto;
	margin-left: 80px;
}

@media screen and (max-width: 769px) {
	.modal__itemDetail {
		width: 100%;
		margin-top: 80px;
		margin-left: auto;
	}
}

.modal__itemDetail h3 {
	font-size: 13px;
	letter-spacing: 0.03em;
	font-weight: bold;
	text-align: left;
}

@media screen and (max-width: 769px) {
	.modal__itemDetail h3 {
		font-size: 14px;
	}
}

.modal__itemDetail__itemWrap {
	margin-top: 24.5px;
}

@media screen and (max-width: 769px) {
	.modal__itemDetail__itemWrap {
		margin-top: 18px;
	}
}

.modal__itemDetail__itemWrap .item {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
}

.modal__itemDetail__itemWrap .item + .item {
	border-top: none;
}

.modal__itemDetail__itemWrap .item__img {
	width: 60px;
	height: auto;
}

@media screen and (max-width: 769px) {
	.modal__itemDetail__itemWrap .item__img {
		width: 18.66667vw;
		height: auto;
	}
}

.modal__itemDetail__itemWrap .item__name {
	width: 170px;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	letter-spacing: 0.03em;
	line-height: 2;
	font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", 'MS PGothic', arial, helvetica,sans-serif;
}

@media screen and (max-width: 769px) {
	.modal__itemDetail__itemWrap .item__name {
		font-size: 13px;
		line-height: 1.53846;
		width: 42.66667vw;
	}
}

.modal__itemDetail__itemWrap .item__price {
	font-size: 12px;
	font-weight: 400;
	text-align-last: auto;
	letter-spacing: 0.03em;
	line-height: 2;
	font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", 'MS PGothic', arial, helvetica,sans-serif;
}

@media screen and (max-width: 769px) {
	.modal__itemDetail__itemWrap .item__price {
		font-size: 12px;
		line-height: 1.66667;
	}
}

.modal__itemDetail__itemWrap .item__btn {
	width: 110px;
	height: 27.5px;
	line-height: 27.5px;
	border-radius: 2px;
	color: #fff;
	background-color: #333;
	text-align: center;
	font-size: 11px;
	letter-spacing: 0.03em;
	margin-top: 40px;
	font-family: interstate, sans-serif;
	font-weight: 500;
	transition: .2s;
	border: 1px solid #333;
}

@media screen and (max-width: 769px) {
	.modal__itemDetail__itemWrap .item__btn {
		width: 24vw;
		line-height: 25px;
		height: 25px;
	}
}

.modal__itemDetail__itemWrap .item__btn:hover {
	background: #fff;
	color: #333;
	border: 1px solid #333;
	opacity: 1;
}

.modaal-content-container {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	align-items: center;
	width: 100%;
	height: auto;
	padding-top: 45px;
	padding-bottom: 45px;
}

@media screen and (max-width: 769px) {
	.modaal-content-container {
		flex-direction: column;
		width: 100vw;
		margin: auto;
		padding-top: 60px;
		padding-left: 5.33333vw;
		padding-right: 5.33333vw;
	}
}

.modaal-container {
	max-width: 1280px;
	height: auto;
}

@media screen and (max-width: 769px) {
	.modaal-container {
		max-width: 100vw;
	}
}

.modaal-inner-wrapper {
	padding-left: 0;
	padding-right: 0;
}

.closeBtn {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 58px;
	right: 110px;
	font-size: 13px;
	cursor: pointer;
	border: none;
}

@media screen and (max-width: 769px) {
	.closeBtn {
		width: 66.66667vw;
		height: 45px;
		line-height: 45px;
		text-align: center;
		border: 1px solid #333 !important;
		background-color: #fff;
		margin: 40px auto 0;
		position: relative;
		right: auto;
		top: auto;
		border-radius: unset;
		color: #333;
		font-family: interstate, sans-serif;
		font-weight: 400;
	}
}

.closeBtn .cancel {
	display: inline-block;
	padding: 0;
	width: 2px !important;
	height: 28px !important;
	background: #333;
	transform: rotate(45deg);
	overflow: visible;
	clip: unset;
	margin-top: -18px;
}

@media screen and (max-width: 769px) {
	.closeBtn .cancel {
		margin-top: 0;
		width: 1px !important;
		height: 14px !important;
		position: absolute;
		top: 36%;
		left: calc(50% - 38px);
		overflow: visible;
		clip: unset;
	}
}

.closeBtn .cancel::before {
	display: block;
	content: "";
	position: absolute;
	top: 50%;
	left: -12.5px;
	width: 28px;
	height: 2px;
	margin-top: -1px;
	background: #333;
}

@media screen and (max-width: 769px) {
	.closeBtn .cancel::before {
		content: "";
		position: absolute;
		top: 50%;
		left: -6.5px;
		width: 14px;
		height: 1px;
		margin-top: -1px;
		background: #333;
	}
}

.modaal-close::before {
	content: none;
}

.modaal-close::after {
	content: none;
}
