@charset "utf-8";

/*====================================================================
*    mixin
/*==================================================================*/
$bp1200: 1200px;

@mixin bp1200 {
  @media (max-width: ($bp1200)) {
    @content;
  }
}
$bp1000: 1000px;

@mixin bp1000 {
  @media (max-width: ($bp1000)) {
    @content;
  }
}

$bp768: 768px;  // スマホ

@mixin bp768 {
  @media (max-width: ($bp768)) {
    @content;
  }
}

@mixin font-weight($weight) {
  $weights: (
    light: 300,
    regular: 400,
    medium: 500,
    bold: 700
  );
  
  $output: $weight;
  @if map-has-key($weights, $weight) {
    $output: map-get($weights, $weight);
  }
  
  font-weight: $output;
}

#Wrap{

	.userWrap{
		width: 1200px;
		margin: 0 auto;
		color: #333;
		font-size: 14px;
		letter-spacing: 0.08em;
		@include font-weight(regular);
			
		@include bp1200 {
			width: 100%;
		};

		@include bp768 {
			font-size: 13px;
		};

		/*====================================================================
		*    Log in
		/*==================================================================*/

		.loginWrap{
			width: 777px;
			margin: 0 auto;

			@include bp768 {
				width: 100%;
				padding: 80px 18px 0;
				box-sizing: border-box;
			};

			h2{
				font-size: 18px;
				text-align: center;
				margin-bottom: 40px;
				@include font-weight(bold);
				letter-spacing: 0.04em;
				line-height: 1;

				@include bp768 {
					margin-bottom: 50px;
				};
			}

			&_box{
				display: flex;
				justify-content: space-between;
				margin-bottom: 80px;

				@include bp768 {
					display: block;
				};

				.loginTtl{
					line-height: 1;
					color: #3D3D3D;
					text-align: center;
					margin-bottom: 40px;
					@include font-weight(bold);

					@include bp768 {
						font-size: 14px;
						margin-bottom: 32px;
					};

					&_catch{
						text-align: center;
						font-size: 12px;
						line-height: 1;
						margin: -16px 0 24px;
					}
				}

				&--left{
					width: 320px;

					@include bp768 {
						width: 100%;
						margin-bottom: 80px;
					};

					ul{
						li{
							margin-bottom: 25px;

							@include bp768 {
								margin-bottom: 16px;
							};

							&:nth-child(3){
								@include bp768 {
									margin: 24px 0;
								};
							}

							p{
								line-height: 1;
								margin-bottom: 8px;
							}

							input{
								width: 100%;
								border: 1px solid #C0B6B3;
								border-radius: 2px;
								padding: 10px 15px;
								box-sizing: border-box;
								font-size: 13px;
								color: #333;
								letter-spacing: 0.08em;
								line-height: 1;
								appearance: none;

								&::placeholder{
									color: #C6C6C6;
								}
							}

							.checkBox input{
								display: none;
							}
							.checkBox input + label{
								padding-left: 28px;
								vertical-align: middle;
								position: relative;
								margin-right: 66px;
								font-size: 12px;
								padding-top: 3px;

								&::before{
									content: "";
									display: block;
									position: absolute;
									top: 0;
									left: 0;
									width: 20px;
									height: 20px;
									border: 1px solid #C0B6B3;
									border-radius: 3px;
									background: #fff;
									box-sizing: border-box;
								}
							}
							.checkBox input:checked + label::after{
								content: "";
							    position: absolute;
							    top: 2px;
							    left: 2px;
							    width: 16px;
							    height: 15px;
							    border-radius: 3px;
							    background: url(../../Contents/ImagesPkg/common/check@2x.png);
							    display: block;
							    background-position: 0px 3px;
							    background-size: 100%;
							    background-repeat: no-repeat;
							}
							.checkBox input:checked + label.on::after{
								content: "";
							}
						}
					}

					.loginPsForget{
						text-align: center;
						text-decoration: underline;
						color: #968680;
						line-height: 1;

						@include bp768 {
							font-size: 12px;
						};
					}
				}

				&--right{
					width: 320px;

					@include bp768 {
						width: 100%;
					};

					.socialBox{
						margin-bottom: 92px;

						@include bp768 {
							margin-bottom: 40px;
						};

						li{
							margin-bottom: 24px;
							border-radius: 2px;
							width: 100%;
							height: 48px;

							@include bp768 {
								margin-bottom: 16px;
							};

							&:nth-child(1){
								background: #2E4387;
							}

							&:nth-child(2){
								margin-bottom: 0;
								background: #3986E5;
							}

							a{
								font-size: 14px;
								line-height: 48px;
								padding: 0 16px;
								box-sizing: border-box;
								position: relative;
								color: #fff;
								font-family: 'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;

								@include bp768 {
									height: 48px;
								};

								&::after{
									content: "";
									position: absolute;
									top: 0;
									right: 24px;
									bottom: 0;
									margin: auto;
									display: block;
									width: 10px;
									height: 10px;
									-moz-transform: rotate(45deg);
									-webkit-transform: rotate(45deg);
									-ms-transform: rotate(45deg);
									transform: rotate(45deg);
									border-top: 1.5px solid #fff;
									border-right: 1.5px solid #fff;

									@include bp768 {
										right: 16px;
										width: 6px;
										height: 6px;
										border-top: 1px solid #fff;
										border-right: 1px solid #fff;
									};
								}

								img{
									width: 28px;
									margin: -5px 16px 0 0;
									display: inline;

									@include bp768 {
										margin: -5px 22px 0 0;
									};
								}
							}
						}
					}
				}

				.loginBtn{
					color: #fff;
					text-align: center;
					width: 100%;
					height: 64px;
					line-height: 64px;
					background: #2E0E02;
					position: relative;
					margin: 40px 0 25px;
					border-radius: 2px;

					@include bp768 {
						width: 70%;
						height: 48px;
						line-height: 48px;
						margin: 24px auto 20px;
					};

					&::after{
						content: "";
						position: absolute;
						top: 0;
						right: 24px;
						bottom: 0;
						margin: auto;
						display: block;
						width: 10px;
						height: 10px;
						-moz-transform: rotate(45deg);
						-webkit-transform: rotate(45deg);
						-ms-transform: rotate(45deg);
						transform: rotate(45deg);
						border-top: 1.5px solid #fff;
						border-right: 1.5px solid #fff;

						@include bp768 {
							right: 16px;
							width: 6px;
							height: 6px;
							border-top: 1px solid #fff;
							border-right: 1px solid #fff;
						};
					}

					&.addressBtn{
						@include bp768 {
							width: 100%;
						};
					}
				}
			}
		}

		/*====================================================================
		*    会員登録
		/*==================================================================*/

		.registWrap{
			width: 800px;
			margin: 0 auto;

			@include bp768 {
				width: 100%;
				padding: 80px 18px 0;
				box-sizing: border-box;
			};

			h2{
				font-size: 18px;
				text-align: center;
				margin-bottom: 40px;
				@include font-weight(bold);
				letter-spacing: 0.04em;
				line-height: 1;

				@include bp768 {
					margin-bottom: 30px;
				};
			}

			.registStep{
				width: 529px;
				margin: 0 auto 60px;

				@include bp768 {
					width: 100%;
				};
			}

			.catchTxt{
				text-align: center;
				line-height: 25.2px;
				margin-bottom: 40px;

				@include bp768 {
					line-height: 26px;
				};
			}

			&_box{
				h3{
					@include font-weight(bold);
					padding: 0 0 0 40px;
					line-height: 1;
					margin: 0 0 17px;
					box-sizing: border-box;

					@include bp768 {
						padding: 0;
					};

					.historyTtlSpan{
						@include font-weight(normal);
						margin-left: 24px;
						font-size: 12px;
						line-height: 1;

						@include bp768 {
							margin: 8px 30px 0 0;
							display: inline-block;
						};
					}
				}

				&--input{
					padding: 40px;
					margin-bottom: 40px;
					box-sizing: border-box;
					border-top: 1px solid #EAE6E5;
					border-bottom: 1px solid #EAE6E5;

					@include bp768 {
						padding: 17px 0 0;
						border-bottom: none;
					};

					.inputBox{
						display: flex;
						justify-content: space-between;
						align-items: center;
						flex-wrap: wrap;
						font-family: 'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;

						@include bp768 {
							display: block;
						};

						&_left{
							width: 222px;
							margin-bottom: 24px;
							@include font-weight(regular);

							@include bp1200 {
								width: 30%;
							};

							@include bp768 {
								width: auto;
								margin-bottom: 16px;
								display: inline-block;
							};

							&.must{
								position: relative;

								@include bp768 {
									padding-left: 45px;
								};

								&::after{
									content: "必須";
									position: absolute;
									top: 0;
									bottom: 0;
									right: 0;
									margin: auto;
									color: #fff;
									width: 36px;
									height: 18px;
									line-height: 18px;
									font-size: 10px;
									text-align: center;
									background: #AD2E24;
									border-radius: 2px;

									@include bp768 {
										right: inherit;
										left: 0;
									};
								}
							}

							&.noCenter{
								margin-top: -50px;

								@include bp768 {
									margin-top: 0;
								};

								&2{
									margin-top: -120px;

									@include bp768 {
										margin-top: 0;
									};
								}
							}

							&.noCenter02{
								margin-top: -33px;

								@include bp768 {
									margin-top: 0;
								};
							}
						}

						&_right{
							width: 484px;
							margin-bottom: 24px;

							@include bp1200 {
								width: 60%;
							};

							@include bp768 {
								width: 100%;
								padding-bottom: 24px;
								margin-bottom: 15px;
								border-bottom: 1px solid #EAE6E5;
							};

							&.noBBsp{
								@include bp768 {
									margin-bottom: 0;
									border-bottom: none;
								};
							}

							input{
								width: 100%;
								border: 1px solid #C0B6B3;
								border-radius: 2px;
								padding: 10px 15px;
								box-sizing: border-box;
								font-size: 13px;
								color: #333;
								letter-spacing: 0.08em;
								line-height: 1;
								appearance: none;

								&::placeholder{
									color: #C6C6C6;
								}
							}

							select{
								width: 100%;
								font-size: 13px;
							    letter-spacing: 0.08em;
								padding: 10px 15px;
								border-radius: 2px;
							    -moz-appearance: none;
							    -webkit-appearance: none;
							    appearance: none;
							    background: url(../../Contents/ImagesPkg/user/common/arrow_down.svg) no-repeat right 16px top 13px;
							    border: 1px solid #C0B6B3;
							    cursor: pointer;
								appearance: none;

								@include bp768 {
							    	background: url(../../Contents/ImagesPkg/user/common/arrow_down.svg) no-repeat right 8px top 16px;
							    	background-size: 13.5px 7.5px;
								};
							}

							textarea{
								width: 100%;
								border: 1px solid #C0B6B3;
								border-radius: 2px;
								padding: 10px 15px;
								box-sizing: border-box;
								font-size: 13px;
								color: #333;
								letter-spacing: 0.08em;
								line-height: 1;
								appearance: none;

								&::placeholder{
									color: #C6C6C6;
								}

								&.inquirytext{
									&::placeholder{
										color:#999;
										line-height:1.8;
									}
								}
							}

							.nameArea{
								display: flex;
								justify-content: space-between;
								align-items: center;
								flex-wrap: wrap;

								@include bp768 {
									margin-top: -16px;
								};

								dt{
									width: 34px;
									margin-right: 8px;
									text-align: right;

									@include bp768 {
										width: 15%;
										margin-right: 0;
										text-align: left;
										margin-top: 16px;
									};
								}

								dd{
									width: 190px;

									@include bp768 {
										width: 85%;
										margin-top: 16px;
									};
								}
							}

							.radioBtn input{
								display: none;
							}
							.radioBtn input + label{
								padding-left: 32px;
								vertical-align: middle;
								position: relative;
								padding-top: 4px;
								margin-right: 50px;

							&::before{
								content: "";
								display: block;
								position: absolute;
								top: 0;
								left: 0;
								width: 24px;
								height: 24px;
								border: 1px solid #968680;
								border-radius: 50%;
								background: #fff;
								box-sizing: border-box;
							}
							}
							.radioBtn input:checked + label::after{
								content: "";
								display: block;
								position: absolute;
								top: 6px;
								left: 6px;
								width: 12px;
								height: 12px;
								background: #2E0E02;
								border-radius: 50%;
							}
							.radioBtn input:checked + label.on::after{
								content: "";
							}

							.birthArea{
								display: flex;
								align-items: center;

								dt{
									width: 80px;
									margin-right: 8px;

									@include bp768 {
										width: 23%;
									};

									&.long{
										width: 120px;

										@include bp768 {
											width: 30%;
										};
									}
								}

								dd{
									margin-right: 24px;

									&:last-child{
										@include bp768 {
											margin-right: 0;
										};
									}
								}
							}

							.zipArea{
								display: flex;
								align-items: center;
								flex-wrap: wrap;

								dt{
									width: 68px;

									@include bp768 {
										width: 20%;
									};
								}

								dd{
									margin: 0 8px;
								}
							}

							.checkBox input{
								display: none;
							}
							.checkBox input + label{
								padding-left: 28px;
								vertical-align: middle;
								position: relative;
								margin-right: 66px;

							&::before{
								content: "";
								display: block;
								position: absolute;
								top: 0;
								left: 0;
								width: 20px;
								height: 20px;
								border: 1px solid #C0B6B3;
								border-radius: 3px;
								background: #fff;
								box-sizing: border-box;
							}
							}
							.checkBox input:checked + label::after{
								content: "";
							    position: absolute;
							    top: 2px;
							    left: 2px;
							    width: 16px;
							    height: 15px;
							    border-radius: 3px;
							    background: url(../../Contents/ImagesPkg/common/check@2x.png);
							    display: block;
							    background-position: 0px 3px;
							    background-size: 100%;
							    background-repeat: no-repeat;
							}
							.checkBox input:checked + label.on::after{
								content: "";
							}

							.noticeArea{
								margin-top: 16px;

								p{
									font-size: 11px;
									color: #878787;
									letter-spacing: 0.06em;
									line-height: 17.6px;
								}
							}
						}

						&.inputBox_confirm{
							align-items: flex-start;

							.inputBox_left{
								line-height: 25.2px;
							}

							.inputBox_right{
								line-height: 25.2px;
							}
						}

						&.tableInputBox{
							.inputBox_left{
								display: inline-block;
							}

							.inputBox_right{
								display: inline-block;
								margin-left: 70px;

								@include bp768 {
									margin-left: 0;
								};
							}
						}

						&.orderDetailArea{

							tr{
								border-bottom: 1px solid #EAE6E5;
								width: 820px;
								display: block;
								margin: 0 -40px;
								padding: 24px 0 0 40px;

								@include bp1200 {
									width: 100%;
								};

								@include bp768 {
									border-bottom: none;
									margin: 0;
									padding: 24px 0 0 0;
								};

								&.noBorderB {
								    border-bottom: none;
								}
							}

							.inputBox_left{
								@include font-weight(bold);
								width: 125px;
								vertical-align: top;

								@include bp1200 {
									width: 20%;
								};

								@include bp768 {
									width: 100%;
								};
							}

							.inputBox_right{
								width: 650px;
								margin-left: 0;

								@include bp1200 {
									width: 75%;
								};

								@include bp768 {
									width: 100%;
									margin-bottom: 0;
								};

								.orderDetailAbout{
									display: flex;
									justify-content: space-between;
									flex-wrap: wrap;

									dt{
										width: 120px;
										margin: 6px 0;

										@include bp1200 {
											width: 32.5%;
										};
									}

									dd{
										width: 530px;
										margin: 6px 0;

										@include bp1200 {
											width: 67.5%;
										};
									}
								}

								.itemTtl{
									margin-bottom: 24px; 
								}

								.itemTtl_name{
									letter-spacing: 0;
									font-size: 14px;
									line-height: 22.4px;
									margin-bottom: 15px;

									@include bp768 {
										font-size: 13px;
										line-height: 19.5px;
										margin-bottom: 8px;
									};
								}

								.itemTtl_pdc{
									letter-spacing: 0;
									font-size: 11px;
									line-height: 18px;
									font-family: 'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;
								}

								.orderDetailSumBox{
									width: 220px;
									margin-top: 40px;

									@include bp768 {
										width: 100%;
										margin-top: 32px;
										background: #EAE6E5;
										padding: 20px 40px;
										box-sizing: border-box;
									};

									.orderSum{
										display: flex;
										justify-content: space-between;
										flex-wrap: wrap;

										dt{
											width: 60%;
											line-height: 1;
											margin-bottom: 14px;

											.taxSmall{
												font-size: 11px;
											}
										}

										dd{
											width: 40%;
											text-align: right;
											line-height: 1;
											margin-bottom: 14px;
										}

										.discountTxt{
											color: #AD2E24;
										}

										&.resultOrder{
											border-top: 1px solid #2E0E02;
											padding-top: 16px;
											margin-top: 6px;

											dt{
												margin-bottom: 0;
											}

											dd{
												margin-bottom: 0;
											}
										}
									}
								}

								&.noBorderB{
									border-bottom: none;
								}
							}
						}

						&.noSepa{
							justify-content: inherit;
						}
					}

					&.noBorderB{
						border-bottom: none;
						margin-bottom: 60px;
						padding-bottom: 0;
					}

					.couponArea{
						display: flex;
						justify-content: space-between;
						flex-wrap: wrap;
						font-size: 13px;
						letter-spacing: 0;
						font-family: 'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;

						@include bp768 {
							display: block;
							border-bottom: 1px solid #EAE6E5;
						};

						&_left{
							width: 130px;
							margin-bottom: 10px;
							line-height: 19.5px;
							color: #3D3D3D;

							@include bp1200 {
								width: 25%;
							};

							@include bp768 {
								width: auto;
								margin-bottom: 0;
								color: #878787;
								line-height: 2;
							};
						}

						&_right{
							width: 650px;
							margin-bottom: 10px;
							line-height: 19.5px;

							@include bp1200 {
								width: 75%;
							};

							@include bp768 {
								width: auto;
								margin-bottom: 25px;
								line-height: 2;
							};
						}
					}

					&.orderHistoryList{
						display: flex;
						justify-content: space-between;
						padding-top: 24px;
						padding-bottom: 24px;
						margin-bottom: 50px;

						@include bp768 {
							display: block;
							border-bottom: 1px solid #EAE6E5;
						};

						.orderHistoryList_left{
							width: 376px;

							@include bp768 {
								width: 100%;
							};

							&--column{
								display: flex;
								justify-content: space-between;
								margin-bottom: 24px;

								.itemImage{
									width: 120px;

									@include bp768 {
										width: 23.5%;
									};
								}

								.itemTtl{
									width: 240px;

									@include bp768 {
										width: 71%;
									};

									&_name{
										letter-spacing: 0;
										font-size: 14px;
										line-height: 22.4px;
										margin-bottom: 15px;

										@include bp768 {
											font-size: 13px;
											line-height: 19.5px;
											margin-bottom: 8px;
										};
									}

									&_pdc{
										letter-spacing: 0;
										font-size: 11px;
										line-height: 18px;
										font-family: 'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;
									}
								}
							}
						}

						.orderHistoryList_right{
							width: 300px;
							height: 176px;
							background: rgba(234,230,229,.5);
							padding: 24px;
							box-sizing: border-box;

							@include bp768 {
								width: 100%;
								height: auto;
							};

							dl{
								display: flex;
								justify-content: space-between;
								flex-wrap: wrap;
								margin-bottom: 24px;

								@include bp768 {
									margin-bottom: 16px;
								};

								dt{
									width: 112px;
									@include font-weight(bold);
									font-size: 14px;
									line-height: 1;
									color: #3D3D3D;
									margin-bottom: 10px;

									@include bp768 {
										width: 40%;
										font-size: 13px;
									};
								}

								dd{
									width: 140px;
									font-size: 14px;
									line-height: 1;
									color: #3D3D3D;
									font-family: 'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;
									margin-bottom: 10px;

									@include bp768 {
										width: 60%;
										font-size: 13px;
									};
								}
							}

							.orderHistoryBtnDetail{
								width: 120px;
								height: 32px;
								line-height: 32px;
								text-align: center;
								background: #2E0E02;
								font-size: 12px;
								color: #fff;
								margin: auto;

								@include bp768 {
									width: 40%;
								};
							}
						}
					}

					&.creditListBox{
						#ctl00_ContentPlaceHolder1_upUpdatePanel{
							@include bp1200 {
								width: 100%;
							};

							tr{
								@include bp1200 {
									width: 100vw;
									display: inline-block;
								};

								@include bp768 {
									width: 100%;
								};

								.inputBox_left{
									@include bp1200 {
										width: 20%;
									};

									@include bp768 {
										width: auto;
									};
								}

								.inputBox_right{
									@include bp1200 {
										width: 35%;
									};

									@include bp768 {
										width: 100%;
									};
								}
							}
						}
					}
				}

				&--ps{
					margin-top: 60px;

					@include bp768 {
						margin-top: 0;
					};
				}

				.agreementTxt{
					margin-bottom: 40px;

					@include bp768 {
						margin-bottom: 30px;
					};

					p{
						text-align: center;
						line-height: 1;

						@include bp768 {
							text-align: left;
							line-height: 2;
						};

						a{
							color: #968680;
							display: inline;
							text-decoration: underline;
						}
					}
				}

				.completeTxt01{
					text-align: center;
					@include font-weight(bold);
					font-size: 18px;
					line-height: 1;
					letter-spacing: 0.04em;
					margin-bottom: 40px;
				}

				.completeTxt02{
					text-align: center;
					line-height: 25.2px;
					margin-bottom: 60px;
				}

				.remindTxt{
					text-align: center;
					line-height: 25.2px;
					margin-bottom: 60px;

					.remindSpan01{
						@include font-weight(bold);
					}

					.remindSpan02{
						color: #878787;
					}
				}

				.psCompleteTxt{
					text-align: center;
					line-height: 25.2px;
					margin-bottom: 40px;
				}

				&--inquiryNote{
					margin: 24px 0 60px;

					@include bp768 {
						margin: 60px 0;
					};

					p{
						font-size: 12px;
						line-height: 2;
						color: #3D3D3D;
					}
				}
			}

			&.inquiryWrap{
				.registWrap_box--input{
					border-top: none;
					border-bottom: none;
					padding: 0 38px;

					@include bp768 {
						border-top: 1px solid #EAE6E5;
						border-bottom: none;
						padding: 17px 0 0;
						margin-top: 50px;
					};

					.inputBox_confirm{
						.inputBox_left{
							@include bp768 {
								color: #878787;
							};
						}
					}
				}

				input{
					&::placeholder{
						color:#999;
					}
				}
			}
		}

		.userBread{
			width: 1120px;
			margin: 0 auto 40px;
			
			@include bp1200 {
				width: 100%;
				padding: 0 40px;
				box-sizing: border-box;
			};
			
			@include bp768 {
				width: 100%;
				margin: 0 auto 20px;
				padding: 0 18px;
			};

			ul{
				text-align: right;

				li{
					font-size: 12px;
					letter-spacing: 0.08em;
					color: #C6C6C6;
					line-height: 1;
					display: inline-block;
			
					@include bp768 {
						font-size: 11px;
					};

					a{
						font-size: 12px;
						letter-spacing: 0.08em;
						color: #C6C6C6;
						line-height: 1;
						display: inline;
			
						@include bp768 {
							font-size: 11px;
						};
					}

					&:last-child{
						a{
							color: #878787;
						}
					}
				}
			}
		}

		#Foot{
			border-top: none;

			@include bp768 {
			    border-top: 1px solid #ccc;
			};

			.sec--news{
				display: none;
			}
		}

		.submitBtnBox{
			width: 320px;
			margin: 40px auto 80px;

			@include bp768 {
				width: 70%;
			};
		}

		.allBtnBox{
			width: 696px;
			margin: 60px auto 80px;
			display: flex;
			justify-content: space-between;

			@include bp768 {
				width: 70%;
				flex-wrap: wrap;
			};

			a{
				&:first-child{
					@include bp768 {
						order: 2;
					};
				}

				&:last-child{
					@include bp768 {
						order: 1;
						margin-bottom: 16px;
					};
				}

				&.ohPrev{
					width: 180px;
					height: 38px;
					line-height: 38px;
					font-size: 13px;
					margin: 0 30px 0 auto;

					&::after {
						width: 7px;
						height: 7px;
					}
					
					@include bp768 {
						order: 2;
						margin: 0 auto;
						font-size: 12px;
					};
				}

				&.ohNext{
					width: 180px;
					height: 38px;
					font-size: 13px;
					line-height: 38px;
					margin: 0 auto 0 0;

					&::after {
						width: 7px;
						height: 7px;
					}

					@include bp768 {
						order: 1;
						margin: 0 auto 16px;
						font-size: 12px;
						color: #fff;
						border: none;
					};
				}
			}

			&Credit{
				a{
					margin: 0 auto;
				}
			}
		}

		.prevBtn{
			color: #2E0E02;
			text-align: center;
			width: 320px;
			height: 64px;
			line-height: 64px;
			background: #fff;
			position: relative;
			border-radius: 2px;
			border: 1px solid #2E0E02;
			z-index: 0;

			@include bp768 {
				width: 100%;
				height: 48px;
				line-height: 48px;
			};

			&::after{
				content: "";
				position: absolute;
				top: 0;
				left: 24px;
				bottom: 0;
				margin: auto;
				display: block;
				width: 10px;
				height: 10px;
				-moz-transform: rotate(-135deg);
				-webkit-transform: rotate(-135deg);
				-ms-transform: rotate(-135deg);
				transform: rotate(-135deg);
				border-top: 1.5px solid #2E0E02;
				border-right: 1.5px solid #2E0E02;

				@include bp768 {
					width: 6px;
					height: 6px;
					border-top: 1px solid #2E0E02;
					border-right: 1px solid #2E0E02;
				};
			}

		    &:hover::after {
				border-top: 1.5px solid #fff;
				border-right: 1.5px solid #fff;
		    }

		    &::before{
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: -1;
				background: #2E0E02;
				transform-origin: right top;
				transform: scale(0, 1);
				transition: transform .3s;

				@include bp768 {
					content: none;
				};
		    }

		    &:hover::before {
				transform-origin: left top;
				transform: scale(1, 1);
		    }

		    &:hover{
		      opacity: 1;
		      color: #fff;
		    }
		}

		.nextBtn{
			color: #fff;
			text-align: center;
			width: 320px;
			height: 64px;
			line-height: 64px;
			background: #2E0E02;
			position: relative;
			border-radius: 2px;
			border: 1px solid #2E0E02;
			z-index: 0;

			@include bp768 {
				width: 100%;
				height: 48px;
				line-height: 48px;
			};

			&::after{
				content: "";
				position: absolute;
				top: 0;
				right: 24px;
				bottom: 0;
				margin: auto;
				display: block;
				width: 10px;
				height: 10px;
				-moz-transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
				border-top: 1.5px solid #fff;
				border-right: 1.5px solid #fff;

				@include bp768 {
					width: 6px;
					height: 6px;
					border-top: 1px solid #fff;
					border-right: 1px solid #fff;
				};
			}

			&:hover::after {
				border-top: 1.5px solid #2E0E02;
				border-right: 1.5px solid #2E0E02;
		    }

		    &::before{
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: -1;
				background: #fff;
				transform-origin: right top;
				transform: scale(0, 1);
				transition: transform .3s;

				@include bp768 {
					content: none;
				};
		    }

		    &:hover::before {
				transform-origin: left top;
				transform: scale(1, 1);
		    }

		    &:hover{
		      opacity: 1;
		      color: #2E0E02;
		    }
		}

		/*====================================================================
		*    My Page
		/*==================================================================*/

		.mypageWrap{
			display: flex;
			justify-content: space-between;
			width: 1120px;
			margin: 0 auto 80px;
			
			@include bp1200 {
				width: 100%;
				padding-left: 40px;
				padding-right: 40px;
				box-sizing: border-box;
			};

			@include bp768 {
				display: block;
				padding-left: 0;
				padding-right: 0;
			};

			.mypageMenu{
				width: 180px;
				padding-top: 67px;

				&_ttl{
					font-size: 13px;
					padding-bottom: 15px;
					@include font-weight(bold);
					border-bottom: 1px solid #EAE6E5;
					line-height: 1;
				}

				ul{
					margin-bottom: 40px;

					li{
						height: 48px;

						a{
							line-height: 48px;
							font-size: 13px;
							padding: 0 15px;
							box-sizing: border-box;

							&:hover{
								background: rgba(234,230,229,.5);
								opacity: 1;
								color: #333;
							}
						}

						&.on{
							background: rgba(234,230,229,.5);
						}
					}
				}
			}

			#ctl00_ContentPlaceHolder1_upUpdatePanel{
				@include bp1200 {
					width: 75%;
				};

				@include bp768 {
					width: 100%;
				};

				.mypageCts{
					@include bp1200 {
						width: 100%;
					};
				}
			}

			.mypageCts{
				width: 860px;

				@include bp1200 {
					width: 75%;
				};

				@include bp768 {
					width: 100%;
					padding-top: 0;
				};

				h2{
					font-size: 18px;
					text-align: center;
					margin-bottom: 40px;
					@include font-weight(bold);
					letter-spacing: 0.04em;
					line-height: 1;

					@include bp768 {
						margin-bottom: 50px;
					};
				}

				&_topBox{
					background: rgba(234,230,229,.2);
					padding: 25px 40px;
					box-sizing: border-box;

					@include bp768 {
						padding: 25px 18px;
					};

					&--ttl{
						padding-bottom: 20px;
						@include font-weight(bold);
						border-bottom: 1px solid #EAE6E5;
						margin-bottom: 20px;
						line-height: 1;

						@include bp768 {
							padding-bottom: 15px;
							margin-bottom: 40px;
						};
					}

					ul{
						display: flex;
						justify-content: space-between;
						flex-wrap: wrap;
						align-items: flex-end;

						@include bp768 {
							justify-content: inherit;
						};

						li{
							line-height: 1;
							margin-bottom: 25px;

							@include bp768 {
								margin-bottom: 40px;
							};

							&:nth-child(3n + 1){
								font-size: 18px;
								@include font-weight(bold);

								@include bp1200 {
									width: auto;
								};

								@include bp768 {
									line-height: 2;
								};

								span{
									font-size: 14px;
								}
							}
							
							&:nth-child(3n +2){
								width: 120px;
								font-size: 18px;
								@include font-weight(bold);

								@include bp1200 {
									width: 20%;
								};

								@include bp768 {
									width: auto;
									line-height: 2;
								};

								span{
									font-size: 14px;
								}
							}
							
							&:nth-child(3n){
								width: 505px;
								font-size: 12px;

								@include bp1200 {
									width: 60%;
								};

								@include bp768 {
									width: auto;
									line-height: 2;
								};
							}
							
							&:nth-child(5){
								@include bp768 {
									margin-bottom: 0;
								};
							}
						}
					}
				}

				.aboutRank{
					margin-top: 15px;

					@include bp768 {
						margin-top: 0;
					};

					a{
						text-align: right;
						color: #2E0E02;
						line-height: 2;
						font-size: 12px;
						text-decoration: underline;
					}
				}

				.favoriteArea{
					display: flex;
					flex-wrap: wrap;

					@include bp768 {
						justify-content: space-between;
					};

					ul{
						width: 200px;
						margin: 0 20px 40px 0;
						position: relative;

						@include bp1200 {
							width: 22%;
						};

						@include bp768 {
							width: 49%;
							margin: 0 0 40px 0;
						};

						&:nth-child(4n){
							margin-right: 0;
						}

						&:nth-last-child(-n + 2){
							@include bp768 {
								margin: 0 0 20px 0;
							};
						}

						li{
							&.favoriteAreaPic{
								margin-bottom: 15px;

								@include bp768 {
									margin-bottom: 10px;
								};
							}

							&.favoriteAreaName{
								margin-bottom: 8px;

								@include bp768 {
									margin-bottom: 5px;
								};

								a{
									line-height: 1;
									text-overflow: ellipsis;
									overflow: hidden;
									white-space: nowrap;
									font-size: 12px;
								}
							}

							&.favoriteAreaPrice{
								p{
									@include font-weight(bold);
									line-height: 1;
				    				font-family: 'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;

									@include bp768 {
										font-size: 14px;
									};

									.newPrice{
										color: #AD2E24;
									}

									.oldPrice{
										text-decoration: line-through;
										margin-top: 5px;
										display: block;
									}
				    			}
							}

							&.favoriteAreaDelete{
								position: absolute;
								top: 8px;
								right: 8px;
								width: 20px;

								@include bp768 {
									width: 16px;
								};
							}
						}
					}
				}

				.MypageCreditBox{
					position: relative;
					margin-bottom: 60px;

					@include bp768 {
						margin-bottom: 40px;
					};

					.inputBox{
						@include bp768 {
							border-bottom: 1px solid #EAE6E5;
						};
					}

					&_delete{
						position: absolute;
						top: 0;
						right: 40px;

						@include bp768 {
							top: -6px;
							right: 0;
						};

						a{
							color: #3D3D3D;
							font-size: 11px;
							line-height: 18px;
							position: relative;
							background: url(../../Contents/ImagesPkg/user/user/btn_off.png) no-repeat left 4px;
							background-size: 18px 18px;
							width: 45px;
							text-align: right;
							padding-top: 5px;
						}
					}

					&_edit{
						position: absolute;
						top: 183px;
						right: 40px;

						@include bp768 {
							position: inherit;
							top: inherit;
							right: inherit;
							margin: 16px 0 0;
						};

						a{
							color: #2E0E02;
							font-size: 12px;
							background: #F4F2F2;
							width: 64px;
							height: 32px;
							line-height: 32px;
							text-align: center;
							margin-left: auto;
						}
					}

					.inputBox_left{
						@include bp768 {
							color: #878787;
							margin-bottom: 5px;
						};
					}

					.inputBox_right{
						@include bp768 {
							margin-bottom: 27px;
							padding-bottom: 0;
							border-bottom: none;
						};
					}
				}
			}
		}

		.displayNone{
			display: none;
		}
	}

	.fwBold{
		@include font-weight(bold);
	}

	.ohShippingChange{
		a{
			width: 180px;
			height: 38px;
			margin-top: 10px;
			font-size: 13px;
			text-align: center;
			letter-spacing: 0.28em;
			position: relative;
			line-height: 38px;
			color: #2E0E02;
			border: 1px solid #2E0E02;

			@include bp768 {
				background: #2E0E02;
				font-size: 12px;
				color: #fff;
				border: none;
			};

		    &::before{
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: -1;
				background: #2E0E02;
				transform-origin: right top;
				transform: scale(0, 1);
				transition: transform .3s;

				@include bp768 {
					content: none;
				};
		    }

			&:after {
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				right: 23px;
				margin: auto;
				z-index: 1;
				display: block;
				width: 7px;
				height: 7px;
				-moz-transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
				border-top: 2px solid #2E0E02;
				border-right: 2px solid #2E0E02;

				@include bp768 {
					right: 15px;
					border-top: 2px solid #fff;
					border-right: 2px solid #fff;
				};
			}

		    &:hover::before {
				transform-origin: left top;
				transform: scale(1, 1);
		    }

		    &:hover{
		      opacity: 1;
		      color: #fff;
		    }

		    &:hover::after {
				border-top: 2px solid #fff;
				border-right: 2px solid #fff;
		    }
		}
	}
}

.mrgB0{
	margin-bottom: 0 !important;
}

.pdgT0{
	padding-top: 0 !important;
}