.pc_inline {
  display: inline !important;
}

@media (max-width: 768px) {
  .pc_inline {
    display: none !important;
  }
}

.sp_inline {
  display: none !important;
}

@media (max-width: 768px) {
  .sp_inline {
    display: inline !important;
  }
}

#Wrap .LPpageWrap {
  /*====================================================================
*    ALL
/*==================================================================*/
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .mainArea {
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .mainArea {
    margin-bottom: 80px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea {
  /*====================================================================
*    TEMPLATE A
/*==================================================================*/
  /*====================================================================
*    TEMPLATE E
/*==================================================================*/
  /*====================================================================
*    TEMPLATE F
/*==================================================================*/
  /*====================================================================
*    TEMPLATE J
/*==================================================================*/
  /*====================================================================
*    ALL
/*==================================================================*/
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap {
  margin-bottom: 80px;
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap_pic {
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap_pic {
    margin-bottom: 10px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap_ttl {
  line-height: 1;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap_ttl {
    line-height: 24px;
    margin-bottom: 10px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap_txt {
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap_txt {
    margin-bottom: 20px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .E-wrap_txt {
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .E-wrap_txt {
    width: 100%;
    margin-bottom: 20px;
    font-size: 13px;
    line-height: 1;
  }
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .E-wrap_txt a {
    font-size: 13px;
    line-height: 1;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .F-wrap_box {
  padding-top: 0;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .F-wrap_box {
    padding-top: 0;
    margin-bottom: 0;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .F-wrap_box--txt {
  font-size: 12px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .F-wrap_box--txt {
    font-size: 13px;
    line-height: 24px;
    margin: 10px 0 0 20px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .F-wrap_box--txt a {
  font-size: 12px;
  display: inline;
  text-decoration: underline;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .F-wrap_box--txt a {
    font-size: 13px;
    line-height: 24px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .F-wrap_box--sub {
  margin: 336px 0 0 0;
}

@media (max-width: 1060px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .F-wrap_box--sub {
    margin: 157px 0 0 0;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .J-wrap {
  position: relative;
  margin-bottom: 120px;
  background: #FAFAFA;
  padding: 40px 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .J-wrap {
    width: 89.33%;
    margin: 0 auto 80px;
    padding: 20px 20px 16px 20px;
    display: block;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .J-wrap_pic {
  width: 100px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .J-wrap_pic {
    width: calc(160* (100vw / 750));
    margin-bottom: 20px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .J-wrap_txt {
  width: 550px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .J-wrap_txt {
    width: 100%;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .J-wrap_txt--ttl {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .J-wrap_txt--ttl {
    margin: 0;
    position: absolute;
    top: calc(100* (100vw / 750));
    left: calc(230* (100vw / 750));
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .J-wrap_txt--ttl .snsArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 96px;
  margin-left: 20px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .J-wrap_txt--ttl .snsArea {
    width: calc(154* (100vw / 750));
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .J-wrap_txt--ttl .snsArea_ig {
  width: 18px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .J-wrap_txt--ttl .snsArea_ig {
    width: calc(37* (100vw / 750));
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .J-wrap_txt--ttl .snsArea_fb {
  width: 10px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .J-wrap_txt--ttl .snsArea_fb {
    width: calc(20* (100vw / 750));
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .J-wrap_txt--ttl .snsArea_tw {
  width: 18px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .J-wrap_txt--ttl .snsArea_tw {
    width: calc(37* (100vw / 750));
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .J-wrap_txt--ttl p {
  line-height: 1;
  font-size: 16px;
  font-weight: 700;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .J-wrap_txt--ttl p {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .J-wrap_txt--cts {
    font-size: 14px;
    line-height: 24px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .J-wrap_txt--cts a {
  display: inline;
  text-decoration: underline;
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea_btn {
  margin: 0 auto 160px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea_btn {
    margin: 0 auto 100px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .latestArea_box--list .archiveTtl {
  line-height: 2;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .latestArea_box--list .archiveTtl {
    line-height: 21px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .latestArea {
  padding-top: 80px;
  border-top: 1px solid #CCCCCC;
}

#Wrap .LPpageWrap .journalWrap .journalWrap_item ul li a p span span {
  display: inline;
  margin-top: 0;
  color: #AD2E24;
  text-decoration: line-through;
}

/*# sourceMappingURL=common.css.map */