@charset  "utf-8";

$bp1100: 1100px;  // スマホ

@mixin bp1100 {
  @media (max-width: ($bp1100)) {
    @content;
  }
}

$bp1060: 1060px;  // スマホ

@mixin bp1060 {
  @media (max-width: ($bp1060)) {
    @content;
  }
}

$bp768: 768px;  // スマホ

@mixin bp768 {
  @media (max-width: ($bp768)) {
    @content;
  }
}

.pc_inline {
	display: inline!important;

	@include bp768 {
		display: none!important;
	};
}

.sp_inline {
  display: none!important;

	@include bp768 {
		display: inline!important;
	};
}

#Wrap{
	.LPpageWrap{

/*====================================================================
*    ALL
/*==================================================================*/
		.journalWrap {

			.journalWrap_cts{

				.mainArea{
					margin-bottom: 40px;
				
					@include bp768 {
						margin-bottom: 80px;
					};
				}

				.ctsArea{

/*====================================================================
*    TEMPLATE A
/*==================================================================*/
					
					.A-wrap{
						margin-bottom: 80px;
					}

					.A-wrap_pic{
						margin-bottom: 15px;

						@include bp768 {
							margin-bottom: 10px;
						};
					}

					.A-wrap_ttl{
						line-height: 1;
						margin-bottom: 15px;

						@include bp768 {
							line-height: 24px;
							margin-bottom: 10px;
						};
					}

					.A-wrap_txt{
						margin-bottom: 40px;

						@include bp768 {
							margin-bottom: 20px;
						};
					}

/*====================================================================
*    TEMPLATE E
/*==================================================================*/

					.E-wrap_txt{
						margin-bottom: 40px;

						@include bp768 {
							width: 100%;
							margin-bottom: 20px;
							font-size: 13px;
							line-height: 1;
						};

						a{
							@include bp768 {
								font-size: 13px;
								line-height: 1;
							};
						}
					}

/*====================================================================
*    TEMPLATE F
/*==================================================================*/

					.F-wrap_box{
						padding-top: 0;

						@include bp768 {
							padding-top: 0;
							margin-bottom: 0;
						};
					}

					.F-wrap_box--txt{
						font-size: 12px;
						margin-top: 10px;

						@include bp768 {
							font-size: 13px;
							line-height: 24px;
							margin: 10px 0 0 20px;
						};

						a{
							font-size: 12px;
							display: inline;
							text-decoration: underline;

							@include bp768 {
								font-size: 13px;
								line-height: 24px;
							};
						}
					}

					.F-wrap_box--sub{
						margin: 336px 0 0 0;

						@include bp1060 {
							margin: 157px 0 0 0;
						};
					}

/*====================================================================
*    TEMPLATE J
/*==================================================================*/
					
					.J-wrap{
						position: relative;
						margin-bottom: 120px;
						background: #FAFAFA;
						padding: 40px 30px;
						box-sizing: border-box;
						display: flex;
						justify-content: space-between;

						@include bp768 {
							width: 89.33%;
							margin: 0 auto 80px;
							padding: 20px 20px 16px 20px;
							display: block;
						};

						&_pic{
							width: 100px;

							@include bp768 {
								width: calc(160* (100vw / 750));
								margin-bottom: 20px;
							};
						}

						&_txt{
							width: 550px;

							@include bp768 {
								width: 100%;
							};

							&--ttl{
								margin-bottom: 15px;
								display: flex;

								@include bp768 {
									margin: 0;
									position: absolute;
									top: calc(100* (100vw / 750));
									left: calc(230* (100vw / 750));
								};

								.snsArea{
									display: flex;
									justify-content: space-between;
									width: 96px;
									margin-left: 20px;

									@include bp768 {
										width: calc(154* (100vw / 750));
									};

									&_ig{
										width: 18px;

										@include bp768 {
											width: calc(37* (100vw / 750));
										};
									}

									&_fb{
										width: 10px;

										@include bp768 {
											width: calc(20* (100vw / 750));
										};
									}

									&_tw{
										width: 18px;

										@include bp768 {
											width: calc(37* (100vw / 750));
										};
									}
								}

								p{
									line-height: 1;
									font-size: 16px;
									font-weight: 700;

									@include bp768 {
										font-size: 14px;
									};
								}
							}

							&--cts{
								@include bp768 {
									font-size: 14px;
									line-height: 24px;
								};

								a{
									display: inline;
									text-decoration: underline;
								}
							}
						}
					}

/*====================================================================
*    ALL
/*==================================================================*/

					&_btn{
						margin: 0 auto 160px;

						@include bp768 {
							margin: 0 auto 100px;
						};
					}

					.latestArea{
						&_box{
							&--list{
								.archiveTtl{
									line-height: 2;

									@include bp768 {
										line-height: 21px;
									};
								}
							}
						}
					}

					.latestArea{
						padding-top: 80px;
						border-top: 1px solid #CCCCCC;
					}
				}
			}

			.journalWrap_item{
				ul{
					li{
						a{
							p{
								span{
									span{
										display: inline;
										margin-top: 0;
										color: #AD2E24;
										text-decoration: line-through;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}