@charset "UTF-8";
@font-face {
  font-family: 'Times';
  src: url("../../../../../Font/Times.eot");
  src: url("../../../../../Font/Times.eot?#iefix") format("embedded-opentype"), url("../../../../../Font/Times.woff") format("woff"), url("../../../../../Font/Times.ttf") format("truetype");
}

body {
  padding: 0;
  margin: 0;
}

/*====================================================================
*    Responsive
/*==================================================================*/
.pc_contents {
  display: block !important;
}

@media (max-width: 768px) {
  .pc_contents {
    display: none !important;
  }
}

.sp_contents {
  display: none !important;
}

@media (max-width: 768px) {
  .sp_contents {
    display: block !important;
  }
}

#Wrap .LPpageWrap {
  /*====================================================================
*    ALL
/*==================================================================*/
}

#Wrap .LPpageWrap .journalWrap {
  width: 1060px;
  margin: 0 auto;
  color: #333;
  font-size: 13px;
  line-height: 2;
  letter-spacing: 0.03em;
  font-family: "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, Lato, "Noto Sans JP", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  /*====================================================================
*    着用アイテムはこちら
/*==================================================================*/
}

@media (max-width: 1060px) {
  #Wrap .LPpageWrap .journalWrap {
    width: 93%;
  }
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap {
    width: 100%;
    font-size: 14px;
    line-height: 24px;
  }
}

#Wrap .LPpageWrap .journalWrap ul {
  margin: 0;
  padding: 0;
}

#Wrap .LPpageWrap .journalWrap ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#Wrap .LPpageWrap .journalWrap p {
  margin: 0;
  padding: 0;
  line-height: 2;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap p {
    line-height: 24px;
  }
}

#Wrap .LPpageWrap .journalWrap a {
  text-decoration: none;
  color: #333;
  font-weight: 300;
  display: block;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

#Wrap .LPpageWrap .journalWrap img {
  width: 100%;
  display: block;
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts {
  width: 730px;
  /*====================================================================
*    MAIN VISUAL
/*==================================================================*/
}

@media (max-width: 1060px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts {
    width: 100%;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .mainArea {
  margin-bottom: 72px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .mainArea {
    margin-bottom: 80px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .mainArea_ttl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 28px 0 40px;
  padding-bottom: 27px;
  border-bottom: 1px solid #ccc;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .mainArea_ttl {
    display: block;
    width: 89.33%;
    margin: 20px auto 40px;
    padding-bottom: 20px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .mainArea_ttl--txt {
  width: 470px;
  padding: 12px 0;
  position: relative;
}

@media (max-width: 1060px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .mainArea_ttl--txt {
    width: 70%;
  }
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .mainArea_ttl--txt {
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .mainArea_ttl--txt .journalCat {
  font-size: 14px;
  color: #888888;
  line-height: 1;
  font-family: interstate, sans-serif;
  font-weight: 500;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .mainArea_ttl--txt .journalCat {
    font-size: 13.5px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .mainArea_ttl--txt h2 {
  font-size: 16px;
  letter-spacing: 0.03em;
  font-weight: bold;
  line-height: 28px;
  color: #333;
  text-align: left;
  margin: 10px 0;
  font-family: "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, Lato, "Noto Sans JP", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .mainArea_ttl--txt h2 {
    line-height: 24px;
    margin: 10px 0;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .mainArea_ttl--txt .journalDate {
  font-size: 12px;
  color: #888888;
  line-height: 1;
  font-family: interstate, sans-serif;
  font-weight: 500;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .mainArea_ttl--txt .journalDate {
    font-size: 11px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .mainArea_ttl--txt::after {
  content: "";
  position: absolute;
  top: 0;
  right: -13px;
  bottom: 0;
  width: 1px;
  background: #ccc;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .mainArea_ttl--txt::after {
    content: none;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .mainArea_ttl--sns {
  width: 246px;
  text-align: center;
}

@media (max-width: 1060px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .mainArea_ttl--sns {
    width: 30%;
  }
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .mainArea_ttl--sns {
    width: 198px;
    margin: 0 5.5px 0 auto;
    text-align: right;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .mainArea_ttl--sns li {
  display: inline-block;
  vertical-align: middle;
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .mainArea_ttl--sns li p {
  color: #5D5D5D;
  font-size: 11px;
  letter-spacing: 0.08em;
  line-height: 1;
  font-family: interstate, sans-serif;
  font-weight: 400;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .mainArea_ttl--sns li p {
    letter-spacing: 0;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .mainArea_ttl--sns li:nth-child(2) {
  width: 16px;
  margin: 0 16px 0 20px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .mainArea_ttl--sns li:nth-child(2) {
    width: 18.5px;
    margin: 0 15px 0 20px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .mainArea_ttl--sns li:nth-child(3) {
  width: 8.5px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .mainArea_ttl--sns li:nth-child(3) {
    width: 9.5px;
  }
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .mainArea_lead {
    width: 89.33%;
    margin: 0 auto;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea {
  /*====================================================================
*    TEMPLATE A
/*==================================================================*/
  /*====================================================================
*    TEMPLATE B
/*==================================================================*/
  /*====================================================================
*    TEMPLATE C
/*==================================================================*/
  /*====================================================================
*    TEMPLATE D
/*==================================================================*/
  /*====================================================================
*    TEMPLATE E
/*==================================================================*/
  /*====================================================================
*    TEMPLATE F
/*==================================================================*/
  /*====================================================================
*    ALL
/*==================================================================*/
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap {
  margin-bottom: 120px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap {
    width: 89.33%;
    margin: 0 auto 80px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap_pic {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap_pic {
    margin-bottom: 10px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap_ttl {
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap_ttl {
    line-height: 24px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap_ttl a {
  text-decoration: underline;
  font-weight: bold;
  display: inline;
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap_txt {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap_txt {
    margin-bottom: 10px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap_txt a {
  display: inline;
  text-decoration: underline;
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap_detail {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap_detail {
    margin-bottom: 10px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap_detail--box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #FAFAFA;
  padding: 16px 20px;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap_detail--box {
    padding: 10px 10px 45px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap_detail--box--pic {
  width: 80px;
  margin-right: 20px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap_detail--box--pic {
    width: 22.22%;
    margin-right: 10px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap_detail--box--txt {
  width: 430px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap_detail--box--txt {
    width: 74.6%;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap_detail--box--txt .detailTtl {
  line-height: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap_detail--box--txt .detailTtl {
    line-height: 20px;
    margin-bottom: 5px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap_detail--box--txt .detailPrice {
  line-height: 1;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap_detail--box--txt .detailPrice {
    margin-bottom: 10px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap_detail--box--txt .detailTxt {
  font-size: 10px;
  line-height: 20px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap_detail--box--txt .detailTxt {
    line-height: 15px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap_detail--btn {
  width: 120px;
  height: 30px;
  line-height: 30px;
  background: #333;
  border-radius: 2px;
  color: #fff;
  font-family: interstate, sans-serif;
  font-weight: 500;
  font-size: 11px;
  text-align: center;
  border: 1px solid #333;
  position: absolute;
  bottom: 16px;
  right: 20px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap_detail--btn {
    width: 90px;
    height: 25px;
    line-height: 25px;
    font-size: 10.5px;
    bottom: 10px;
    right: 10px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap_detail--btn:hover {
  background: #fff;
  color: #333;
  border: 1px solid #333;
  opacity: 1;
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .B-wrap {
  margin-bottom: 120px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .B-wrap {
    width: 89.33%;
    margin: 0 auto 80px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .B-wrap_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .B-wrap_box {
    margin-bottom: 80px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .B-wrap_box--txt {
  width: 355px;
}

@media (max-width: 1060px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .B-wrap_box--txt {
    width: 47.01%;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .B-wrap_ttl {
  margin-bottom: 20px;
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .B-wrap_lead {
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .B-wrap_lead {
    line-height: 24px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .B-wrap_lead a {
  text-decoration: underline;
  font-weight: bold;
  display: inline;
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .B-wrap_txt {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .B-wrap_txt {
    margin-bottom: 10px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .B-wrap_txt a {
  display: inline;
  text-decoration: underline;
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .B-wrap_detail {
  width: 100%;
  position: relative;
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .B-wrap_detail--box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FAFAFA;
  padding: 16px 20px 60px;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .B-wrap_detail--box {
    padding: 10px 10px 45px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .B-wrap_detail--box--pic {
  width: 60px;
  margin-right: 20px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .B-wrap_detail--box--pic {
    width: 22.22%;
    margin-right: 10px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .B-wrap_detail--box--txt {
  width: 235px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .B-wrap_detail--box--txt {
    width: 74.6%;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .B-wrap_detail--box--txt .detailTtl {
  line-height: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .B-wrap_detail--box--txt .detailTtl {
    line-height: 20px;
    margin-bottom: 5px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .B-wrap_detail--box--txt .detailPrice {
  line-height: 1;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .B-wrap_detail--box--txt .detailPrice {
    margin-bottom: 10px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .B-wrap_detail--box--txt .detailTxt {
  font-size: 10px;
  line-height: 20px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .B-wrap_detail--box--txt .detailTxt {
    line-height: 15px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .B-wrap_detail--btn {
  width: 120px;
  height: 30px;
  line-height: 30px;
  background: #333;
  border-radius: 2px;
  color: #fff;
  font-family: interstate, sans-serif;
  font-weight: 500;
  font-size: 11px;
  text-align: center;
  border: 1px solid #333;
  position: absolute;
  bottom: 16px;
  right: 20px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .B-wrap_detail--btn {
    width: 90px;
    height: 25px;
    line-height: 25px;
    font-size: 10.5px;
    bottom: 10px;
    right: 10px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .B-wrap_detail--btn:hover {
  background: #fff;
  color: #333;
  border: 1px solid #333;
  opacity: 1;
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .B-wrap_box--pic {
  width: 355px;
}

@media (max-width: 1060px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .B-wrap_box--pic {
    width: 50%;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .B-wrap_sp_noFlex {
    display: block;
  }
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .B-wrap_sp_noFlex .B-wrap_lead {
    text-align: center;
  }
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .B-wrap_sp_noFlex .B-wrap_box--txt {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .B-wrap_sp_noFlex .B-wrap_ttl {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .B-wrap_sp_noFlex .B-wrap_box--pic {
    width: 100%;
    margin-bottom: 10px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .C-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 120px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .C-wrap {
    width: 89.33%;
    margin: 0 auto 80px;
    display: block;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .C-wrap_list {
  width: 355px;
}

@media (max-width: 1060px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .C-wrap_list {
    width: 48%;
  }
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .C-wrap_list {
    width: 100%;
    margin: 0 auto 40px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .C-wrap_pic {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .C-wrap_pic {
    margin-bottom: 10px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .C-wrap_ttl {
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .C-wrap_ttl {
    line-height: 24px;
    text-align: center;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .C-wrap_ttl a {
  text-decoration: underline;
  font-weight: bold;
  display: inline;
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .C-wrap_txt {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .C-wrap_txt {
    margin-bottom: 10px;
    text-align: center;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .C-wrap_txt a {
  display: inline;
  text-decoration: underline;
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .C-wrap_detail {
  width: 100%;
  position: relative;
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .C-wrap_detail--box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FAFAFA;
  padding: 16px 20px 60px;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .C-wrap_detail--box {
    padding: 10px 10px 45px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .C-wrap_detail--box--pic {
  width: 60px;
  margin-right: 20px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .C-wrap_detail--box--pic {
    width: 22.22%;
    margin-right: 10px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .C-wrap_detail--box--txt {
  width: 235px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .C-wrap_detail--box--txt {
    width: 74.6%;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .C-wrap_detail--box--txt .detailTtl {
  line-height: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .C-wrap_detail--box--txt .detailTtl {
    line-height: 20px;
    margin-bottom: 5px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .C-wrap_detail--box--txt .detailPrice {
  line-height: 1;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .C-wrap_detail--box--txt .detailPrice {
    margin-bottom: 10px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .C-wrap_detail--box--txt .detailTxt {
  font-size: 10px;
  line-height: 20px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .C-wrap_detail--box--txt .detailTxt {
    line-height: 15px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .C-wrap_detail--btn {
  width: 120px;
  height: 30px;
  line-height: 30px;
  background: #333;
  border-radius: 2px;
  color: #fff;
  font-family: interstate, sans-serif;
  font-weight: 500;
  font-size: 11px;
  text-align: center;
  border: 1px solid #333;
  position: absolute;
  bottom: 16px;
  right: 20px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .C-wrap_detail--btn {
    width: 90px;
    height: 25px;
    line-height: 25px;
    font-size: 10.5px;
    bottom: 10px;
    right: 10px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .C-wrap_detail--btn:hover {
  background: #fff;
  color: #333;
  border: 1px solid #333;
  opacity: 1;
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .D-wrap {
  position: relative;
  margin-bottom: 120px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .D-wrap {
    margin: 0 auto 80px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .D-wrap_ttl {
  width: 350px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .D-wrap_ttl {
    width: 50%;
    left: 3px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .D-wrap_pic {
  width: 540px;
  margin: 0 0 0 auto;
  padding-top: 24px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .D-wrap_pic {
    width: 72%;
    padding-top: 9px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .D-wrap_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: -120px 0 0 10px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .D-wrap_box {
    margin: -60px 0 0 0;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .D-wrap_box--pic {
  width: 280px;
  position: relative;
  z-index: 2;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .D-wrap_box--pic {
    width: 37.33%;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .D-wrap_box--txt {
  width: 430px;
  margin-top: 135px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .D-wrap_box--txt {
    width: 54.67%;
    margin: 78px 20px 0 0;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .D-wrap_box--txt p {
  font-size: 12px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .D-wrap_box--txt p {
    font-size: 11px;
    line-height: 2;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .D-wrap_box--txt p a {
  font-size: 12px;
  display: inline;
  text-decoration: underline;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .D-wrap_box--txt p a {
    font-size: 11px;
    line-height: 2;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .E-wrap {
  position: relative;
  margin-bottom: 120px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .E-wrap {
    margin: 0 auto 80px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .E-wrap_pic {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .E-wrap_pic {
    margin-bottom: 15px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .E-wrap_txt {
  margin-bottom: 10px;
  font-size: 12px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .E-wrap_txt {
    font-size: 11px;
    line-height: 2;
    width: 89.33%;
    margin: 0 auto 10px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .E-wrap_txt a {
  font-size: 12px;
  display: inline;
  text-decoration: underline;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .E-wrap_txt a {
    font-size: 11px;
    line-height: 2;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .F-wrap {
  position: relative;
  margin-bottom: 120px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .F-wrap {
    margin: 0 auto 80px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .F-wrap_ttl {
  width: 416px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

@media (max-width: 1060px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .F-wrap_ttl {
    width: 50.27%;
    right: 39px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .F-wrap_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 0 20px;
  padding-top: 26px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .F-wrap_box {
    margin: 0 0 10px;
    padding-top: 11px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .F-wrap_box--main {
  width: 410px;
}

@media (max-width: 1060px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .F-wrap_box--main {
    width: 54.67%;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .F-wrap_box--txt {
  font-size: 12px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .F-wrap_box--txt {
    font-size: 11px;
    line-height: 2;
    margin: 15px 0 0 20px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .F-wrap_box--txt a {
  font-size: 12px;
  display: inline;
  text-decoration: underline;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .F-wrap_box--txt a {
    font-size: 11px;
    line-height: 2;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .F-wrap_box--sub {
  width: 280px;
  margin: 336px 10px 0 0;
}

@media (max-width: 1060px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .F-wrap_box--sub {
    width: 40%;
    margin: 157px 0 0 0;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea_btn {
  width: 320px;
  margin: 0 auto 235px;
  background: #333;
  color: #fff;
  text-align: center;
  position: relative;
  padding: 15px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 16px;
  font-weight: bold;
  border: 1px solid #333;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea_btn {
    width: 89.33%;
    margin: 0 auto 80px;
    padding: 15px 0;
    line-height: 24px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea_btn::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  margin: auto;
  z-index: 1;
  display: block;
  width: 7px;
  height: 7px;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea_btn::after {
    right: 15px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea_btn:hover {
  border: 1px solid #333;
  background: #fff;
  color: #333;
  opacity: 1;
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea_btn:hover::after {
  border-top: 1px solid #333;
  border-right: 1px solid #333;
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .latestArea {
  margin-bottom: 120px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .latestArea {
    width: 89.33%;
    margin: 0 auto 80px;
    padding: 80px 0 0;
    border-top: 1px solid #ccc;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .latestArea_ttl {
  text-align: center;
  font-size: 22px;
  font-family: 'Times';
  line-height: 1;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .latestArea_ttl {
    font-size: 20px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .latestArea_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .latestArea_box--list {
  width: 350px;
}

@media (max-width: 1060px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .latestArea_box--list {
    width: 48.5%;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .latestArea_box--list .archiveTtl {
  font-size: 12px;
  font-weight: bold;
  line-height: 30px;
  margin: 10px 0 5px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .latestArea_box--list .archiveTtl {
    font-size: 14px;
    line-height: 24px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .latestArea_box--list .archiveDate {
  font-family: interstate, sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 1;
  color: #888888;
}

#Wrap .LPpageWrap .journalWrap .journalWrap_item {
  width: 280px;
  position: fixed;
  top: 125px;
  left: 50%;
  margin-left: 250px;
}

@media (max-width: 1060px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_item {
    display: none;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_item--ttl {
  line-height: 20px;
  font-weight: bold;
  margin-bottom: 25px;
}

#Wrap .LPpageWrap .journalWrap .journalWrap_item ul {
  border-top: 1px solid #CCCCCC;
  margin-bottom: 20px;
}

#Wrap .LPpageWrap .journalWrap .journalWrap_item ul li {
  padding: 10px 0;
  border-bottom: 1px solid #CCCCCC;
}

#Wrap .LPpageWrap .journalWrap .journalWrap_item ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#Wrap .LPpageWrap .journalWrap .journalWrap_item ul li a img {
  width: 60px;
}

#Wrap .LPpageWrap .journalWrap .journalWrap_item ul li a p {
  width: 200px;
  font-size: 12px;
  font-weight: bold;
}

#Wrap .LPpageWrap .journalWrap .journalWrap_item ul li a p span {
  line-height: 1;
  font-size: 12px;
  display: block;
  margin-top: 5px;
}

#Wrap .LPpageWrap .journalWrap .journalWrap_item--btn {
  width: 100%;
  margin: 0 auto;
  background: #333;
  color: #fff;
  border-radius: 2px;
  text-align: center;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  border: 1px solid #333;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

#Wrap .LPpageWrap .journalWrap .journalWrap_item--btn::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 15px;
  margin: auto;
  z-index: 1;
  display: block;
  width: 7px;
  height: 7px;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}

#Wrap .LPpageWrap .journalWrap .journalWrap_item--btn:hover {
  border: 1px solid #333;
  background: #fff;
  color: #333;
  opacity: 1;
}

#Wrap .LPpageWrap .journalWrap .journalWrap_item--btn:hover::after {
  border-top: 1px solid #333;
  border-right: 1px solid #333;
}

#Wrap .LPpageWrap .journalWrap .journalWrap_item.off {
  -webkit-animation: fade_out .5s ease .2s forwards;
  animation: fade_out .5s ease .2s forwards;
}

@-webkit-keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade_out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade_out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
