@charset  "utf-8";

$bp1100: 1100px;  // スマホ

@mixin bp1100 {
  @media (max-width: ($bp1100)) {
    @content;
  }
}

$bp1060: 1060px;  // スマホ

@mixin bp1060 {
  @media (max-width: ($bp1060)) {
    @content;
  }
}

$bp768: 768px;  // スマホ

@mixin bp768 {
  @media (max-width: ($bp768)) {
    @content;
  }
}

@font-face {
	font-family: 'Times';
    src: url("../../../../../Font/Times.eot");
    src: url("../../../../../Font/Times.eot?#iefix") format('embedded-opentype'),
         url("../../../../../Font/Times.woff") format('woff'),
         url("../../../../../Font/Times.ttf") format('truetype');
}

body{
	padding: 0;
	margin: 0;
}

/*====================================================================
*    Responsive
/*==================================================================*/

.pc_contents {
	display: block!important;

	@include bp768 {
		display: none!important;
	};
}

.sp_contents {
  display: none!important;

	@include bp768 {
		display: block!important;
	};
}

#Wrap{
	.LPpageWrap{

/*====================================================================
*    ALL
/*==================================================================*/
		.journalWrap {
			width: 1060px;
			margin: 0 auto;
			color: #333;
			font-size: 13px;
			line-height: 2;
			letter-spacing: 0.03em;
			font-family: "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, Lato, "Noto Sans JP", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
			-webkit-font-smoothing: antialiased;

			@include bp1060 {
				width: 93%;
				font-weight: 400;
				font-family: "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, Lato, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
			};

			@include bp768 {
				width: 100%;
				line-height: 24px;
			};

			ul{
				margin: 0;
				padding: 0;

				li{
					list-style-type: none;
					padding: 0;
					margin: 0;
				}
			}

			p{
				margin: 0;
				padding: 0;
				line-height: 2;

				@include bp768 {
					line-height: 24px;
					word-break: normal;
				};
			}

			a{
				text-decoration: none;
				color: #333;
				font-weight: 300;
				display: block;
				transition: .2s;
			}

			img{
				width: 100%;
				display: block;
			}

			.journalWrap_cts{
				width: 730px;

				@include bp1060 {
					width: 100%;
				};

/*====================================================================
*    MAIN VISUAL
/*==================================================================*/

				.mainArea{
					margin-bottom: 72px;
				
					@include bp768 {
						margin-bottom: 80px;
					};

					&_ttl{
						display: flex;
						justify-content: space-between;
						align-items: center;
						margin: 28px 0 40px;
						padding-bottom: 27px;
						border-bottom: 1px solid #ccc;
				
						@include bp768 {
							display: block;
							width: 89.33%;
							margin: 20px auto 40px;
							padding-bottom: 20px;
						};

						&--txt{
							width: 470px;
							padding: 12px 0;
							position: relative;

							@include bp1060 {
								width: 70%;
							};
				
							@include bp768 {
								width: 100%;
								padding: 0;
								margin-bottom: 10px;
							};

							.journalCat{
								font-size: 14px;
								color: #888888;
								line-height: 1;
								font-family: interstate, sans-serif;
								font-weight: 500;
				
								@include bp768 {
									font-size: 13.5px;
								};
							}

							h2{
								font-size: 16px;
								letter-spacing: 0.03em;
								font-weight: bold;
								line-height: 28px;
								color: #333;
								text-align: left;
								margin: 10px 0;
								font-family: "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, Lato, "Noto Sans JP", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
				
								@include bp768 {
									line-height: 24px;
									margin: 10px 0;
									font-weight: 500;
									font-family: "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, Lato, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
								};
							}

							.journalDate{
								font-size: 12px;
								color: #888888;
								line-height: 1;
								font-family: interstate, sans-serif;
								font-weight: 500;

								@include bp768 {
									font-size: 11px;
								};
							}

							&::after{
								content: "";
								position: absolute;
								top: 0;
								right: -13px;
								bottom: 0;
								width: 1px;
								background: #ccc;

								@include bp768 {
									content: none;
								};
							}
						}

						&--sns{
							width: 246px;
							text-align: center;

							@include bp1060 {
								width: 30%;
							};

							@include bp768 {
								width: 198px;
								margin: 0 5.5px 0 auto;
								text-align: right;
							};

							li{
								display: inline-block;
								vertical-align: middle;

								p{
									color: #5D5D5D;
									font-size: 11px;
									letter-spacing: 0.08em;
									line-height: 1;
									font-family: interstate, sans-serif;
									font-weight: 400;

									@include bp768 {
										letter-spacing: 0;
									};
								}

								&:nth-child(2){
									width: 16px;
									margin: 0 16px 0 20px;

									@include bp768 {
										width: 18.5px;
										margin: 0 15px 0 20px;
									};
								}

								&:nth-child(3){
									width: 8.5px;

									@include bp768 {
										width: 9.5px;
									};
								}
							}
						}
					}

					&_lead{
						@include bp768 {
							width: 89.33%;
							margin: 0 auto;
						};
					}
				}

				.ctsArea{

/*====================================================================
*    TEMPLATE A
/*==================================================================*/
					
					.A-wrap{
						margin-bottom: 120px;

						@include bp768 {
							width: 89.33%;
							margin: 0 auto 80px;
						};
					}

					.A-wrap_pic{
						margin-bottom: 20px;

						@include bp768 {
							margin-bottom: 10px;
						};
					}

					.A-wrap_ttl{
						font-size: 16px;
						line-height: 30px;
						font-weight: bold;
						margin-bottom: 10px;

						@include bp768 {
							line-height: 24px;
							font-weight: 500;
						};

						a{
							text-decoration: underline;
							font-weight: bold;
							display: inline;

							@include bp768 {
								font-weight: 500;
							};
						}
					}

					.A-wrap_txt{
						margin-bottom: 20px;

						@include bp768 {
							margin-bottom: 10px;
						};

						a{
							display: inline;
							text-decoration: underline;
						}
					}

					.A-wrap_detail{
						width: 100%;
						margin-bottom: 20px;
						position: relative;

						@include bp768 {
							margin-bottom: 10px;
						};
					}

					.A-wrap_detail--box{
						width: 100%;
						display: flex;
						align-items: center;
						background: #FAFAFA;
						padding: 16px 20px;
						border-radius: 2px;
						box-sizing: border-box;

						@include bp768 {
							padding: 10px 10px 45px;
						};
					}

					.A-wrap_detail--box--pic{
						width: 80px;
						margin-right: 20px;

						@include bp768 {
							width: 22.22%;
							margin-right: 10px;
						};
					}

					.A-wrap_detail--box--txt{
						width: 430px;

						@include bp768 {
							width: 74.6%;
						};

						.detailTtl{
							line-height: 22px;
							font-weight: bold;
							margin-bottom: 10px;

							@include bp768 {
								line-height: 20px;
								margin-bottom: 5px;
								font-weight: 500;
							};
						}

						.detailPrice{
							line-height: 1;
							margin-bottom: 15px;

							@include bp768 {
								margin-bottom: 10px;
							};
						}

						.detailTxt{
							font-size: 10px;
							line-height: 20px;

							@include bp768 {
								line-height: 15px;
							};
						}
					}

					.A-wrap_detail--btn{
						width: 120px;
						height: 30px;
						line-height: 30px;
						background: #333;
						border-radius: 2px;
						color: #fff;
						font-family: interstate, sans-serif;
						font-weight: 500;
						font-size: 11px;
						text-align: center;
						border: 1px solid #333;
						position: absolute;
						bottom: 16px;
						right: 20px;

						@include bp768 {
							width: 90px;
							height: 25px;
							line-height: 25px;
							font-size: 10.5px;
							bottom: 10px;
							right: 10px;
						};

						&:hover{
							background: #fff;
							color: #333;
							border: 1px solid #333;
							opacity: 1;
						}
					}

/*====================================================================
*    TEMPLATE B
/*==================================================================*/
					
					.B-wrap{
						margin-bottom: 120px;

						@include bp768 {
							width: 89.33%;
							margin: 0 auto 80px;
						};
					}
					
					.B-wrap_box{
						display: flex;
						justify-content: space-between;
						align-items: center;
						margin-bottom: 60px;

						@include bp768 {
							margin-bottom: 80px;
							flex-wrap: wrap;
						};
					}
					
					.B-wrap_box--txt{
						width: 355px;

						@include bp1060 {
							width: 47.01%;
						};
					}
					
					.B-wrap_ttl{
						margin-bottom: 20px;
					}

					.B-wrap_lead{
						font-size: 16px;
						line-height: 30px;
						font-weight: bold;
						margin-bottom: 10px;

						@include bp768 {
							line-height: 24px;
							font-weight: 500;
						};

						a{
							text-decoration: underline;
							font-weight: bold;
							display: inline;

							@include bp768 {
								font-weight: 500;
							};
						}
					}

					.B-wrap_txt{
						margin-bottom: 20px;

						@include bp768 {
							margin-bottom: 10px;
						};

						a{
							display: inline;
							text-decoration: underline;
						}
					}

					.B-wrap_detail{
						width: 100%;
						position: relative;
					}

					.B-wrap_detail--box{
						width: 100%;
						display: flex;
						background: #FAFAFA;
						padding: 16px 20px 60px;
						border-radius: 2px;
						box-sizing: border-box;

						@include bp768 {
							padding: 10px 10px 45px;
						};
					}

					.B-wrap_detail--box--pic{
						width: 60px;
						margin-right: 20px;

						@include bp768 {
							width: 22.22%;
							margin-right: 10px;
						};
					}

					.B-wrap_detail--box--txt{
						width: 235px;

						@include bp768 {
							width: 74.6%;
						};

						.detailTtl{
							line-height: 22px;
							font-weight: bold;
							margin-bottom: 10px;

							@include bp768 {
								line-height: 20px;
								margin-bottom: 5px;
								font-weight: 500;
							};
						}

						.detailPrice{
							line-height: 1;
							margin-bottom: 15px;

							@include bp768 {
								margin-bottom: 10px;
							};
						}

						.detailTxt{
							font-size: 10px;
							line-height: 20px;

							@include bp768 {
								line-height: 15px;
							};
						}
					}

					.B-wrap_detail--btn{
						width: 120px;
						height: 30px;
						line-height: 30px;
						background: #333;
						border-radius: 2px;
						color: #fff;
						font-family: interstate, sans-serif;
						font-weight: 500;
						font-size: 11px;
						text-align: center;
						border: 1px solid #333;
						position: absolute;
						bottom: 16px;
						right: 20px;

						@include bp768 {
							width: 90px;
							height: 25px;
							line-height: 25px;
							font-size: 10.5px;
							bottom: 10px;
							right: 10px;
						};

						&:hover{
							background: #fff;
							color: #333;
							border: 1px solid #333;
							opacity: 1;
						}
					}
					
					.B-wrap_box--pic{
						width: 355px;

						@include bp1060 {
							width: 50%;
							margin-bottom: 10px;
						};
					}

					.B-wrap_sp_noFlex{
						@include bp768 {
							display: block;
						};

						.B-wrap_lead{
							@include bp768 {
								text-align: center;
							};
						}

						.B-wrap_box--txt{
							@include bp768 {
								width: 100%;
							};
						}
						
						.B-wrap_ttl{
							@include bp768 {
								margin-bottom: 20px;
							};
						}

						.B-wrap_box--pic{
							@include bp768 {
								width: 100%;
								margin-bottom: 10px;
							};
						}
					}

/*====================================================================
*    TEMPLATE C
/*==================================================================*/
					
					.C-wrap{
						display: flex;
						justify-content: space-between;
						margin-bottom: 120px;

						@include bp768 {
							width: 89.33%;
							margin: 0 auto 80px;
							display: block;
						};
					}

					.C-wrap_list{
						width: 355px;

						@include bp1060 {
							width: 48%;
						};

						@include bp768 {
							width: 100%;
							margin: 0 auto 40px;
						};
					}

					.C-wrap_pic{
						margin-bottom: 20px;

						@include bp768 {
							margin-bottom: 10px;
						};
					}

					.C-wrap_ttl{
						font-size: 16px;
						line-height: 30px;
						font-weight: bold;
						margin-bottom: 10px;

						@include bp768 {
							line-height: 24px;
							text-align: center;
							font-weight: 500;
						};

						a{
							text-decoration: underline;
							font-weight: bold;
							display: inline;

							@include bp768 {
								font-weight: 500;
							};
						}
					}

					.C-wrap_txt{
						margin-bottom: 20px;

						@include bp768 {
							margin-bottom: 10px;
							text-align: center;
						};

						a{
							display: inline;
							text-decoration: underline;
						}
					}

					.C-wrap_detail{
						width: 100%;
						position: relative;
					}

					.C-wrap_detail--box{
						width: 100%;
						display: flex;
						background: #FAFAFA;
						padding: 16px 20px 60px;
						border-radius: 2px;
						box-sizing: border-box;

						@include bp768 {
							padding: 10px 10px 45px;
						};
					}

					.C-wrap_detail--box--pic{
						width: 60px;
						margin-right: 20px;

						@include bp768 {
							width: 22.22%;
							margin-right: 10px;
						};
					}

					.C-wrap_detail--box--txt{
						width: 235px;

						@include bp768 {
							width: 74.6%;
						};

						.detailTtl{
							line-height: 22px;
							font-weight: bold;
							margin-bottom: 10px;

							@include bp768 {
								line-height: 20px;
								margin-bottom: 5px;
								font-weight: 500;
							};
						}

						.detailPrice{
							line-height: 1;
							margin-bottom: 15px;

							@include bp768 {
								margin-bottom: 10px;
							};
						}

						.detailTxt{
							font-size: 10px;
							line-height: 20px;

							@include bp768 {
								line-height: 15px;
							};
						}
					}

					.C-wrap_detail--btn{
						width: 120px;
						height: 30px;
						line-height: 30px;
						background: #333;
						border-radius: 2px;
						color: #fff;
						font-family: interstate, sans-serif;
						font-weight: 500;
						font-size: 11px;
						text-align: center;
						border: 1px solid #333;
						position: absolute;
						bottom: 16px;
						right: 20px;

						@include bp768 {
							width: 90px;
							height: 25px;
							line-height: 25px;
							font-size: 10.5px;
							bottom: 10px;
							right: 10px;
						};

						&:hover{
							background: #fff;
							color: #333;
							border: 1px solid #333;
							opacity: 1;
						}
					}

/*====================================================================
*    TEMPLATE D
/*==================================================================*/
					
					.D-wrap{
						position: relative;
						margin-bottom: 120px;

						@include bp768 {
							margin: 0 auto 80px;
						};
					}

					.D-wrap_ttl{
						width: 350px;
						position: absolute;
						top: 0;
						left: 0;
						z-index: 3;

						@include bp768 {
							width: 50%;
							left: 3px;
						};
					}

					.D-wrap_pic{
						width: 540px;
						margin: 0 0 0 auto;
						padding-top: 24px;

						@include bp768 {
							width: 72%;
							padding-top: 9px;
						};
					}

					.D-wrap_box{
						display: flex;
						justify-content: space-between;
						margin: -120px 0 0 10px;

						@include bp768 {
							margin: -60px 0 0 0;
						};
					}

					.D-wrap_box--pic{
						width: 280px;
						position: relative;
						z-index: 2;

						@include bp768 {
							width: 37.33%;
						};
					}

					.D-wrap_box--txt{
						width: 430px;
						margin-top: 135px;

						@include bp768 {
							width: 54.67%;
							margin: 78px 20px 0 0;
						};

						p{
							font-size: 12px;

							@include bp768 {
								font-size: 11px;
								line-height: 2;
							};

							a{
								font-size: 12px;
								display: inline;
								text-decoration: underline;

								@include bp768 {
									font-size: 11px;
									line-height: 2;
								};
							}
						}
					}

/*====================================================================
*    TEMPLATE E
/*==================================================================*/
					
					.E-wrap{
						position: relative;
						margin-bottom: 120px;

						@include bp768 {
							margin: 0 auto 80px;
						};
					}

					.E-wrap_pic{
						margin-bottom: 10px;

						@include bp768 {
							margin-bottom: 15px;
						};
					}

					.E-wrap_txt{
						margin-bottom: 10px;
						font-size: 12px;

						@include bp768 {
							font-size: 11px;
							line-height: 2;
							width: 89.33%;
							margin: 0 auto 10px;
						};

						a{
							font-size: 12px;
							display: inline;
							text-decoration: underline;

							@include bp768 {
								font-size: 11px;
								line-height: 2;
							};
						}
					}

/*====================================================================
*    TEMPLATE F
/*==================================================================*/
					
					.F-wrap{
						position: relative;
						margin-bottom: 120px;

						@include bp768 {
							margin: 0 auto 80px;
						};
					}

					.F-wrap_ttl{
						width: 416px;
						position: absolute;
						top: 0;
						right: 0;
						z-index: 2;

						@include bp1060 {
							width: 50.27%;
							right: 39px;
						};
					}

					.F-wrap_box{
						display: flex;
						justify-content: space-between;
						margin: 0 0 20px;
						padding-top: 26px;

						@include bp768 {
							margin: 0 0 10px;
							padding-top: 11px;
						};
					}

					.F-wrap_box--main{
						width: 410px;

						@include bp1060 {
							width: 54.67%;
						};
					}

					.F-wrap_box--txt{
						font-size: 12px;
						margin-top: 10px;

						@include bp768 {
							font-size: 11px;
							line-height: 2;
							margin: 15px 0 0 20px;
						};

						a{
							font-size: 12px;
							display: inline;
							text-decoration: underline;

							@include bp768 {
								font-size: 11px;
								line-height: 2;
							};
						}
					}

					.F-wrap_box--sub{
						width: 280px;
						margin: 336px 10px 0 0;

						@include bp1060 {
							width: 40%;
							margin: 157px 0 0 0;
						};
					}

/*====================================================================
*    TEMPLATE H
/*==================================================================*/
					
					.H-wrap{
						width: 540px;
						position: relative;
						margin: 0 0 120px auto;

						@include bp768 {
							width: 72%;
							margin: 0 0 80px auto;
						};
					}

					.H-wrap_pic{
						margin-bottom: 10px;

						@include bp768 {
							margin-bottom: 15px;
						};
					}

					.H-wrap_txt{
						margin-bottom: 10px;
						font-size: 12px;

						@include bp768 {
							font-size: 11px;
							line-height: 2;
							margin: 0 20px 10px 0;
						};

						a{
							font-size: 12px;
							display: inline;
							text-decoration: underline;

							@include bp768 {
								font-size: 11px;
								line-height: 2;
							};
						}
					}

/*====================================================================
*    TEMPLATE I
/*==================================================================*/
					
					.I-wrap{
						position: relative;
						margin-bottom: 120px;
						background: #FAFAFA;
						padding: 40px 30px;
						box-sizing: border-box;
						display: flex;
						justify-content: space-between;

						@include bp768 {
							width: 89.33%;
							margin: 0 auto 80px;
							padding: 20px 20px 16px 20px;
							display: block;
						};

						&_pic{
							width: 100px;

							@include bp768 {
								width: calc(160* (100vw / 750));
								margin-bottom: 20px;
							};
						}

						&_txt{
							width: 550px;

							@include bp768 {
								width: 100%;
							};

							&--ttl{
								margin-bottom: 20px;
								display: flex;

								@include bp768 {
									margin: 0;
									position: absolute;
									top: calc(100* (100vw / 750));
									left: calc(230* (100vw / 750));
								};

								.snsArea{
									display: flex;
									justify-content: space-between;
									width: 96px;
									margin-left: 20px;

									@include bp768 {
										width: calc(154* (100vw / 750));
									};

									&_ig{
										width: 18px;

										@include bp768 {
											width: calc(37* (100vw / 750));
										};
									}

									&_fb{
										width: 10px;

										@include bp768 {
											width: calc(20* (100vw / 750));
										};
									}

									&_tw{
										width: 18px;

										@include bp768 {
											width: calc(37* (100vw / 750));
										};
									}
								}

								p{
									line-height: 1;
									font-size: 16px;
									font-weight: 700;

									@include bp768 {
										font-size: 14px;
									};
								}
							}

							&--cts{
								@include bp768 {
									font-size: 14px;
									line-height: 24px;
								};

								a{
									display: inline;
									text-decoration: underline;
								}
							}
						}
					}

/*====================================================================
*    ALL
/*==================================================================*/

					&_btn{
						width: 320px;
						margin: 0 auto 235px;
						background: #333;
						color: #fff;
						text-align: center;
						position: relative;
						padding: 15px 0;
						box-sizing: border-box;
						line-height: 16px;
						font-weight: bold;
						border: 1px solid #333;
						transition: .2s;

						@include bp768 {
							width: 89.33%;
							margin: 0 auto 80px;
							padding: 12px 0;
							line-height: 24px;
							font-weight: 500;
						};

						&::after{
						    content: "";
						    position: absolute;
						    top: 0;
						    bottom: 0;
						    right: 20px;
						    margin: auto;
						    z-index: 1;
						    display: block;
						    width: 7px;
						    height: 7px;
						    -moz-transform: rotate(45deg);
						    -webkit-transform: rotate(45deg);
						    transform: rotate(45deg);
						    border-top: 1px solid #fff;
						    border-right: 1px solid #fff;

							@include bp768 {
						    	right: 15px;
							};
						}

						&:hover{
							border: 1px solid #333;
							background: #fff;
							color: #333;
							opacity: 1;

							&::after{
							    border-top: 1px solid #333;
							    border-right: 1px solid #333;
							}
						}
					}

					.latestArea{
						margin-bottom: 120px;

						@include bp768 {
							width: 89.33%;
							margin: 0 auto 80px;
							padding: 80px 0 0;
							border-top: 1px solid #ccc;
						};

						&_ttl{
							text-align: center;
							font-size: 22px;
							font-family: 'Playfair Display', serif;
							line-height: 1;
							margin-bottom: 40px;

							@include bp768 {
								font-size: 20px;
							};
						}

						&_box{
							display: flex;
							justify-content: space-between;

							&--list{
								width: 350px;

								@include bp1060 {
									width: 48.5%;
								};

								.archiveTtl{
									font-size: 12px;
									font-weight: bold;
									line-height: 30px;
									margin: 10px 0 5px;

									@include bp768 {
										line-height: 21px;
										font-weight: 500;
									};
								}

								.archiveDate{
									font-family: interstate, sans-serif;
									font-weight: 500;
									font-size: 11px;
									line-height: 1;
									color: #888888;
								}
							}
						}
					}
				}
			}

/*====================================================================
*    着用アイテムはこちら
/*==================================================================*/

			.journalWrap_item{
				width: 280px;
				position: fixed;
				top: 125px;
				left: 50%;
				margin-left: 250px;
				overflow-y: auto;
				-ms-overflow-style: -ms-autohiding-scrollbar;

				@include bp1060 {
					display: none;
				};

				&--ttl{
					line-height: 20px;
					font-weight: bold;
					margin-bottom: 25px;
				}

				ul{
					border-top: 1px solid #CCCCCC;
					margin-bottom: 20px;

					li{
						padding: 10px 0;
						border-bottom: 1px solid #CCCCCC;

						a{
							display: flex;
							justify-content: space-between;
							align-items: center;

							img{
								width: 60px;
							}

							p{
								width: 200px;
								font-size: 12px;
								font-weight: bold;

								span{
									line-height: 1;
									font-size: 12px;
									display: block;
									margin-top: 5px;
									font-weight: normal;
								}
							}
						}
					}
				}

				&--btn{
					width: 99%;
					margin: 0 auto;
					background: #333;
					color: #fff;
					border-radius: 2px;
					text-align: center;
					position: relative;
					height: 50px;
					line-height: 50px;
					font-weight: bold;
					border: 1px solid #333;
					transition: .2s;

					&::after{
					    content: "";
					    position: absolute;
					    top: 0;
					    bottom: 0;
					    right: 15px;
					    margin: auto;
					    z-index: 1;
					    display: block;
					    width: 7px;
					    height: 7px;
					    -moz-transform: rotate(45deg);
					    -webkit-transform: rotate(45deg);
					    transform: rotate(45deg);
					    border-top: 1px solid #fff;
					    border-right: 1px solid #fff;
					}

					&:hover{
						border: 1px solid #333;
						background: #fff;
						color: #333;
						opacity: 1;

						&::after{
						    border-top: 1px solid #333;
						    border-right: 1px solid #333;
						}
					}
				}

				&.on{
					animation: fade_inItem .2s ease 0s forwards;
				}

				&.off{
					animation: fade_outItem .2s ease 0s forwards;
				}
			}
		}
	}
}

@keyframes fade_inItem {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fade_outItem {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
