@charset  "utf-8";

$bp768: 768px;  // スマホ

@mixin bp768 {
  @media (max-width: ($bp768)) {
    @content;
  }
}

@font-face {
	font-family: 'gillsans';
	src: url("../../../../../Font/gillsans.woff") format('woff'),
		 url('../../../../../Font/gillsans.otf') format("opentype");
}

body{
	padding: 0;
	margin: 0;
}

/*====================================================================
*    Responsive
/*==================================================================*/

.pc_contents {
	display: block!important;

	@include bp768 {
		display: none!important;
	};
}

.sp_contents {
  display: none!important;

	@include bp768 {
		display: block!important;
	};
}

.campaignWrap {
	width: 1080px;
	margin: 0 auto 100px;
	color: #333;
	font-size: 14px;
	line-height: 26px;
	letter-spacing: 0.08em;
	font-family: 'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;
	font-weight: 400;

	@include bp768 {
		width: 100%;
		margin: 0 auto 120px;
		line-height: 2;
		letter-spacing: 0.08em;
		padding: 0 18px;
		box-sizing: border-box;
	};

	ul{
		margin: 0;
		padding: 0;

		li{
			list-style-type: none;
			padding: 0;
			margin: 0;
		}
	}

	p{
		margin: 0;
		padding: 0;
		line-height: 26px;

		@include bp768 {
			line-height: 2;
		};
	}

	a{
		text-decoration: none;
		color: #000;
		font-weight: 300;
		display: block;
	}

	img{
		width: 100%;
		display: block;
	}

	.mainArea{
		width: 900px;
		margin: 0 auto 60px;

		@include bp768 {
			width: 100%;
		};

		p{
			line-height: 25.2px;
			text-align: center;
			margin-top: 60px;

			@include bp768 {
				font-size: 13px;
			};
		}
	}

	h2{
		span{
			display: block;
			color: #C0B6B3;
			margin-top: 15px;
			letter-spacing: 0.16em;
			line-height: 1;
			font-family: 'gillsans', 'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;
			font-size: 16px;
		}
	}

	h3{
		color: #333;
		font-size: 20px;
		line-height: 30px;
		letter-spacing: 0.08em;
		font-family: 'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;
		font-weight: 700;
		margin-bottom: 55px;
		position: relative;
		text-align: center;

		@include bp768 {
			font-size: 18px;
			line-height: 28px;
			margin-bottom: 65px;
		};

		&::after{
			content: "";
			position: absolute;
			bottom: -25px;
			left: 0;
			right: 0;
			width: 40px;
			height: 1px;
			background: #C0B6B3;
			margin: auto;
		}

		span{
			font-size: 16px;
			display: block;

			@include bp768 {
				font-size: 14px;
			};
		}
	}

	.aboutArea{
		width: 548px;
		margin: 0 auto 100px;

		@include bp768 {
			width: 100%;
			margin: 0 auto 80px;
		};

		&_box{
			display: flex;
			justify-content: space-between;

		@include bp768 {
			display: block;
		};

			&--list{
				&:nth-child(1){
					width: 234px;

					@include bp768 {
						width: 60%;
						margin: 0 auto 40px;
					};
				}

				&:nth-child(2){
					width: 214px;

					@include bp768 {
						width: 60%;
						margin: 0 auto;
					};
				}

				p{
					line-height: 20px;
					text-align: center;
					font-weight: 700;
					margin-top: 5px;

					@include bp768 {
						margin-top: 0;
					};

					span{
						font-size: 11px;
						color: #6F7579;
						font-weight: normal;
						display: block;

						@include bp768 {
							line-height: 14px;
							margin-top: 10px;
						};
					}
				}
			}
		}
	}

	.conditionsArea{
		width: 860px;
		margin: 0 auto 100px;

		@include bp768 {
			width: 100%;
			margin: 0 auto 80px;
		};

		&_lead{
			text-align: center;
			margin-bottom: 50px;

			@include bp768 {
				margin-bottom: 40px;
				font-size: 13px;
				line-height: 25.2px;
			};
		}

		&_box{
			display: flex;
			justify-content: space-between;

			@include bp768 {
				display: block;
			};

			&--list{
				width: 245px;

				@include bp768 {
					width: 72%;
					margin: 0 auto 30px;
				};

				img{
					width: 180px !important;
					margin: 0 auto 5px;

					@include bp768 {
						width: 75% !important;
						margin: 0 auto;
					};
				}

				p{
					font-size: 13px;
					line-height: 20px;

					span{
						font-size: 14px;
						font-weight: 700;
						display: block;
						margin-bottom: 20px;
						line-height: 1;
						text-align: center;
					}
				}
			}
		}
	}

	.flowArea{
		width: 940px;
		margin: 0 auto 100px;

		@include bp768 {
			width: 94.4%;
		};

		&_step{
			background: #F5F5F5;
			padding: 30px 0;
			display: flex;
			align-items: center;
			position: relative;
			margin-bottom: 30px;

			@include bp768 {
				padding: 30px 20px;
				box-sizing: border-box;
				display: block;
				margin-bottom: 40px;
			};

			&--num{
				width: 154px;

				@include bp768 {
					width: 100%;
					margin-bottom: 20px;
				};

				p{
					text-align: center;
					font-weight: 700;
					letter-spacing: 0;
					line-height: 1;

					@include bp768 {
						font-size: 16px;
					};
				}
			}

			&--cts{
				p{
					@include bp768 {
						letter-spacing: 0;
					};

					.fwBold{
						font-weight: 700;
					}

					.fontS{
						font-size: 12px;
						line-height: 20px;
						display: block;
						margin-top: 5px;

						@include bp768 {
							margin-top: 20px;
						};
					}

					.note{
						font-size: 11px;
						color: #6F7579;
						display: block;
						margin-top: 5px;

						@include bp768 {
							margin-top: 20px;
						};
					}
				}
			}

			&::after{
				content: "";
				position: absolute;
				top: 100%;
				left: 50%;
				margin-left: -15px;
				border: 15px solid transparent;
				border-top: 15px solid #F5F5F5;

				@include bp768 {
					margin-left: -25px;
					border: 25px solid transparent;
					border-top: 25px solid #F5F5F5;
				};
			}

			&:last-child{
				margin-bottom: 0;

				&::after{
					content: none;
				}
			}
		}
	}

	.itemArea{
		width: 807px;
		margin: 0 auto 80px;

		@include bp768 {
			width: 100%;
			margin: 0 auto 100px;
		};

		ul{
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			li{
				width: 258px;
				margin-bottom: 43px;

				@include bp768 {
					width: 49%;
					margin-bottom: 32px;
				};

				p{
					font-size: 12px;
					line-height: 2;
					margin-top: 8px;

					span{
						display: block;
						font-weight: 700;
						font-size: 14px;
					}
				}
			}
		}

		.btnBox {
			width: 320px;
			height: 64px;
			margin: 0 auto 80px;
			border: #2E0E02 1px solid;
			border-radius: 2px;
			position: relative;

			@include bp768 {
				width: 240px;
				height: 48px;
				margin: 8px auto 100px;
				background: #fff;
			};

			&:after {
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				right: 23px;
				margin: auto;
				z-index: 1;
				display: block;
				width: 7px;
				height: 7px;
				-moz-transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
				border-top: 2px solid #2E0E02;
				border-right: 2px solid #2E0E02;

				@include bp768 {
					right: 15px;
				};
			}

		    &:hover::after {
				border-top: 2px solid #fff;
				border-right: 2px solid #fff;
		    }

			a {
				font-size: 15px;
				text-align: center;
				position: relative;
				line-height: 64px;
				color: #2E0E02;
				font-weight: 400;

				@include bp768 {
					font-size: 12px;
					line-height: 48px;
				};

			    &::after{
					content: "";
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					z-index: -1;
					background: #2E0E02;
					transform-origin: right top;
					transform: scale(0, 1);
					transition: transform .3s;

					@include bp768 {
						content: none;
					};
			    }

			    &:hover::after {
					transform-origin: left top;
					transform: scale(1, 1);
			    }

			    &:hover{
			      opacity: 1;
			      color: #fff !important;
			    }
			}
		}

		&_lead{
			line-height: 1;
			margin-bottom: 30px;
			text-align: center;

			@include bp768 {
				font-size: 13px;
				line-height: 25.2px;
			};
		}

		&_line{
			width: 320px;
			height: 64px;
			font-size: 15px;
			text-align: center;
			position: relative;
			line-height: 64px;
			color: #fff;
			position: relative;
			background: #1DCD00;
			border-radius: 2px;
			margin: 0 auto;
			font-weight: 500;

			@include bp768 {
				width: 240px;
				height: 48px;
				font-size: 12px;
				line-height: 48px;
			};

			&:after {
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				right: 23px;
				margin: auto;
				z-index: 1;
				display: block;
				width: 7px;
				height: 7px;
				-moz-transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
				border-top: 2px solid #fff;
				border-right: 2px solid #fff;

				@include bp768 {
					right: 15px;
				};
			}

			&:hover{
				color: #fff !important;
			}
		}
	}

	.noticeArea{
		width: 100%;
		padding: 50px;
		box-sizing: border-box;
		background: #F5F5F5;
		margin-bottom: 100px;

		@include bp768 {
			padding: 40px 20px;
		};

		&_ttl{
			font-size: 18px;
			font-weight: 700;
			line-height: 1;
		}

		&_sub{
			font-size: 14px;
			font-weight: 700;
			line-height: 1;
			margin: 30px 0 10px;

			@include bp768 {
				line-height: 20px;
			};
		}

		&_indent{
			margin-left: 10px;

			@include bp768 {
				margin-left: 0;
			};

			p{
				font-size: 13px;
				line-height: 2;
			}
		}
	}

	.contactArea{
		text-align: center;

		p{
			text-align: center;
			letter-spacing: 0;
			line-height: 1;
			margin-bottom: 15px;

			@include bp768 {
				margin-bottom: 10px;
			};
		}

		a{
			color: #333;
			text-decoration: underline;
			line-height: 1;
			letter-spacing: 0;
			font-weight: 400;
			display: inline !important;
		}
	}
}
