@charset  "utf-8";

$bp1100: 1100px;  // スマホ

@mixin bp1100 {
  @media (max-width: ($bp1100)) {
    @content;
  }
}

$bp1060: 1060px;  // スマホ

@mixin bp1060 {
  @media (max-width: ($bp1060)) {
    @content;
  }
}

$bp768: 768px;  // スマホ

@mixin bp768 {
  @media (max-width: ($bp768)) {
    @content;
  }
}

#Wrap{
	.LPpageWrap{

/*====================================================================
*    ALL
/*==================================================================*/
		.journalWrap {

			.journalWrap_cts{

				.mainArea{
					margin-bottom: 40px;
				
					@include bp768 {
						margin-bottom: 20px;
					};
				}

				.ctsArea{

/*====================================================================
*    TEMPLATE A
/*==================================================================*/
					
					.A-wrap{
						margin-bottom: 80px;
				
						@include bp768 {
							margin-bottom: 40px;
						};
					}

					.A-wrap_ttl{
						font-size: 11px;
						line-height: 1;
						margin-bottom: 40px;
						font-weight: 400;
						letter-spacing: 0;
				
						@include bp768 {
							font-size: 10px;
							transform: scale(.35);
							white-space: nowrap;
							margin: 0 0 20px -48%;
						};

						a{
							font-weight: 400;
							text-decoration: none;
						}

						&.ttl2{
							margin-bottom: 20px;
							font-family: 'Playfair Display', serif;
							font-size: 20px;
							letter-spacing: 0.05em;
				
							@include bp768 {
								font-size: 10px;
								transform: scale(1);
								margin: 0 0 10px;
							};
						}

						&.ttl3{
							font-size: 12px;
				
							@include bp768 {
								font-size: 11px;
								transform: scale(1);
								margin: 0 0 20px;
							};

							a{
								text-decoration: underline;
							}
						}
					}

					.A-wrap_pic{
						margin-bottom: 40px;

						@include bp768 {
							margin-bottom: 20px;
						};
					}

					.A-wrap_txt{
						&.txt2{
							margin-bottom: 120px;
				
							@include bp768 {
								margin-bottom: 60px;
							};
						}
					}

					.A-wrap_detail--box.detail02{
						@include bp768 {
							padding: 10px;
						};
					}

/*====================================================================
*    ALL
/*==================================================================*/

					&_btn{
						margin: 0 auto 160px;

						@include bp768 {
							margin: 0 auto 100px;
						};
					}

					.latestArea{
						&_box{
							&--list{
								.archiveTtl{
									line-height: 2;

									@include bp768 {
										line-height: 21px;
									};
								}
							}
						}
					}

					.latestArea{
						padding-top: 80px;
						border-top: 1px solid #CCCCCC;
					}
				}
			}

			.journalWrap_item{
				ul{
					li{
						div{
							display: flex;
							justify-content: space-between;
							align-items: center;

							img{
								width: 60px;
							}

							p{
								width: 200px;
								font-size: 12px;
								font-weight: bold;

								span{
									line-height: 1;
									font-size: 12px;
									display: block;
									margin-top: 5px;
									font-weight: normal;
								}
							}
						}
					}
				}
			}
		}
	}
}