@charset "UTF-8";
@font-face {
  font-family: 'gillsans';
  src: url("../../../../../Font/gillsans.woff") format("woff"), url("../../../../../Font/gillsans.otf") format("opentype");
}

/*regular*/
@font-face {
  font-family: "Helvetica Neue";
  src: url("fonts/HelveticaNeue_regular.eot");
  src: url("fonts/HelveticaNeue_regular.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeue_regular.woff") format("woff"), url("fonts/HelveticaNeue_regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
}

/*====================================================================
*    Responsive
/*==================================================================*/
.pc_contents {
  display: block !important;
}

@media (max-width: 768px) {
  .pc_contents {
    display: none !important;
  }
}

.sp_contents {
  display: none !important;
}

@media (max-width: 768px) {
  .sp_contents {
    display: block !important;
  }
}

#Wrap .featureWrap {
  width: 1080px;
  margin: 0 auto 65px;
  color: #333;
  font-size: 13px;
  line-height: 25.2px;
  letter-spacing: 0.08em;
  font-family: 'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;
  font-weight: 400;
}

@media (max-width: 768px) {
  #Wrap .featureWrap {
    width: 100%;
    -webkit-font-smoothing: antialiased;
  }
}

#Wrap .featureWrap ul {
  margin: 0;
  padding: 0;
}

#Wrap .featureWrap ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#Wrap .featureWrap p {
  margin: 0;
  padding: 0;
  line-height: 25.2px;
}

#Wrap .featureWrap a {
  text-decoration: none;
  color: #333;
  display: block;
}

#Wrap .featureWrap img {
  width: 100%;
  display: block;
}

#Wrap .featureWrap .mainArea {
  width: 900px;
  margin: 0 auto 100px;
}

@media (max-width: 768px) {
  #Wrap .featureWrap .mainArea {
    width: 100%;
    margin: 0 auto 80px;
  }
}

#Wrap .featureWrap .mainArea p {
  text-align: center;
  margin: 80px 0 40px;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.04em;
}

@media (max-width: 768px) {
  #Wrap .featureWrap .mainArea p {
    margin: 40px auto 40px;
    line-height: 25.2px;
  }
}

#Wrap .featureWrap .mainArea .btnBoxTopics {
  height: 56px;
}

@media (max-width: 768px) {
  #Wrap .featureWrap .mainArea .btnBoxTopics {
    width: 240px;
    height: 48px;
  }
}

#Wrap .featureWrap .mainArea .btnBoxTopics a {
  font-size: 14px;
  letter-spacing: 0.08em;
  line-height: 56px;
}

@media (max-width: 768px) {
  #Wrap .featureWrap .mainArea .btnBoxTopics a {
    font-size: 12px;
    line-height: 48px;
  }
}

@media (max-width: 768px) {
  #Wrap .featureWrap .mainArea .btnBoxTopics:after {
    width: 6px;
    height: 6px;
    right: 16px;
    border-top: 1px solid #2E0E02;
    border-right: 1px solid #2E0E02;
  }
}

@media (max-width: 768px) {
  #Wrap .featureWrap .mainArea .btnBoxTopics:hover::after {
    border-top: 1px solid #2E0E02;
    border-right: 1px solid #2E0E02;
  }
}

#Wrap .featureWrap h2 span {
  display: block;
  color: #C0B6B3;
  margin-top: 16px;
  letter-spacing: 0.16em;
  line-height: 1;
  font-family: 'gillsans', 'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;
  font-size: 16px;
}

#Wrap .featureWrap .secArea {
  width: 900px;
  margin: 0 auto 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  #Wrap .featureWrap .secArea {
    width: 90.67%;
    margin: 0 auto 120px;
    display: block;
  }
}

#Wrap .featureWrap .secArea_list {
  width: 420px;
  margin-bottom: 80px;
}

@media (max-width: 768px) {
  #Wrap .featureWrap .secArea_list {
    width: 100%;
  }
}

#Wrap .featureWrap .secArea_list--icn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
}

#Wrap .featureWrap .secArea_list--icn img {
  width: 40px;
  margin-right: 10px;
}

#Wrap .featureWrap .secArea_list--icn p {
  font-family: "Helvetica Neue";
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1;
}

#Wrap .featureWrap .secArea_list--txt {
  line-height: 1;
  margin: 15px 0 8px;
}

#Wrap .featureWrap .secArea_list--link {
  font-size: 13px;
  letter-spacing: 0.08em;
  line-height: 19.5px;
}

#Wrap .featureWrap .secArea_list--link .price {
  margin-left: 10px;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.08em;
  line-height: 19.5px;
}

#Wrap .featureWrap .secArea_list--link .price .tax {
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.08em;
  line-height: 19.5px;
}

#Wrap .featureWrap .bnrArea {
  width: 850px;
  margin: 0 auto 100px;
}

@media (max-width: 768px) {
  #Wrap .featureWrap .bnrArea {
    width: 90.67%;
    margin: 0 auto 100px;
  }
}

#Wrap .featureWrap .bnrArea p {
  text-align: center;
  margin: 60px 0;
  font-size: 14px;
  letter-spacing: 0.04em;
}

@media (max-width: 768px) {
  #Wrap .featureWrap .bnrArea p {
    margin: 40px 0;
  }
}

#Wrap .featureWrap .bnrArea p + p {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  #Wrap .featureWrap .bnrArea p + p {
    margin: -10px 0 30px;
  }
}

#Wrap .featureWrap .bnrArea_btn {
  width: 320px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  position: relative;
  font-size: 14px;
  color: #fff;
  margin: 0 auto;
  background: #1DCD00;
  border-radius: 2px;
}

@media (max-width: 768px) {
  #Wrap .featureWrap .bnrArea_btn {
    width: 240px;
    height: 48px;
    line-height: 48px;
    font-size: 12px;
  }
}

#Wrap .featureWrap .bnrArea_btn:hover {
  color: #fff;
}

#Wrap .featureWrap .bnrArea_btn:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 23px;
  margin: auto;
  z-index: 1;
  display: block;
  width: 7px;
  height: 7px;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
}

@media (max-width: 768px) {
  #Wrap .featureWrap .bnrArea_btn:after {
    width: 6px;
    height: 6px;
    right: 16px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
  }
}

#Wrap .featureWrap .btnBoxTopics {
  width: 280px;
  height: 64px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 768px) {
  #Wrap .featureWrap .btnBoxTopics {
    width: 200px;
  }
}

#Wrap .featureWrap .btnBoxTopics:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 23px;
  margin: auto;
  z-index: 1;
  display: block;
  width: 7px;
  height: 7px;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top: 2px solid #2E0E02;
  border-right: 2px solid #2E0E02;
}

#Wrap .featureWrap .btnBoxTopics:hover::after {
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
}

#Wrap .featureWrap .btnBoxTopics a {
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.28em;
  position: relative;
  line-height: 64px;
  color: #2E0E02;
  font-family: 'gillsans';
}

#Wrap .featureWrap .btnBoxTopics a::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #2E0E02;
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

@media (max-width: 768px) {
  #Wrap .featureWrap .btnBoxTopics a::after {
    content: none;
  }
}

#Wrap .featureWrap .btnBoxTopics a:hover::after {
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}

#Wrap .featureWrap .btnBoxTopics a:hover {
  opacity: 1;
  color: #fff !important;
}

#Wrap .featureWrap .btnBoxTopics.btn--more {
  border: #2E0E02 1px solid;
  color: #2E0E02;
}

#Wrap .featureWrap .btnBoxTopics.btn--moreBrown {
  width: 320px;
  border: #2E0E02 1px solid;
  color: #fff;
  background: #2E0E02;
  position: relative;
  z-index: 1;
  border-radius: 2px;
  display: block;
}

@media (max-width: 768px) {
  #Wrap .featureWrap .btnBoxTopics.btn--moreBrown {
    width: 240px;
    height: 48px;
  }
}

#Wrap .featureWrap .btnBoxTopics.btn--moreBrown:after {
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
}

#Wrap .featureWrap .btnBoxTopics.btn--moreBrown:hover::after {
  border-top: 2px solid #2E0E02;
  border-right: 2px solid #2E0E02;
}

#Wrap .featureWrap .btnBoxTopics.btn--moreBrown a {
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.08em;
}

@media (max-width: 768px) {
  #Wrap .featureWrap .btnBoxTopics.btn--moreBrown a {
    font-size: 12px;
    line-height: 48px;
  }
}

#Wrap .featureWrap .btnBoxTopics.btn--moreBrown a::after {
  z-index: -1;
  background: #fff;
}

#Wrap .featureWrap .btnBoxTopics.btn--moreBrown a:hover {
  color: #2E0E02 !important;
}
