
.main_contents{
	margin: 0px auto 70px;
	@include bp768 {
	margin: 80px auto 70px;
	}
}

.topics{
	.main_contents_title{
		font-size: 32px;
		margin: auto;
		text-align: center;
		display: block;
		letter-spacing: 0.1em;
		margin: 0 0 50px;
		color: #2E0E02;
		font-family: 'baskerville', 'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;
		@include bp768 {
				font-size: 24px;
				margin: 0 0 40px;
		}
	}
}
.pankuz {
    font-size: 12px;
	@include bp768 {
    font-size: 11px;
    padding: 0 (20%/375*100) 20px;
	}
    letter-spacing: 0.08em;
    color: #C6C6C6;
    text-align: right;
    font-family: 'gillsans', 'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;
	padding: 0 40px 20px;
    a{
    	font-family: 'gillsans', 'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;

    	display: inline-block;
	    font-size: 12px;
	    color: #C6C6C6;
	    text-align: right;
	    letter-spacing: 0.08em;
		@include bp768 {
	    font-size: 11px;

		}
    }
}
.topics_list__ul{
	max-width: 1080px;
	margin:0 auto 85px;
	display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    @include bp768 {
	display: block;
	padding: 0 (20%/375*100);
    }
	li{
		width:(330%/1080*100);
		margin: 0 4.1% 40px 0;
		&:nth-child(3n){
		margin: 0 0 0px;
			@include bp768 {
					width:100%;
					font-size: 24px;
					margin: 0 0 50px;
			}
		}
		@include bp768 {
				width:100%;
				font-size: 24px;
				margin: 0 0 50px;
		}
		img{
			width: 100%;
		}
	}
	.topics_list__ul__day{
		font-size: 12px;
		color: #C0B6B3;
		margin: 7px 0;
		letter-spacing: 0.08em;
		
		font-family: 'gillsans', 'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;
		@include bp768 {
		font-size: 14px;

		}
	}
	.topics_list__category{
		font-size: 16px;
		color: #2E0E02;
		margin: 0px 0 10px;
		letter-spacing: 0.1em;
		@include bp768 {
		font-size: 18px;
		margin: 0px 0 12px;
		
		}
		font-family: 'baskerville', 'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;
	}
	.topics_list__title{
		font-size: 13px;
		line-height: (20/13);
		letter-spacing: 0.08em;
		@include bp768 {
		line-height: (26/13);
		
		}
	}
}




