@charset  "utf-8";

$bp1100: 1100px;  // スマホ

@mixin bp1100 {
  @media (max-width: ($bp1100)) {
    @content;
  }
}

$bp1060: 1060px;  // スマホ

@mixin bp1060 {
  @media (max-width: ($bp1060)) {
    @content;
  }
}

$bp768: 768px;  // スマホ

@mixin bp768 {
  @media (max-width: ($bp768)) {
    @content;
  }
}

.pc_inline {
	display: inline!important;

	@include bp768 {
		display: none!important;
	};
}

.sp_inline {
  display: none!important;

	@include bp768 {
		display: inline!important;
	};
}

#Wrap{
	.LPpageWrap{

/*====================================================================
*    ALL
/*==================================================================*/
		.journalWrap {

			.journalWrap_cts{

				.mainArea{
					margin-bottom: 80px;
				
					@include bp768 {
						margin-bottom: 80px;
					};

					&_lead{
						@include bp768 {
							font-size: 14px;
						};
					}
				}

				.ctsArea{

/*====================================================================
*    TEMPLATE A
/*==================================================================*/
					
					.A-wrap{
						margin-bottom: 80px;

						@include bp768 {
							margin: 0 auto 100px;
						};

						&.A-wrap00{
							@include bp768 {
								margin: 0 auto 40px;
							};
						}
					}

					.A-wrap_ttl{
						margin-bottom: 10px;
						line-height: 1;
						font-size: 18px;

						@include bp768 {
							font-size: 16px;
							line-height: 24px;
							font-weight: 500;
							margin-bottom: 10px;
						};
					}

					.A-wrap_txt{
						margin-bottom: 40px;

						@include bp768 {
							font-size: 14px;
							margin-bottom: 20px;
						};
					}

/*====================================================================
*    TEMPLATE C
/*==================================================================*/
					
					.C-wrap{
						margin-bottom: 0;

						@include bp768 {
							width: 100%;
							margin: 0 auto;
						};
					}

					.C-wrap_list{
						@include bp768 {
							margin: 0 auto 20px;
						};
					}

/*====================================================================
*    TEMPLATE D
/*==================================================================*/
					
					.D-wrap{
						margin-bottom: 80px;

						@include bp768 {
							margin: 0 auto 40px;
						};

						.A-wrap_txt{
							@include bp768 {
								width: 89.33%;
								margin-left: auto;
								margin-right: auto;
							};
						}

						.A-wrap_detail{
							@include bp768 {
								width: 89.33%;
								margin-left: auto;
								margin-right: auto;
							};
						}
					}

					.D-wrap_ttl{
						width: 254px;
						position: absolute;
						top: 46px;
						left: 109px;
						z-index: 3;

						@include bp768 {
							width: 38.13%;
							top: 28.5px;
							left: 24px;
						};
					}

					.D-wrap_pic{
						padding-top: 0;

						@include bp768 {
							padding-top: 0;
							width: 84%;
						};
					}

/*====================================================================
*    TEMPLATE F
/*==================================================================*/

					.F-wrap_box{
						margin: 40px 0;
						padding-top: 0;

						@include bp768 {
							margin: 20px 0;
							padding-top: 0;
						};
					}

/*====================================================================
*    ALL
/*==================================================================*/

					&_btn{
						margin: 0 auto 88px;

						@include bp768 {
							margin: 0 auto 100px;
						};
					}

					.latestArea{
						&_box{
							&--list{
								.archiveTtl{
									line-height: 2;

									@include bp768 {
										line-height: 21px;
									};
								}
							}
						}
					}

					.latestArea{
						padding-top: 80px;
						border-top: 1px solid #CCCCCC;
					}
				}
			}

			.journalWrap_item{
				ul{
					li{
						a{
							p{
								span{
									span{
										display: inline;
										margin-top: 0;
										color: #AD2E24;
										text-decoration: line-through;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}