@charset "UTF-8";
@font-face {
  font-family: 'gillsans';
  src: url("../../../../../Font/gillsans.woff") format("woff"), url("../../../../../Font/gillsans.otf") format("opentype");
}

body {
  padding: 0;
  margin: 0;
}

/*====================================================================
*    Responsive
/*==================================================================*/
.pc_contents {
  display: block !important;
}

@media (max-width: 768px) {
  .pc_contents {
    display: none !important;
  }
}

.sp_contents {
  display: none !important;
}

@media (max-width: 768px) {
  .sp_contents {
    display: block !important;
  }
}

.pc_inline {
  display: inline !important;
}

@media (max-width: 768px) {
  .pc_inline {
    display: none !important;
  }
}

.sp_inline {
  display: none !important;
}

@media (max-width: 768px) {
  .sp_inline {
    display: inline !important;
  }
}

.campaignWrap {
  width: 1080px;
  margin: 0 auto 120px;
  color: #333;
  font-size: 13px;
  line-height: 2;
  letter-spacing: 0.03em;
  font-family: 'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;
  font-weight: 400;
}

@media (max-width: 768px) {
  .campaignWrap {
    width: 100%;
    padding: 0 18px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.campaignWrap ul {
  margin: 0;
  padding: 0;
}

.campaignWrap ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.campaignWrap p {
  margin: 0;
  padding: 0;
  line-height: 2;
}

.campaignWrap a {
  text-decoration: none;
  color: #000;
  font-weight: 300;
  display: block;
}

.campaignWrap img {
  width: 100%;
  display: block;
}

.campaignWrap .mainArea {
  width: 900px;
  margin: 0 auto 80px;
}

@media (max-width: 768px) {
  .campaignWrap .mainArea {
    width: 100vw;
    margin: 0 auto 40px -18px;
  }
}

.campaignWrap .mainArea p {
  text-align: center;
  margin-top: 80px;
}

@media (max-width: 768px) {
  .campaignWrap .mainArea p {
    margin-top: 40px;
  }
}

.campaignWrap h2 span {
  display: block;
  color: #C0B6B3;
  margin-top: 15px;
  letter-spacing: 0.16em;
  line-height: 1;
  font-family: 'gillsans', 'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;
  font-size: 16px;
}

.campaignWrap h3 {
  color: #333;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.03em;
  font-family: 'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;
  font-weight: 700;
  margin-bottom: 55px;
  position: relative;
  text-align: center;
}

@media (max-width: 768px) {
  .campaignWrap h3 {
    font-size: 18px;
    line-height: 1;
  }
}

.campaignWrap h3::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  width: 40px;
  height: 1px;
  background: #C0B6B3;
  margin: auto;
}

.campaignWrap .aboutArea {
  width: 548px;
  margin: 0 auto 40px;
}

@media (max-width: 768px) {
  .campaignWrap .aboutArea {
    width: 100%;
    margin: 0 auto 120px;
  }
}

.campaignWrap .aboutArea_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .campaignWrap .aboutArea_box {
    display: block;
  }
}

.campaignWrap .aboutArea_box--list:nth-child(1) {
  width: 234px;
}

@media (max-width: 768px) {
  .campaignWrap .aboutArea_box--list:nth-child(1) {
    width: 60%;
    margin: 0 auto 40px;
  }
}

.campaignWrap .aboutArea_box--list:nth-child(2) {
  width: 214px;
}

@media (max-width: 768px) {
  .campaignWrap .aboutArea_box--list:nth-child(2) {
    width: 60%;
    margin: 0 auto;
  }
}

.campaignWrap .aboutArea_box--list p {
  line-height: 20px;
  text-align: center;
  font-weight: 700;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .campaignWrap .aboutArea_box--list p {
    margin-top: 0;
  }
}

.campaignWrap .aboutArea_box--list p span {
  font-size: 11px;
  color: #6F7579;
  font-weight: normal;
  display: block;
}

@media (max-width: 768px) {
  .campaignWrap .aboutArea_box--list p span {
    line-height: 14px;
    margin-top: 10px;
  }
}

.campaignWrap .couponArea {
  margin: 0 auto 80px;
}

@media (max-width: 768px) {
  .campaignWrap .couponArea {
    margin: 0 auto 120px;
  }
}

.campaignWrap .couponArea_txt {
  letter-spacing: 0.08em;
  line-height: 1;
  text-align: center;
}

@media (max-width: 768px) {
  .campaignWrap .couponArea_txt {
    letter-spacing: 0.03em;
  }
}

.campaignWrap .couponArea_txt.txt01 {
  margin-bottom: 20px;
}

.campaignWrap .couponArea_txt.txt02 {
  margin-bottom: 10px;
}

.campaignWrap .couponArea_txt.txt03 {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .campaignWrap .couponArea_txt.txt03 {
    line-height: 19.5px;
  }
}

.campaignWrap .couponArea_code {
  width: 200px;
  height: 60px;
  border: 1px solid #CCCCCC;
  margin: 0 auto 40px;
  border-radius: 2px;
}

@media (max-width: 768px) {
  .campaignWrap .couponArea_code {
    margin: 0 auto 20px;
  }
}

.campaignWrap .couponArea_code p {
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.campaignWrap .couponArea_notice {
  font-size: 11px;
  color: #6F7579;
  line-height: 19px;
  text-align: center;
}

@media (max-width: 768px) {
  .campaignWrap .couponArea_notice {
    line-height: 19.5px;
  }
}

.campaignWrap .conditionsArea {
  width: 860px;
  margin: 0 auto 80px;
}

@media (max-width: 768px) {
  .campaignWrap .conditionsArea {
    width: 100%;
    margin: 0 auto 120px;
  }
}

.campaignWrap .conditionsArea_lead {
  text-align: center;
  margin-bottom: 22px;
}

@media (max-width: 768px) {
  .campaignWrap .conditionsArea_lead {
    margin-bottom: 14px;
  }
}

.campaignWrap .conditionsArea_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .campaignWrap .conditionsArea_box {
    display: block;
  }
}

.campaignWrap .conditionsArea_box--list {
  width: 240px;
}

@media (max-width: 768px) {
  .campaignWrap .conditionsArea_box--list {
    width: 72%;
    margin: 0 auto 30px;
  }
}

.campaignWrap .conditionsArea_box--list img {
  width: 180px !important;
  margin: 0 auto 5px;
}

@media (max-width: 768px) {
  .campaignWrap .conditionsArea_box--list img {
    width: 75% !important;
    margin: 0 auto;
  }
}

.campaignWrap .conditionsArea_box--list p {
  line-height: 22px;
}

@media (max-width: 768px) {
  .campaignWrap .conditionsArea_box--list p {
    line-height: 20px;
  }
}

.campaignWrap .conditionsArea_box--list p span {
  font-size: 14px;
  font-weight: 700;
  display: block;
  margin-bottom: 20px;
  line-height: 1;
  text-align: center;
}

@media (max-width: 768px) {
  .campaignWrap .conditionsArea_box--list p span {
    font-size: 13px;
  }
}

.campaignWrap .flowArea {
  width: 940px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .campaignWrap .flowArea {
    width: 94.4%;
  }
}

.campaignWrap .flowArea_step {
  background: #F5F5F5;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .campaignWrap .flowArea_step {
    padding: 30px 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    margin-bottom: 40px;
  }
}

.campaignWrap .flowArea_step--num {
  width: 154px;
}

@media (max-width: 768px) {
  .campaignWrap .flowArea_step--num {
    width: 100%;
    margin-bottom: 20px;
  }
}

.campaignWrap .flowArea_step--num p {
  font-size: 14px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1;
}

@media (max-width: 768px) {
  .campaignWrap .flowArea_step--num p {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .campaignWrap .flowArea_step--cts p {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 26px;
  }
}

.campaignWrap .flowArea_step--cts p .fwBold {
  font-weight: 700;
}

.campaignWrap .flowArea_step--cts p .fontS {
  font-size: 12px;
  line-height: 20px;
  display: block;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .campaignWrap .flowArea_step--cts p .fontS {
    margin-top: 20px;
  }
}

.campaignWrap .flowArea_step--cts p .note {
  font-size: 11px;
  color: #6F7579;
  display: block;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .campaignWrap .flowArea_step--cts p .note {
    line-height: 18px;
  }
}

.campaignWrap .flowArea_step::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #F5F5F5;
}

@media (max-width: 768px) {
  .campaignWrap .flowArea_step::after {
    margin-left: -25px;
    border: 25px solid transparent;
    border-top: 25px solid #F5F5F5;
  }
}

.campaignWrap .flowArea_step:last-child {
  margin-bottom: 0;
}

.campaignWrap .flowArea_step:last-child::after {
  content: none;
}

/*# sourceMappingURL=common.css.map */