/*====================================================================
*    mixin
/*==================================================================*/
body {
  margin: 0;
  padding: 0;
}

body p {
  margin: 0;
  padding: 0;
}

#Wrap {
  /*====================================================================
	*    CONCEPT TOP
	/*==================================================================*/
}

#Wrap .conceptPage {
  margin: 0 0 120px;
  /*====================================================================
		*    SUVIN
		/*==================================================================*/
  /*====================================================================
		*    OZONE
		/*==================================================================*/
  /*====================================================================
		*    BRATAC
		/*==================================================================*/
  /*====================================================================
		*    PERUVIAN PIMA COTTON
		/*==================================================================*/
  /*====================================================================
		*    one cotton
		/*==================================================================*/
  /*====================================================================
		*    ice cotton
		/*==================================================================*/
}

@media (max-width: 768px) {
  #Wrap .conceptPage {
    margin: 0 auto 50px;
  }
}

#Wrap .conceptPage_ttl {
  position: relative;
  width: 1060px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  #Wrap .conceptPage_ttl {
    width: 100%;
  }
}

#Wrap .conceptPage_ttl p {
  position: absolute;
  top: -233px;
  left: 10px;
  font-size: 80px;
  font-family: 'Playfair Display', serif;
  color: #5A5A5A;
  letter-spacing: 0.02em;
  line-height: 90px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage_ttl p {
    top: calc(-233 * (100vw / 750));
    left: 25px;
    font-size: 40px;
    line-height: 45px;
  }
}

#Wrap .conceptPage_about {
  margin: 243px 0 100px;
  width: 100%;
  background: #F2EEED;
  padding: 80px 0 100px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  #Wrap .conceptPage_about {
    margin: calc(243 * (100vw / 750)) 0 70px;
    padding: 152px 0 80px;
  }
}

#Wrap .conceptPage_about--inner {
  width: 1060px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  #Wrap .conceptPage_about--inner {
    width: 89.33%;
  }
}

#Wrap .conceptPage_about--inner .conceptPageCts {
  width: 570px;
  margin-left: auto;
}

@media (max-width: 768px) {
  #Wrap .conceptPage_about--inner .conceptPageCts {
    width: 100%;
    margin-left: 0;
  }
}

#Wrap .conceptPage_about--inner .conceptPageCts .conceptPageLead {
  font-size: 22px;
  color: #5A5A5A;
  line-height: 2;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage_about--inner .conceptPageCts .conceptPageLead {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 40px;
  }
}

#Wrap .conceptPage_about--inner .conceptPageCts .conceptPageTxt {
  font-size: 14px;
  color: #5A5A5A;
  line-height: 2;
  letter-spacing: 0.03em;
}

@media (max-width: 768px) {
  #Wrap .conceptPage_about--inner .conceptPageCts .conceptPageTxt {
    font-size: 13px;
    line-height: 24px;
  }
}

#Wrap .conceptPage_material {
  width: 700px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  #Wrap .conceptPage_material {
    width: 86.67%;
  }
}

#Wrap .conceptPage_material--ttl {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: #5A5A5A;
  letter-spacing: 0.03em;
  line-height: 1;
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage_material--ttl {
    margin-bottom: 50px;
  }
}

#Wrap .conceptPage_material--box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  #Wrap .conceptPage_material--box {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

#Wrap .conceptPage_material--box .materialList {
  width: 200px;
  margin: 0 50px 80px 0;
}

@media (max-width: 768px) {
  #Wrap .conceptPage_material--box .materialList {
    width: 48.46%;
    margin: 0 0 50px;
  }
}

#Wrap .conceptPage_material--box .materialList p {
  font-family: interstate, sans-serif;
  font-size: 13px;
  color: #666666;
  line-height: 1;
  letter-spacing: 0.08em;
  text-align: center;
  margin-top: 10px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage_material--box .materialList p {
    font-size: 12px;
    line-height: 14.5px;
  }
}

#Wrap .conceptPage_material--box .materialList:nth-child(3n) {
  margin-right: 0;
}

#Wrap .conceptPage.suvinPage .suvinPage_ttl {
  width: 200px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.suvinPage .suvinPage_ttl {
    width: 45.67%;
  }
}

#Wrap .conceptPage.suvinPage .suvinPage_lead {
  text-align: center;
  color: #5A5A5A;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 2;
  margin: 0 0 65px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.suvinPage .suvinPage_lead {
    width: 89.33%;
    font-size: 13px;
    line-height: 24px;
    margin: 0 auto 40px;
    text-align: left;
  }
}

#Wrap .conceptPage.suvinPage .suvinPage_about {
  width: 920px;
  margin: 120px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.suvinPage .suvinPage_about {
    width: 89.33%;
    margin: 60px auto 50px;
    display: block;
  }
}

#Wrap .conceptPage.suvinPage .suvinPage_about--txt {
  width: 390px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.suvinPage .suvinPage_about--txt {
    width: 100%;
    margin-bottom: 40px;
  }
}

#Wrap .conceptPage.suvinPage .suvinPage_about--txt .aboutTtl {
  font-size: 30px;
  color: #5A5A5A;
  line-height: 44px;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.suvinPage .suvinPage_about--txt .aboutTtl {
    font-size: 26px;
    line-height: 35px;
  }
}

#Wrap .conceptPage.suvinPage .suvinPage_about--txt .aboutTxt {
  font-size: 14px;
  color: #5A5A5A;
  line-height: 2;
  letter-spacing: 0.03em;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.suvinPage .suvinPage_about--txt .aboutTxt {
    font-size: 13px;
    line-height: 24px;
  }
}

#Wrap .conceptPage.suvinPage .suvinPage_about--pic {
  width: 460px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.suvinPage .suvinPage_about--pic {
    width: 100%;
  }
}

#Wrap .conceptPage.suvinPage .suvinPage_cts {
  background: #F2EEED;
  padding: 120px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 100px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.suvinPage .suvinPage_cts {
    padding: 50px 0;
    margin-bottom: 70px;
  }
}

#Wrap .conceptPage.suvinPage .suvinPage_cts--inner {
  width: 920px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.suvinPage .suvinPage_cts--inner {
    width: 89.33%;
    display: block;
  }
}

#Wrap .conceptPage.suvinPage .suvinPage_cts--inner .ctsPic {
  width: 400.5px;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.suvinPage .suvinPage_cts--inner .ctsPic {
    width: 100%;
  }
}

#Wrap .conceptPage.suvinPage .suvinPage_cts--inner .ctsTxt {
  width: 460px;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.suvinPage .suvinPage_cts--inner .ctsTxt {
    width: 100%;
    margin-bottom: 30px;
  }
}

#Wrap .conceptPage.suvinPage .suvinPage_cts--inner .ctsTxt_ttl {
  font-size: 30px;
  color: #5A5A5A;
  line-height: 44px;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.suvinPage .suvinPage_cts--inner .ctsTxt_ttl {
    font-size: 26px;
    line-height: 35px;
  }
}

#Wrap .conceptPage.suvinPage .suvinPage_cts--inner .ctsTxt_txt {
  font-size: 14px;
  color: #5A5A5A;
  line-height: 2;
  letter-spacing: 0.03em;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.suvinPage .suvinPage_cts--inner .ctsTxt_txt {
    font-size: 13px;
    line-height: 24px;
  }
}

#Wrap .conceptPage.ozonePage {
  margin-top: 65px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.ozonePage {
    margin-top: 11px;
  }
}

#Wrap .conceptPage.ozonePage .ozonePage_ttl {
  margin-bottom: 100px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.ozonePage .ozonePage_ttl {
    margin-bottom: 50px;
  }
}

#Wrap .conceptPage.ozonePage .ozonePage_ttl p {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 34px;
  line-height: 1.35;
  letter-spacing: 0.08em;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.ozonePage .ozonePage_ttl p {
    font-size: 21px;
    line-height: 1.33;
  }
}

#Wrap .conceptPage.ozonePage .ozonePage_about {
  width: 920px;
  margin: 100px auto 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.ozonePage .ozonePage_about {
    width: 89.33%;
    margin: 60px auto 50px;
    display: block;
  }
}

#Wrap .conceptPage.ozonePage .ozonePage_about--txt {
  width: 400px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.ozonePage .ozonePage_about--txt {
    width: 100%;
    margin-bottom: 30px;
  }
}

#Wrap .conceptPage.ozonePage .ozonePage_about--txt .aboutTtl {
  font-size: 30px;
  color: #5A5A5A;
  line-height: 44px;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.ozonePage .ozonePage_about--txt .aboutTtl {
    font-size: 26px;
    line-height: 35px;
  }
}

#Wrap .conceptPage.ozonePage .ozonePage_about--txt .aboutTxt {
  font-size: 14px;
  color: #5A5A5A;
  line-height: 2;
  letter-spacing: 0.03em;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.ozonePage .ozonePage_about--txt .aboutTxt {
    font-size: 13px;
    line-height: 24px;
  }
}

#Wrap .conceptPage.ozonePage .ozonePage_about--pic {
  width: 460px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.ozonePage .ozonePage_about--pic {
    width: 100%;
  }
}

#Wrap .conceptPage.ozonePage .ozonePage_cts {
  background: #F2EEED;
  padding: 80px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 100px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.ozonePage .ozonePage_cts {
    padding: 50px 0;
    margin-bottom: 50px;
  }
}

#Wrap .conceptPage.ozonePage .ozonePage_cts--inner {
  width: 920px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.ozonePage .ozonePage_cts--inner {
    width: 89.33%;
    display: block;
  }
}

#Wrap .conceptPage.ozonePage .ozonePage_cts--inner .ctsPic {
  width: 400px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.ozonePage .ozonePage_cts--inner .ctsPic {
    width: 100%;
  }
}

#Wrap .conceptPage.ozonePage .ozonePage_cts--inner .ctsTxt {
  width: 460px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.ozonePage .ozonePage_cts--inner .ctsTxt {
    width: 100%;
    margin-bottom: 30px;
  }
}

#Wrap .conceptPage.ozonePage .ozonePage_cts--inner .ctsTxt_ttl {
  font-size: 30px;
  color: #5A5A5A;
  line-height: 44px;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.ozonePage .ozonePage_cts--inner .ctsTxt_ttl {
    font-size: 26px;
    line-height: 35px;
    white-space: nowrap;
  }
}

#Wrap .conceptPage.ozonePage .ozonePage_cts--inner .ctsTxt_txt {
  font-size: 14px;
  color: #5A5A5A;
  line-height: 2;
  letter-spacing: 0.03em;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.ozonePage .ozonePage_cts--inner .ctsTxt_txt {
    font-size: 13px;
    line-height: 24px;
  }
}

#Wrap .conceptPage.ozonePage .ozonePage_cts--inner.inner02 {
  margin-top: 120px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.ozonePage .ozonePage_cts--inner.inner02 {
    margin-top: 60px;
  }
}

#Wrap .conceptPage.ozonePage .ozonePage_cts--inner.inner02 .ctsPic {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

#Wrap .conceptPage.ozonePage .ozonePage_cts--inner.inner02 .ctsTxt {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

#Wrap .conceptPage.ozonePage .ozonePage_cts--inner.inner03 {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 160px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.ozonePage .ozonePage_cts--inner.inner03 {
    margin-bottom: 70px;
  }
}

#Wrap .conceptPage.ozonePage .ozonePage_cts--inner.inner03 .ctsTxt {
  width: 420px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.ozonePage .ozonePage_cts--inner.inner03 .ctsTxt {
    width: 100%;
  }
}

#Wrap .conceptPage.bratacPage .bratacPage_ttl {
  width: 200px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.bratacPage .bratacPage_ttl {
    width: 38%;
  }
}

#Wrap .conceptPage.bratacPage .bratacPage_lead {
  text-align: center;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: #5A5A5A;
  margin: 20px 0 70px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.bratacPage .bratacPage_lead {
    width: 89.33%;
    text-align: left;
    font-size: 13px;
    line-height: 24px;
    margin: 20px auto 40px;
  }
}

#Wrap .conceptPage.bratacPage .bratacPage_about {
  width: 920px;
  margin: 100px auto 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.bratacPage .bratacPage_about {
    width: 89.33%;
    margin: 70px auto;
    display: block;
  }
}

#Wrap .conceptPage.bratacPage .bratacPage_about--txt {
  width: 460px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.bratacPage .bratacPage_about--txt {
    width: 100%;
    margin-bottom: 30px;
  }
}

#Wrap .conceptPage.bratacPage .bratacPage_about--txt .aboutTtl {
  font-size: 30px;
  color: #5A5A5A;
  line-height: 44px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.bratacPage .bratacPage_about--txt .aboutTtl {
    font-size: 26px;
    line-height: 35px;
  }
}

#Wrap .conceptPage.bratacPage .bratacPage_about--txt .aboutTxt {
  font-size: 14px;
  color: #5A5A5A;
  line-height: 2;
  letter-spacing: 0.03em;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.bratacPage .bratacPage_about--txt .aboutTxt {
    font-size: 13px;
    line-height: 24px;
  }
}

#Wrap .conceptPage.bratacPage .bratacPage_about--pic {
  width: 460px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.bratacPage .bratacPage_about--pic {
    width: 100%;
  }
}

#Wrap .conceptPage.bratacPage .bratacPage_about.about02 {
  margin: 0 auto 160px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.bratacPage .bratacPage_about.about02 {
    margin: 0 auto 70px;
  }
}

#Wrap .conceptPage.bratacPage .bratacPage_about.about02 .bratacPage_about--txt {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

#Wrap .conceptPage.bratacPage .bratacPage_about.about02 .bratacPage_about--pic {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  width: 400px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.bratacPage .bratacPage_about.about02 .bratacPage_about--pic {
    width: 100%;
  }
}

#Wrap .conceptPage.peruvianPage .peruvianPage_ttl {
  width: 200px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.peruvianPage .peruvianPage_ttl {
    width: 38%;
  }
}

#Wrap .conceptPage.peruvianPage .peruvianPage_lead {
  text-align: center;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: #5A5A5A;
  margin: 0 0 70px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.peruvianPage .peruvianPage_lead {
    width: 89.33%;
    text-align: left;
    font-size: 13px;
    line-height: 24px;
    margin: 0 auto 40px;
  }
}

#Wrap .conceptPage.peruvianPage .peruvianPage_about {
  width: 920px;
  margin: 100px auto 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.peruvianPage .peruvianPage_about {
    width: 89.33%;
    margin: 60px auto;
    display: block;
  }
}

#Wrap .conceptPage.peruvianPage .peruvianPage_about--txt {
  width: 460px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.peruvianPage .peruvianPage_about--txt {
    width: 100%;
    margin-bottom: 30px;
  }
}

#Wrap .conceptPage.peruvianPage .peruvianPage_about--txt .aboutTtl {
  font-size: 30px;
  color: #5A5A5A;
  line-height: 44px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.peruvianPage .peruvianPage_about--txt .aboutTtl {
    font-size: 26px;
    line-height: 35px;
  }
}

#Wrap .conceptPage.peruvianPage .peruvianPage_about--txt .aboutTxt {
  font-size: 14px;
  color: #5A5A5A;
  line-height: 2;
  letter-spacing: 0.03em;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.peruvianPage .peruvianPage_about--txt .aboutTxt {
    font-size: 13px;
    line-height: 24px;
  }
}

#Wrap .conceptPage.peruvianPage .peruvianPage_about--pic {
  width: 400px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.peruvianPage .peruvianPage_about--pic {
    width: 100%;
  }
}

#Wrap .conceptPage.peruvianPage .peruvianPage_about.about02 {
  margin: 0 auto;
}

#Wrap .conceptPage.peruvianPage .peruvianPage_about.about02 .peruvianPage_about--txt {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

#Wrap .conceptPage.peruvianPage .peruvianPage_about.about02 .peruvianPage_about--pic {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

#Wrap .conceptPage.peruvianPage .peruvianPage_aboutWrap {
  background: #F2EEED;
  padding: 120px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 160px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.peruvianPage .peruvianPage_aboutWrap {
    padding: 50px 0;
    margin-bottom: 70px;
  }
}

#Wrap .conceptPage.onePage .onePage_ttl {
  width: 130px;
  margin: 0 auto 70px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.onePage .onePage_ttl {
    width: 28%;
    margin: 0 auto 40px;
  }
}

#Wrap .conceptPage.onePage .onePage_lead {
  text-align: center;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: #5A5A5A;
  margin: 0 0 70px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.onePage .onePage_lead {
    width: 89.33%;
    text-align: left;
    font-size: 13px;
    line-height: 24px;
    margin: 0 auto 16px;
  }
}

#Wrap .conceptPage.onePage .onePage_about {
  width: 920px;
  margin: 120px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.onePage .onePage_about {
    width: 89.33%;
    margin: 60px auto;
    display: block;
  }
}

#Wrap .conceptPage.onePage .onePage_about--txt {
  width: 420px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.onePage .onePage_about--txt {
    width: 100%;
    margin-bottom: 30px;
  }
}

#Wrap .conceptPage.onePage .onePage_about--txt .aboutTtl {
  font-size: 30px;
  color: #5A5A5A;
  line-height: 44px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.onePage .onePage_about--txt .aboutTtl {
    font-size: 26px;
    line-height: 35px;
  }
}

#Wrap .conceptPage.onePage .onePage_about--txt .aboutTxt {
  font-size: 14px;
  color: #5A5A5A;
  line-height: 2;
  letter-spacing: 0.03em;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.onePage .onePage_about--txt .aboutTxt {
    font-size: 13px;
    line-height: 24px;
  }
}

#Wrap .conceptPage.onePage .onePage_about--pic {
  width: 460px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.onePage .onePage_about--pic {
    width: 100%;
  }
}

#Wrap .conceptPage.onePage .onePage_about.about02 .onePage_about--txt {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  width: 460px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.onePage .onePage_about.about02 .onePage_about--txt {
    width: 100%;
  }
}

#Wrap .conceptPage.onePage .onePage_about.about02 .onePage_about--pic {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  width: 400px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.onePage .onePage_about.about02 .onePage_about--pic {
    width: 100%;
  }
}

#Wrap .conceptPage.onePage .onePage_about.about03 {
  margin: 0 auto;
}

#Wrap .conceptPage.onePage .onePage_aboutWrap {
  background: #F2EEED;
  padding: 120px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 100px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.onePage .onePage_aboutWrap {
    padding: 50px 0;
    margin-bottom: 70px;
  }
}

#Wrap .conceptPage.icePage .icePage_ttl {
  width: 219px;
  margin: 0 auto 85px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.icePage .icePage_ttl {
    width: 43.07%;
    margin: 0 auto 60px;
  }
}

#Wrap .conceptPage.icePage .icePage_about {
  width: 920px;
  margin: 120px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.icePage .icePage_about {
    width: 89.33%;
    margin: 60px auto;
    display: block;
  }
}

#Wrap .conceptPage.icePage .icePage_about--txt {
  width: 460px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.icePage .icePage_about--txt {
    width: 100%;
    margin-bottom: 30px;
  }
}

#Wrap .conceptPage.icePage .icePage_about--txt .aboutTtl {
  font-size: 30px;
  color: #5A5A5A;
  line-height: 44px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.icePage .icePage_about--txt .aboutTtl {
    font-size: 26px;
    line-height: 35px;
  }
}

#Wrap .conceptPage.icePage .icePage_about--txt .aboutTxt {
  font-size: 14px;
  color: #5A5A5A;
  line-height: 2;
  letter-spacing: 0.03em;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.icePage .icePage_about--txt .aboutTxt {
    font-size: 13px;
    line-height: 24px;
  }
}

#Wrap .conceptPage.icePage .icePage_about--pic {
  width: 400px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.icePage .icePage_about--pic {
    width: 100%;
  }
}

#Wrap .conceptPage.icePage .icePage_about.about01 .icePage_about--pic {
  width: 320px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.icePage .icePage_about.about01 .icePage_about--pic {
    width: 67.61%;
    margin: 0 auto;
  }
}

#Wrap .conceptPage.icePage .icePage_about.about02 {
  margin: 0 auto;
}

#Wrap .conceptPage.icePage .icePage_about.about02 .icePage_about--txt {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

#Wrap .conceptPage.icePage .icePage_about.about02 .icePage_about--pic {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

#Wrap .conceptPage.icePage .icePage_about.about03 {
  margin: 80px auto 160px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.icePage .icePage_about.about03 {
    margin: 60px auto 80px;
  }
}

#Wrap .conceptPage.icePage .icePage_aboutWrap {
  background: #F2EEED;
  padding: 80px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 80px;
}

@media (max-width: 768px) {
  #Wrap .conceptPage.icePage .icePage_aboutWrap {
    padding: 40px 0 50px;
    margin-bottom: 60px;
  }
}

/*# sourceMappingURL=common.css.map */