@charset "utf-8";

/*====================================================================
*    mixin
/*==================================================================*/
$bp1280: 1280px;

@mixin bp1280 {
  @media (max-width: ($bp1280)) {
    @content;
  }
}
$bp1200: 1200px;

@mixin bp1200 {
  @media (max-width: ($bp1200)) {
    @content;
  }
}
$bp1100: 1100px;

@mixin bp1100 {
  @media (max-width: ($bp1100)) {
    @content;
  }
}
$bp1000: 1000px;

@mixin bp1000 {
  @media (max-width: ($bp1000)) {
    @content;
  }
}

$bp768: 768px;  // スマホ

@mixin bp768 {
  @media (max-width: ($bp768)) {
    @content;
  }
}

$bp375: 375px;  // スマホ

@mixin bp375 {
  @media (max-width: ($bp375)) {
    @content;
  }
}

@mixin font-weight($weight) {
  $weights: (
    light: 300,
    regular: 400,
    medium: 500,
    bold: 700
  );
  
  $output: $weight;
  @if map-has-key($weights, $weight) {
    $output: map-get($weights, $weight);
  }
  
  font-weight: $output;
}

body{
	margin: 0;
	padding: 0;

	p{
		margin: 0;
		padding: 0;
	}
}

#Wrap{
	/*====================================================================
	*    CONCEPT TOP
	/*==================================================================*/
	.conceptPage{
		margin: 0 0 120px;

		@include bp768 {
			margin: 0 auto 50px;
		};

		&_ttl{
			position: relative;
			width: 1060px;
			margin: 0 auto;

			@include bp768 {
				width: 100%;
			};

			p{
				position: absolute;
				top: -233px;
				left: 10px;
				font-size: 80px;
				font-family: 'Playfair Display', serif;
				color: #5A5A5A;
				letter-spacing: 0.02em;
				line-height: 90px;

				@include bp768 {
					top: calc(-233 * (100vw / 750));
					left: 25px;
					font-size: 40px;
					line-height: 45px;
				};
			}
		}

		&_about{
			margin: 243px 0 100px;
			width: 100%;
			background: #F2EEED;
			padding: 80px 0 100px;
			box-sizing: border-box;

			@include bp768 {
				margin: calc(243 * (100vw / 750)) 0 70px;
				padding: 152px 0 80px;
			};

			&--inner{
				width: 1060px;
				margin: 0 auto;

				@include bp768 {
					width: 89.33%;
				};

				.conceptPageCts{
					width: 570px;
					margin-left: auto;

					@include bp768 {
						width: 100%;
						margin-left: 0;
					};

					.conceptPageLead{
						font-size: 22px;
						color: #5A5A5A;
						line-height: 2;
						letter-spacing: 0.03em;
						margin-bottom: 50px;

						@include bp768 {
							font-size: 16px;
							line-height: 30px;
							margin-bottom: 40px;
						};
					}

					.conceptPageTxt{
						font-size: 14px;
						color: #5A5A5A;
						line-height: 2;
						letter-spacing: 0.03em;

						@include bp768 {
							font-size: 13px;
							line-height: 24px;
						};
					}
				}
			}
		}

		&_material{
			width: 700px;
			margin: 0 auto;

			@include bp768 {
				width: 86.67%;
			};

			&--ttl{
				text-align: center;
				font-size: 14px;
				font-weight: 700;
				color: #5A5A5A;
				letter-spacing: 0.03em;
				line-height: 1;
				margin-bottom: 60px;

				@include bp768 {
					margin-bottom: 50px;
				};
			}

			&--box{
				display: flex;
				flex-wrap: wrap;

				@include bp768 {
					justify-content: space-between;
				};

				.materialList{
					width: 200px;
					margin: 0 50px 80px 0;

					@include bp768 {
						width: 48.46%;
						margin: 0 0 50px;
					};

					p{
						font-family: interstate, sans-serif;
						font-size: 13px;
						color: #666666;
						line-height: 1;
						letter-spacing: 0.08em;
						text-align: center;
						margin-top: 10px;

						@include bp768 {
							font-size: 12px;
							line-height: 14.5px;
						};
					}

					&:nth-child(3n){
						margin-right: 0;
					}
				}
			}
		}

		/*====================================================================
		*    SUVIN
		/*==================================================================*/

		&.suvinPage{
			.suvinPage{
				&_ttl{
					width: 200px;
					margin: 0 auto;

					@include bp768 {
						width: 45.67%;
					};
				}

				&_lead{
					text-align: center;
					color: #5A5A5A;
					font-size: 14px;
					letter-spacing: 0.03em;
					line-height: 2;
					margin: 0 0 65px;

					@include bp768 {
						width: 89.33%;
						font-size: 13px;
						line-height: 24px;
						margin: 0 auto 40px;
						text-align: left;
					};
				}

				&_about{
					width: 920px;
					margin: 120px auto;
					display: flex;
					justify-content: space-between;

					@include bp768 {
						width: 89.33%;
						margin: 60px auto 50px;
						display: block;
					};

					&--txt{
						width: 390px;

						@include bp768 {
							width: 100%;
							margin-bottom: 40px;
						};

						.aboutTtl{
							font-size: 30px;
							color: #5A5A5A;
							line-height: 44px;
							letter-spacing: 0.03em;
							margin-bottom: 30px;

							@include bp768 {
								font-size: 26px;
								line-height: 35px;
							};
						}

						.aboutTxt{
							font-size: 14px;
							color: #5A5A5A;
							line-height: 2;
							letter-spacing: 0.03em;

							@include bp768 {
								font-size: 13px;
								line-height: 24px;
							};
						}
					}

					&--pic{
						width: 460px;

						@include bp768 {
							width: 100%;
						};
					}
				}

				&_cts{
					background: #F2EEED;
					padding: 120px 0;
					box-sizing: border-box;
					margin-bottom: 100px;

					@include bp768 {
						padding: 50px 0;
						margin-bottom: 70px;
					};

					&--inner{
						width: 920px;
						margin: 0 auto;
						display: flex;
						justify-content: space-between;
						align-items: flex-end;

						@include bp768 {
							width: 89.33%;
							display: block;
						};

						.ctsPic{
							width: 400.5px;
							order: 1;

							@include bp768 {
								width: 100%;
							};
						}

						.ctsTxt{
							width: 460px;
							order: 2;

							@include bp768 {
								width: 100%;
								margin-bottom: 30px;
							};

							&_ttl{
								font-size: 30px;
								color: #5A5A5A;
								line-height: 44px;
								letter-spacing: 0.03em;
								margin-bottom: 30px;

								@include bp768 {
									font-size: 26px;
									line-height: 35px;
								};
							}

							&_txt{
								font-size: 14px;
								color: #5A5A5A;
								line-height: 2;
								letter-spacing: 0.03em;

								@include bp768 {
									font-size: 13px;
									line-height: 24px;
								};
							}
						}
					}
				}
			}
		}

		/*====================================================================
		*    OZONE
		/*==================================================================*/

		&.ozonePage{
			margin-top: 65px;

			@include bp768 {
				margin-top: 11px;
			};
			
			.ozonePage{
				&_ttl{
					margin-bottom: 100px;

					@include bp768 {
						margin-bottom: 50px;
					};

					p{
						text-align: center;
						font-family: 'Playfair Display', serif;
						font-size: 34px;
						line-height: 1.35;
						letter-spacing: 0.08em;

						@include bp768 {
							font-size: 21px;
							line-height: 1.33;
						};
					}
				}

				&_about{
					width: 920px;
					margin: 100px auto 120px;
					display: flex;
					justify-content: space-between;
					align-items: center;

					@include bp768 {
						width: 89.33%;
						margin: 60px auto 50px;
						display: block;
					};

					&--txt{
						width: 400px;

						@include bp768 {
							width: 100%;
							margin-bottom: 30px;
						};

						.aboutTtl{
							font-size: 30px;
							color: #5A5A5A;
							line-height: 44px;
							letter-spacing: 0.03em;
							margin-bottom: 30px;

							@include bp768 {
								font-size: 26px;
								line-height: 35px;
							};
						}

						.aboutTxt{
							font-size: 14px;
							color: #5A5A5A;
							line-height: 2;
							letter-spacing: 0.03em;

							@include bp768 {
								font-size: 13px;
								line-height: 24px;
							};
						}
					}

					&--pic{
						width: 460px;

						@include bp768 {
							width: 100%;
						};
					}
				}

				&_cts{
					background: #F2EEED;
					padding: 80px 0;
					box-sizing: border-box;
					margin-bottom: 100px;

					@include bp768 {
						padding: 50px 0;
						margin-bottom: 50px;
					};

					&--inner{
						width: 920px;
						margin: 0 auto;
						display: flex;
						justify-content: space-between;
						align-items: center;

						@include bp768 {
							width: 89.33%;
							display: block;
						};

						.ctsPic{
							width: 400px;

							@include bp768 {
								width: 100%;
							};
						}

						.ctsTxt{
							width: 460px;

							@include bp768 {
								width: 100%;
								margin-bottom: 30px;
							};

							&_ttl{
								font-size: 30px;
								color: #5A5A5A;
								line-height: 44px;
								letter-spacing: 0.03em;
								margin-bottom: 30px;

								@include bp768 {
									font-size: 26px;
									line-height: 35px;
									white-space: nowrap;
								};
							}

							&_txt{
								font-size: 14px;
								color: #5A5A5A;
								line-height: 2;
								letter-spacing: 0.03em;

								@include bp768 {
									font-size: 13px;
									line-height: 24px;
								};
							}
						}

						&.inner02{
							margin-top: 120px;

							@include bp768 {
								margin-top: 60px;
							};

							.ctsPic{
								order: 1;
							}

							.ctsTxt{
								order: 2;
							}
						}

						&.inner03{
							align-items: flex-end;
							margin-bottom: 160px;

							@include bp768 {
								margin-bottom: 70px;
							};

							.ctsTxt{
								width: 420px;

								@include bp768 {
									width: 100%;
								};
							}
						}
					}
				}
			}
		}

		/*====================================================================
		*    BRATAC
		/*==================================================================*/

		&.bratacPage{
			.bratacPage{
				&_ttl{
					width: 200px;
					margin: 0 auto;

					@include bp768 {
						width: 38%;
					};
				}

				&_lead{
					text-align: center;
					font-size: 14px;
					line-height: 2;
					letter-spacing: 0.03em;
					color: #5A5A5A;
					margin: 20px 0 70px;

					@include bp768 {
						width: 89.33%;
						text-align: left;
						font-size: 13px;
						line-height: 24px;
						margin: 20px auto 40px;
					};
				}

				&_about{
					width: 920px;
					margin: 100px auto 120px;
					display: flex;
					justify-content: space-between;

					@include bp768 {
						width: 89.33%;
						margin: 70px auto;
						display: block;
					};

					&--txt{
						width: 460px;

						@include bp768 {
							width: 100%;
							margin-bottom: 30px;
						};

						.aboutTtl{
							font-size: 30px;
							color: #5A5A5A;
							line-height: 44px;
							letter-spacing: 0.03em;
							margin-bottom: 20px;

							@include bp768 {
								font-size: 26px;
								line-height: 35px;
							};
						}

						.aboutTxt{
							font-size: 14px;
							color: #5A5A5A;
							line-height: 2;
							letter-spacing: 0.03em;

							@include bp768 {
								font-size: 13px;
								line-height: 24px;
							};
						}
					}

					&--pic{
						width: 460px;

						@include bp768 {
							width: 100%;
						};
					}

					&.about02{
						margin: 0 auto 160px;

						@include bp768 {
							margin: 0 auto 70px;
						};

						.bratacPage_about--txt{
							order: 2;
						}

						.bratacPage_about--pic{
							order: 1;
							width: 400px;

							@include bp768 {
								width: 100%;
							};
						}
					}
				}
			}
		}

		/*====================================================================
		*    PERUVIAN PIMA COTTON
		/*==================================================================*/

		&.peruvianPage{
			.peruvianPage{
				&_ttl{
					width: 200px;
					margin: 0 auto;

					@include bp768 {
						width: 38%;
					};
				}

				&_lead{
					text-align: center;
					font-size: 14px;
					line-height: 2;
					letter-spacing: 0.03em;
					color: #5A5A5A;
					margin: 0 0 70px;

					@include bp768 {
						width: 89.33%;
						text-align: left;
						font-size: 13px;
						line-height: 24px;
						margin: 0 auto 40px;
					};
				}

				&_about{
					width: 920px;
					margin: 100px auto 120px;
					display: flex;
					justify-content: space-between;
					align-items: flex-end;

					@include bp768 {
						width: 89.33%;
						margin: 60px auto;
						display: block;
					};

					&--txt{
						width: 460px;

						@include bp768 {
							width: 100%;
							margin-bottom: 30px;
						};

						.aboutTtl{
							font-size: 30px;
							color: #5A5A5A;
							line-height: 44px;
							letter-spacing: 0.03em;
							margin-bottom: 20px;

							@include bp768 {
								font-size: 26px;
								line-height: 35px;
							};
						}

						.aboutTxt{
							font-size: 14px;
							color: #5A5A5A;
							line-height: 2;
							letter-spacing: 0.03em;

							@include bp768 {
								font-size: 13px;
								line-height: 24px;
							};
						}
					}

					&--pic{
						width: 400px;

						@include bp768 {
							width: 100%;
						};
					}

					&.about02{
						margin: 0 auto;

						.peruvianPage_about--txt{
							order: 2;
						}

						.peruvianPage_about--pic{
							order: 1;
						}
					}
				}

				&_aboutWrap{
					background: #F2EEED;
					padding: 120px 0;
					box-sizing: border-box;
					margin-bottom: 160px;

					@include bp768 {
						padding: 50px 0;
						margin-bottom: 70px;
					};
				}
			}
		}

		/*====================================================================
		*    one cotton
		/*==================================================================*/

		&.onePage{
			.onePage{
				&_ttl{
					width: 130px;
					margin: 0 auto 70px;

					@include bp768 {
						width: 28%;
						margin: 0 auto 40px;
					};
				}

				&_lead{
					text-align: center;
					font-size: 14px;
					line-height: 2;
					letter-spacing: 0.03em;
					color: #5A5A5A;
					margin: 0 0 70px;

					@include bp768 {
						width: 89.33%;
						text-align: left;
						font-size: 13px;
						line-height: 24px;
						margin: 0 auto 16px;
					};
				}

				&_about{
					width: 920px;
					margin: 120px auto;
					display: flex;
					justify-content: space-between;
					align-items: flex-end;

					@include bp768 {
						width: 89.33%;
						margin: 60px auto;
						display: block;
					};

					&--txt{
						width: 420px;

						@include bp768 {
							width: 100%;
							margin-bottom: 30px;
						};

						.aboutTtl{
							font-size: 30px;
							color: #5A5A5A;
							line-height: 44px;
							letter-spacing: 0.03em;
							margin-bottom: 20px;

							@include bp768 {
								font-size: 26px;
								line-height: 35px;
							};
						}

						.aboutTxt{
							font-size: 14px;
							color: #5A5A5A;
							line-height: 2;
							letter-spacing: 0.03em;

							@include bp768 {
								font-size: 13px;
								line-height: 24px;
							};
						}
					}

					&--pic{
						width: 460px;

						@include bp768 {
							width: 100%;
						};
					}

					&.about02{
						.onePage_about--txt{
							order: 2;
							width: 460px;

							@include bp768 {
								width: 100%;
							};
						}

						.onePage_about--pic{
							order: 1;
							width: 400px;

							@include bp768 {
								width: 100%;
							};
						}
					}

					&.about03{
						margin: 0 auto;
					}
				}

				&_aboutWrap{
					background: #F2EEED;
					padding: 120px 0;
					box-sizing: border-box;
					margin-bottom: 100px;

					@include bp768 {
						padding: 50px 0;
						margin-bottom: 70px;
					};
				}
			}
		}

		/*====================================================================
		*    ice cotton
		/*==================================================================*/

		&.icePage{
			.icePage{
				&_ttl{
					width: 219px;
					margin: 0 auto 85px;

					@include bp768 {
						width: 43.07%;
						margin: 0 auto 60px;
					};
				}

				&_about{
					width: 920px;
					margin: 120px auto;
					display: flex;
					justify-content: space-between;
					align-items: center;

					@include bp768 {
						width: 89.33%;
						margin: 60px auto;
						display: block;
					};

					&--txt{
						width: 460px;

						@include bp768 {
							width: 100%;
							margin-bottom: 30px;
						};

						.aboutTtl{
							font-size: 30px;
							color: #5A5A5A;
							line-height: 44px;
							letter-spacing: 0.03em;
							margin-bottom: 20px;

							@include bp768 {
								font-size: 26px;
								line-height: 35px;
							};
						}

						.aboutTxt{
							font-size: 14px;
							color: #5A5A5A;
							line-height: 2;
							letter-spacing: 0.03em;

							@include bp768 {
								font-size: 13px;
								line-height: 24px;
							};
						}
					}

					&--pic{
						width: 400px;

						@include bp768 {
							width: 100%;
						};
					}

					&.about01{
						.icePage_about--pic{
							width: 320px;

							@include bp768 {
								width: 67.61%;
								margin: 0 auto;
							};
						}
					}

					&.about02{
						margin: 0 auto;

						.icePage_about--txt{
							order: 2;
						}

						.icePage_about--pic{
							order: 1;
						}
					}

					&.about03{
						margin: 80px auto 160px;

						@include bp768 {
							margin: 60px auto 80px;
						};
					}
				}

				&_aboutWrap{
					background: #F2EEED;
					padding: 80px 0;
					box-sizing: border-box;
					margin-bottom: 80px;

					@include bp768 {
						padding: 40px 0 50px;
						margin-bottom: 60px;
					};
				}
			}
		}

		/*====================================================================
		*    terredelin
		/*==================================================================*/

		&.terredelin{
			.terredelin{
				&_ttl{
					width: 162px;
					margin: 0 auto 80px;

					@include bp768 {
						width: 27.33%;
						margin: 0 auto 40px;
					};
				}

				&Lead{
					width: 552px;
					margin: 120px auto 80px;

					@include bp768 {
						width: 80.27%;
						margin: 60px auto 75px;
					};
				}

				&_about{
					width: 920px;
					margin: 0 auto 160px;
					display: flex;
					justify-content: space-between;
					align-items: center;

					@include bp768 {
						width: 89.33%;
						margin: 0 auto 60px;
						display: block;
					};

					&--txt{
						width: 460px;

						@include bp768 {
							width: 100%;
							margin-bottom: 30px;
						};

						.aboutTtl{
							font-size: 30px;
							color: #5A5A5A;
							line-height: 44px;
							letter-spacing: 0.03em;
							margin-bottom: 20px;

							@include bp768 {
								font-size: 23px;
								line-height: 35px;
							};
						}

						.aboutTxt{
							font-size: 14px;
							color: #5A5A5A;
							line-height: 2;
							letter-spacing: 0.03em;

							@include bp768 {
								font-size: 13px;
								line-height: 24px;
							};
						}
					}

					&--pic{
						width: 400px;

						@include bp768 {
							width: 100%;
						};
					}

					&.about01{
						.terredelin_about--pic{
							@include bp768 {
								width: 73.88%;
								margin: 0 auto;
							};
						}
					}

					&.about02{
						margin: 0 auto;

						.terredelin_about--txt{
							order: 2;

							.aboutTxtBox01{
								margin-bottom: 40px;
							}
						}

						.terredelin_about--pic{
							order: 1;
						}
					}
				}

				&_aboutWrap{
					background: #F2EEED;
					padding: 120px 0;
					box-sizing: border-box;
					margin-bottom: 160px;

					@include bp768 {
						padding: 50px 0 60px;
						margin-bottom: 80px;
					};
				}
			}
		}
	}
}