@charset  "utf-8";

$bp1100: 1100px;  // スマホ

@mixin bp1100 {
  @media (max-width: ($bp1100)) {
    @content;
  }
}

$bp1060: 1060px;  // スマホ

@mixin bp1060 {
  @media (max-width: ($bp1060)) {
    @content;
  }
}

$bp768: 768px;  // スマホ

@mixin bp768 {
  @media (max-width: ($bp768)) {
    @content;
  }
}

#Wrap{
	.LPpageWrap{

/*====================================================================
*    ALL
/*==================================================================*/
		.journalWrap {

			.journalWrap_cts{

				.mainArea{
					margin-bottom: 40px;
				
					@include bp768 {
						margin-bottom: 40px;
					};
				}

				.ctsArea{

/*====================================================================
*    TEMPLATE A
/*==================================================================*/
					
					.A-wrap{
						margin-bottom: 80px;
					}

					.A-wrap_pic{
						margin-bottom: 40px;

						@include bp768 {
							margin-bottom: 20px;
						};
					}

					.A-wrap_ttl{
						line-height: 1;
						margin-bottom: 40px;
					}

/*====================================================================
*    TEMPLATE B
/*==================================================================*/
					
					.B-wrap_box{
						margin-bottom: 20px;

						@include bp768 {
							margin-bottom: 20px;
						};
					}

					.B-wrap_txt{
						margin-bottom: 0;
						letter-spacing: 0;
						line-height: 23px;

						@include bp768 {
							margin-bottom: 0;
							line-height: 24px;
						};
					}
					
					.B-wrap_box--pic{
						width: 360px;
						order: 2;

						@include bp1060 {
							width: 89.33%;
							margin: 0 auto 20px;
							order: 1;
						};
					}
					
					.B-wrap_box--txt{
						order: 1;

						@include bp1060 {
							width: 100%;
							order: 2;
						};
					}

/*====================================================================
*    TEMPLATE C
/*==================================================================*/
					
					.C-wrap{
						margin-bottom: 40px;

						@include bp768 {
							margin: 0 auto 20px;
						};
					}

					.C-wrap_list{
						&.last{
							@include bp768 {
								margin: 0 auto 20px;
							};
						}
					}

					.C-wrap_pic{
						margin-bottom: 0;

						@include bp768 {
							margin-bottom: 0;
						};
					}

/*====================================================================
*    ALL
/*==================================================================*/

					&_btn{
						margin: 0 auto 120px;

						@include bp768 {
							margin: 0 auto 100px;
						};
					}

					.latestArea{
						&_box{
							&--list{
								.archiveTtl{
									line-height: 2;

									@include bp768 {
										line-height: 21px;
									};
								}
							}
						}
					}

					.latestArea{
						padding-top: 80px;
						border-top: 1px solid #CCCCCC;
					}
				}
			}

			.journalWrap_item{
				ul{
					li{
						a{
							p{
								span{
									span{
										display: inline;
										margin-top: 0;
										color: #AD2E24;
										text-decoration: line-through;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}