#Wrap .LPpageWrap {
  /*====================================================================
*    ALL
/*==================================================================*/
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .mainArea {
    margin-bottom: 60px;
  }
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .mainArea_lead {
    line-height: 24px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea {
  /*====================================================================
*    TEMPLATE A
/*==================================================================*/
  /*====================================================================
*    TEMPLATE C
/*==================================================================*/
  /*====================================================================
*    TEMPLATE F
/*==================================================================*/
  /*====================================================================
*    ALL
/*==================================================================*/
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap {
    margin: 0 auto 60px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap_ttl {
  line-height: 1;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap_ttl {
    line-height: 24px;
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap_pic {
    margin-bottom: 5px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap_txt {
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap_txt {
    margin-bottom: 20px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .C-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .C-wrap {
    width: 100%;
    margin: 0 auto;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .C-wrap_list {
  width: 355px;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .C-wrap_list {
    width: 49.25%;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .C-wrap_pic {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .C-wrap_pic {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .F-wrap {
    margin: 0 auto 60px;
  }
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .F-wrap .A-wrap_ttl {
    width: 89.33%;
    margin: 0 auto 15px;
  }
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .F-wrap .A-wrap_txt {
    width: 89.33%;
    margin: 0 auto 20px;
  }
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .F-wrap .A-wrap_detail {
    width: 89.33%;
    margin: 0 auto;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .F-wrap_box {
  margin: 0 0 40px;
  padding-top: 0;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .F-wrap_box {
    margin: 0 0 40px;
    padding-top: 0;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea_btn {
  margin: -40px auto 160px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea_btn {
    margin: 0 auto 80px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .latestArea {
  padding-top: 80px;
  border-top: 1px solid #CCCCCC;
}

/*# sourceMappingURL=common.css.map */