#Wrap .LPpageWrap {
  /*====================================================================
*    ALL
/*==================================================================*/
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .mainArea_lead {
    line-height: 24px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea {
  /*====================================================================
*    TEMPLATE A
/*==================================================================*/
  /*====================================================================
*    TEMPLATE F
/*==================================================================*/
  /*====================================================================
*    ALL
/*==================================================================*/
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap {
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap {
    margin: 0 auto 40px;
  }
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap_pic {
    margin-bottom: 20px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap_ttl {
  font-size: 18px;
  line-height: 1;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap_ttl {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 40px;
    text-align: center;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap_ttl.A-wrap_ttlsub {
  font-size: 16px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap_ttl.A-wrap_ttlsub {
    line-height: 24px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap_txt {
    font-size: 14px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .F-wrap {
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .F-wrap {
    margin: 0 auto 40px;
  }
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .F-wrap .A-wrap_ttl {
    width: 89.33%;
    margin: 0 auto 40px;
  }
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .F-wrap .A-wrap_ttl.A-wrap_ttlsub {
    margin: 0 auto 20px;
  }
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .F-wrap .A-wrap_txt {
    width: 89.33%;
    margin: 0 auto 10px;
  }
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .F-wrap .A-wrap_detail {
    width: 89.33%;
    margin: 0 auto 10px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .F-wrap_box {
  margin: 0 0 40px;
  padding-top: 0;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .F-wrap_box {
    margin: 0 0 20px;
    padding-top: 0;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .subinArea {
  margin-top: 200px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .subinArea {
    margin-top: 0;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .subinArea_ttl {
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .subinArea_ttl {
    font-weight: 500;
    line-height: 1;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .subinArea_txt {
  font-size: 13px;
  text-align: center;
  line-height: 2;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .subinArea_txt {
    font-size: 14px;
    line-height: 24px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea_btn {
  margin: 0 auto 120px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea_btn {
    margin: 0 auto 100px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea_btn.subin {
  margin: 0 auto 160px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea_btn.subin {
    margin: 0 auto 100px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .latestArea {
  padding-top: 80px;
  border-top: 1px solid #CCCCCC;
}

/*# sourceMappingURL=common.css.map */