#Wrap .LPpageWrap {
  /*====================================================================
*    ALL
/*==================================================================*/
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .mainArea {
  margin-bottom: 80px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .mainArea {
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .mainArea_ttl--txt h2 {
    font-size: 13px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea {
  /*====================================================================
*    TEMPLATE A
/*==================================================================*/
  /*====================================================================
*    TEMPLATE C
/*==================================================================*/
  /*====================================================================
*    ALL
/*==================================================================*/
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap {
  margin-bottom: 160px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap {
    width: 89.33%;
    margin: 0 auto 100px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap_ttl {
  font-size: 13px;
  line-height: 1;
  font-weight: bold;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .A-wrap_ttl {
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 20px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .C-wrap {
  margin-bottom: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .C-wrap {
    width: 100%;
    margin: 0 auto;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .C-wrap_list {
  margin-bottom: 40px;
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .C-wrap_list:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .C-wrap_list:nth-last-child(-n + 2) {
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .C-wrap_list:last-child {
    margin-bottom: 0;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .C-wrap_txt {
  margin-bottom: 0;
  font-size: 12px;
  text-decoration: underline;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .C-wrap_txt {
    margin-bottom: 0;
    font-size: 14px;
    text-align: left;
    text-decoration: none;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .C-wrap_txt span {
  color: #FD0303;
  text-decoration: underline;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .C-wrap_txt span {
    text-decoration: none;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea_btn {
  margin: 0 auto 80px;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea_btn {
    margin: 0 auto 60px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .latestArea_box--list .archiveTtl {
  line-height: 2;
}

@media (max-width: 768px) {
  #Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .latestArea_box--list .archiveTtl {
    line-height: 21px;
  }
}

#Wrap .LPpageWrap .journalWrap .journalWrap_cts .ctsArea .latestArea {
  padding-top: 80px;
  border-top: 1px solid #CCCCCC;
}

#Wrap .LPpageWrap .journalWrap .journalWrap_item ul li a p span span {
  display: inline;
  margin-top: 0;
  color: #FD0303;
}

/*# sourceMappingURL=common.css.map */