@charset "UTF-8";
@font-face {
  font-family: 'baskerville';
  src: url("../Font/baskerville.otf") format("opentype");
}

@font-face {
  font-family: 'gillsans';
  src: url("../Font/gillsans.otf") format("opentype");
}

body.active {
  position: fixed;
  top: 0;
  left: 0;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: block;
}

a:hover {
  opacity: 0.8;
}

strong {
  font-weight: bold;
}

.hide {
  display: none !important;
}

/* clear fix */
.cf {
  min-height: 1px;
  overflow: hidden;
}

.cf:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

* html .cf {
  height: 1px;
}

input[type="submit"], input[type="text"], input[type="email"], input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

textarea {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

input[type="submit"]::-webkit-search-decoration, input[type="text"]::-webkit-search-decoration, input[type="email"]::-webkit-search-decoration, input[type="button"]::-webkit-search-decoration {
  display: none;
}

input[type="submit"]::focus, input[type="text"]::focus, input[type="email"]::focus, input[type="button"]::focus {
  outline-offset: -2px;
}

textarea::focus {
  outline-offset: -2px;
}

/*====================================================================
*    mixin
/*==================================================================*/
/*====================================================================
*    Responsive
/*==================================================================*/
.pc_contents {
  display: block !important;
}

@media (max-width: 768px) {
  .pc_contents {
    display: none !important;
  }
}

.sp_contents {
  display: none !important;
}

@media (max-width: 768px) {
  .sp_contents {
    display: block !important;
  }
}

.pc_flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

@media (max-width: 768px) {
  .pc_flex {
    display: none !important;
  }
}

.sp_flex {
  display: none !important;
}

@media (max-width: 768px) {
  .sp_flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

/*====================================================================
*    Detail 
/*==================================================================*/
.tblLayout_ProductDetail {
  width: 100%;
  margin: 82px 0 0 0;
}

.tblLayout_ProductDetail #secondary {
  display: none;
}

.tblLayout_ProductDetail .unit {
  margin-bottom: 0 !important;
  clear: both;
}

.tblLayout_ProductDetail #primary {
  width: 100%;
  padding-left: 0;
  margin-top: 10px;
}

.tblLayout_ProductDetail #dvProductDetailArea #detailImage {
  width: 50%;
  float: left;
}

@media (max-width: 768px) {
  .tblLayout_ProductDetail #dvProductDetailArea #detailImage {
    width: 100%;
    float: left;
  }
}

.tblLayout_ProductDetail #dvProductDetailArea #detailImage .mainImage #zoomPicture {
  width: 100%;
  height: auto;
  border: none;
}

.tblLayout_ProductDetail .detail_top_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media (max-width: 768px) {
  .tblLayout_ProductDetail .detail_top_wrap {
    display: block;
  }
}

.tblLayout_ProductDetail .wrapDetailImage {
  width: 100vw;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.tblLayout_ProductDetail .tag_material {
  padding: 25px 0 10px;
  margin: 25px 0;
  border-top: 1px solid #EAE6E5;
  border-bottom: 1px solid #EAE6E5;
}

@media (max-width: 768px) {
  .tblLayout_ProductDetail .tag_material {
    padding: 20px 0 15px;
    margin: 20px 0;
  }
}

.tblLayout_ProductDetail .tag_material dl {
  margin: 0 0 10px;
}

.tblLayout_ProductDetail .tag_material dl dt {
  font-size: 13px;
  width: 70px;
  position: relative;
  display: inline-block;
  letter-spacing: 0.08em;
}

.tblLayout_ProductDetail .tag_material dl dt:after {
  content: ":";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.tblLayout_ProductDetail .tag_material dl dd {
  font-size: 13px;
  position: relative;
  display: inline-block;
  padding: 0 0 0 20px;
  letter-spacing: 0.08em;
}

.tblLayout_ProductDetail p.icon img {
  width: auto !important;
}

.tblLayout_ProductDetail div#dvProductSubInfo {
  display: none;
}

.tblLayout_ProductDetail .size_detail_check {
  margin: 0 0 40px;
}

.tblLayout_ProductDetail .size_detail_check h3 {
  font-size: 13px;
  letter-spacing: 0.08em;
  margin: 0 0 8px;
}

.tblLayout_ProductDetail .size_detail_check ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tblLayout_ProductDetail .size_detail_check li {
  width: 47.8%;
}

.tblLayout_ProductDetail .size_detail_check li:first-child {
  margin: 0 4% 0 0;
}

.tblLayout_ProductDetail .size_detail_check a {
  border: 1px solid #3D3D3D;
  width: 100%;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 2px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #3d3d3d;
  letter-spacing: 0.14em;
  font-size: 14px;
}

.tblLayout_ProductDetail .size_detail_check a span {
  display: block;
  color: #878787;
  margin: 10px 0 0;
  letter-spacing: 0em;
  font-size: 12px;
}

.tblLayout_ProductDetail .detailOne_wrap {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .tblLayout_ProductDetail .detailOne_wrap {
    width: 100%;
  }
}

.tblLayout_ProductDetail ul.subImage.clearFix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.tblLayout_ProductDetail ul.subImage.clearFix li {
  width: 50%;
}

@media (max-width: 768px) {
  .tblLayout_ProductDetail ul.subImage.clearFix li {
    width: 100%;
  }
}

.tblLayout_ProductDetail #dvProductDetailArea h2 {
  font-size: 16px;
  line-height: 1.8;
  margin: 0 0 15px;
  letter-spacing: 0.04em;
}

@media (max-width: 768px) {
  .tblLayout_ProductDetail #dvProductDetailArea h2 {
    font-size: 14px;
    line-height: 1.8;
  }
}

.tblLayout_ProductDetail p.productPrice {
  font-size: 16px;
  letter-spacing: 0.08em;
  font-weight: bold;
}

@media (max-width: 768px) {
  .tblLayout_ProductDetail p.productPrice {
    font-size: 15px;
  }
}

.tblLayout_ProductDetail ul.snsList.clearFix {
  display: none;
}

.tblLayout_ProductDetail a#ctl00_ContentPlaceHolder1_lbCartAdd {
  width: 81.73913%;
  max-width: 376px;
  background: #AD2E24 !important;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.tblLayout_ProductDetail a#ctl00_ContentPlaceHolder1_lbCartAdd:before {
  content: "";
  display: block;
  padding: 15.5% 0 0 0;
}

.tblLayout_ProductDetail .productSellInfo {
  padding: 0 !important;
  border: none !important;
  background: none !important;
}

.tblLayout_ProductDetail .productAmount {
  display: none;
}

.tblLayout_ProductDetail .productCart {
  position: relative;
}

.tblLayout_ProductDetail .detailAddcart_favo {
  max-width: 64px;
  width: 12.8%;
  position: absolute;
  top: 0;
  right: 0;
  background: #eae6e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.tblLayout_ProductDetail p.btnCart {
  margin: 0 !important;
  padding: 0;
}

.tblLayout_ProductDetail #dvProductDetailArea #detailOne {
  width: 71.875%;
  max-width: 460px;
}

@media (max-width: 768px) {
  .tblLayout_ProductDetail #dvProductDetailArea #detailOne {
    width: 100%;
    max-width: 100%;
    padding: 0 5.3vw;
  }
}

.tblLayout_ProductDetail #dvProductDetailArea .description {
  margin: 0;
}

.tblLayout_ProductDetail .unit .title {
  display: none;
}

.tblLayout_ProductDetail .variationImage {
  display: none;
}

.tblLayout_ProductDetail .id_description_wrap {
  max-width: 1200px;
  padding: 0 5%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 80px auto 120px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  /* form clear */
}

@media (max-width: 768px) {
  .tblLayout_ProductDetail .id_description_wrap {
    margin: 35px auto 40px;
  }
}

.tblLayout_ProductDetail .id_description_wrap__left {
  max-width: 500px;
  width: 46.2963%;
}

@media (max-width: 768px) {
  .tblLayout_ProductDetail .id_description_wrap__left {
    width: 100%;
  }
}

.tblLayout_ProductDetail .id_description_wrap__right {
  max-width: 500px;
  width: 46.2963%;
}

@media (max-width: 768px) {
  .tblLayout_ProductDetail .id_description_wrap__right {
    width: 100%;
    display: none;
  }
}

.tblLayout_ProductDetail .id_description_wrap p {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.08em;
}

@media (max-width: 768px) {
  .tblLayout_ProductDetail .id_description_wrap p {
    font-size: 13px;
  }
}

.tblLayout_ProductDetail .id_description_wrap__dlwrap {
  margin: 0 0 50px;
}

@media (max-width: 768px) {
  .tblLayout_ProductDetail .id_description_wrap__dlwrap {
    margin: 0 0 35px;
  }
}

.tblLayout_ProductDetail .id_description_wrap__dlwrap dt {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.08em;
  display: inline-block;
  width: 70px;
  position: relative;
  margin: 0 10px 0 0;
}

@media (max-width: 768px) {
  .tblLayout_ProductDetail .id_description_wrap__dlwrap dt {
    font-size: 13px;
  }
}

.tblLayout_ProductDetail .id_description_wrap__dlwrap dt:before {
  content: ":";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.tblLayout_ProductDetail .id_description_wrap__dlwrap dd {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.08em;
  display: inline-block;
}

@media (max-width: 768px) {
  .tblLayout_ProductDetail .id_description_wrap__dlwrap dd {
    font-size: 13px;
  }
}

.tblLayout_ProductDetail .id_description_wrap__dlwrap dd img {
  width: 40px !important;
  display: inline-block !important;
  margin: 0 10px 0 0;
}

@media (max-width: 768px) {
  .tblLayout_ProductDetail .id_description_wrap__dlwrap dd img {
    width: 30px !important;
  }
}

.tblLayout_ProductDetail .detail_btn_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 30px 0px 0 0;
}

@media (max-width: 768px) {
  .tblLayout_ProductDetail .detail_btn_box {
    display: block;
  }
}

.tblLayout_ProductDetail .detail_btn_box a {
  width: 48%;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #2E0E02;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 14px;
  letter-spacing: 0.08em;
}

@media (max-width: 768px) {
  .tblLayout_ProductDetail .detail_btn_box a {
    width: 100%;
    height: 40px;
    font-size: 12px;
    letter-spacing: 0.08em;
    margin: 0 0 15px;
  }
}

.tblLayout_ProductDetail .detail_btn_box a img {
  position: absolute;
  width: 8px !important;
  display: block;
  right: 11px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.tblLayout_ProductDetail .id_title {
  font-size: 16px;
  line-height: 1.8;
  margin: 0 0 30px;
  letter-spacing: 0.04em;
  padding: 0 0 10px;
  position: relative;
  border-bottom: 1px solid #EAE6E5;
}

@media (max-width: 768px) {
  .tblLayout_ProductDetail .id_title {
    display: none;
  }
}

.tblLayout_ProductDetail .id_title:after {
  content: "";
  position: absolute;
  width: 120px;
  height: 2px;
  background: #968680;
  bottom: 0;
  left: 0;
}

.tblLayout_ProductDetail .rev_description_wrap {
  max-width: 1200px;
  padding: 0 5%;
  width: 100%;
  margin: 80px auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  /* form clear */
}

.tblLayout_ProductDetail .rev_description_wrap .rev_innar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.tblLayout_ProductDetail .rev_description_wrap .rev_innar__box {
  width: 46.2963%;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 0 40px;
}

@media (max-width: 768px) {
  .tblLayout_ProductDetail .rev_description_wrap .rev_innar__box {
    width: 100%;
    max-width: 100%;
    display: block;
  }
}

.tblLayout_ProductDetail .rev_description_wrap .rev_innar__box__left {
  width: 32%;
}

@media (max-width: 768px) {
  .tblLayout_ProductDetail .rev_description_wrap .rev_innar__box__left {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0 20px;
  }
  .tblLayout_ProductDetail .rev_description_wrap .rev_innar__box__left img {
    width: 40vw !important;
    margin: 0 4vw 0 0;
  }
}

.tblLayout_ProductDetail .rev_description_wrap .rev_innar__box__right {
  width: 65%;
}

@media (max-width: 768px) {
  .tblLayout_ProductDetail .rev_description_wrap .rev_innar__box__right {
    width: 100%;
  }
}

.tblLayout_ProductDetail .rev_description_wrap .rev_innar__box__right__top {
  margin: 0 0 45px;
}

.tblLayout_ProductDetail .rev_description_wrap .rev_innar__box__right__top h3 {
  font-size: 12px;
  letter-spacing: 0.08em;
  margin: 0 0 10px;
  font-weight: bold;
}

.tblLayout_ProductDetail .rev_description_wrap .rev_innar__box__right__top p {
  font-size: 12px;
  letter-spacing: 0.08em;
  margin: 0 0 10px;
}

@media (max-width: 768px) {
  .tblLayout_ProductDetail .rev_description_wrap .rev_innar__box__right__bottom {
    padding: 0 5px;
  }
}

.tblLayout_ProductDetail .rev_description_wrap .rev_innar__box__right__bottom dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 0 20px;
}

.tblLayout_ProductDetail .rev_description_wrap .rev_innar__box__right__bottom dt {
  width: 23.07692%;
}

.tblLayout_ProductDetail .rev_description_wrap .rev_innar__box__right__bottom dd {
  width: 73.84615%;
  position: relative;
}

.tblLayout_ProductDetail .rev_description_wrap .rev_innar__box__right__bottom dd img {
  max-width: 134px;
  width: 55.83333% !important;
  position: absolute;
  right: 31px;
  left: 0px;
  margin: auto;
  top: 2px;
}

.tblLayout_ProductDetail .rev_description_wrap .rev_innar__box__right__bottom dd span.ds1 {
  position: absolute;
  left: 0;
  top: 0;
  color: #878787;
}

.tblLayout_ProductDetail .rev_description_wrap .rev_innar__box__right__bottom dd span.ds2 {
  position: absolute;
  right: 0;
  top: 0;
  color: #878787;
}

.tblLayout_ProductDetail #dvUpSell {
  max-width: 1200px;
  padding: 0 5%;
  width: 100%;
  margin: 80px auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  /* form clear */
}

@media (max-width: 768px) {
  .tblLayout_ProductDetail #dvUpSell {
    margin: 40px auto;
  }
}

.tblLayout_ProductDetail #dvUpSell .title {
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.08em;
  margin: 0 0 40px;
  padding: 0;
  border: none;
}

.tblLayout_ProductDetail #dvUpSell .productInfoList {
  max-width: 258px;
  width: 23.88889%;
  margin: 0 1.48% 0 0;
}

.tblLayout_ProductDetail #dvUpSell .productInfoList:nth-of-type(4n) {
  margin: 0 0 0 0;
}

@media (max-width: 768px) {
  .tblLayout_ProductDetail #dvUpSell .productInfoList {
    width: 44.2vw;
    margin: 0 0;
    max-width: 100%;
    margin: 0 1.6vw 40px 0;
  }
  .tblLayout_ProductDetail #dvUpSell .productInfoList:nth-of-type(2n) {
    margin: 0 0 40px 0;
  }
}

.tblLayout_ProductDetail #dvUpSell .productInfoList ul {
  width: 100%;
  margin: 0;
}

.tblLayout_ProductDetail #dvUpSell .productInfoList ul li {
  margin: 10px 0 0;
}

.tblLayout_ProductDetail #dvUpSell .productInfoList ul li p {
  line-height: 1.5;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.08em;
}

.tblLayout_ProductDetail #dvUpSell li.productName a {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.tblLayout_ProductDetail #dvUpSell a.bl-bigger {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.08em;
}

.tblLayout_ProductDetail #dvUpSell .productInfoList {
  height: auto !important;
}

.tblLayout_ProductDetail #dvCrossSell {
  max-width: 1200px;
  padding: 0 5%;
  width: 100%;
  margin: 80px auto 120px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  /* form clear */
}

@media (max-width: 768px) {
  .tblLayout_ProductDetail #dvCrossSell {
    margin: 40px auto;
  }
}

.tblLayout_ProductDetail #dvCrossSell .title {
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.08em;
  margin: 0 0 40px;
  padding: 0;
  border: none;
}

.tblLayout_ProductDetail #dvCrossSell .productInfoList {
  max-width: 258px;
  width: 23.88889%;
  margin: 0 1.48% 0 0;
}

.tblLayout_ProductDetail #dvCrossSell .productInfoList:nth-of-type(4n) {
  margin: 0 0 0 0;
}

@media (max-width: 768px) {
  .tblLayout_ProductDetail #dvCrossSell .productInfoList {
    width: 44.2vw;
    margin: 0 0;
    max-width: 100%;
    margin: 0 1.6vw 40px 0;
  }
  .tblLayout_ProductDetail #dvCrossSell .productInfoList:nth-of-type(2n) {
    margin: 0 0 40px 0;
  }
}

.tblLayout_ProductDetail #dvCrossSell .productInfoList ul {
  width: 100%;
  margin: 0;
}

.tblLayout_ProductDetail #dvCrossSell .productInfoList ul li {
  margin: 10px 0 0;
}

.tblLayout_ProductDetail #dvCrossSell .productInfoList ul li p {
  line-height: 1.5;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.08em;
}

.tblLayout_ProductDetail #dvCrossSell li.productName a {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.tblLayout_ProductDetail #dvCrossSell a.bl-bigger {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.08em;
}

.tblLayout_ProductDetail #dvCrossSell .productInfoList {
  height: auto !important;
}

.tblLayout_ProductDetail div#divMultiVariation {
  display: none;
}

.tblLayout_ProductDetail .sec.sec--history {
  display: none;
}

.tblLayout_ProductDetail div#ctl00_ContentPlaceHolder1_ctl04_upUpdatePanel {
  display: none;
}

.tblLayout_ProductDetail .zaiiko_check {
  margin: 15px 0 60px 0;
  background: #F4F2F2;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 0 0 20px;
}

@media (max-width: 768px) {
  .tblLayout_ProductDetail .zaiiko_check {
    margin: 15px 0 0px 0;
  }
}

.tblLayout_ProductDetail .zaiiko_check span {
  display: inline-block !important;
  margin: 0 0 0 5px !important;
}

.tblLayout_ProductDetail .productAmount + div .error {
  display: none;
}

.tblLayout_ProductDetail div#ctl00_ContentPlaceHolder1_ctl03_upUpdatePanel {
  display: none;
}

.tblLayout_ProductDetail .soldout {
  top: auto;
  bottom: 0;
}

.tblLayout_ProductDetail .productPrice__wrap__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tblLayout_ProductDetail #dvProductDetailArea .wrapProductPrice p strike {
  color: #AD2E24;
}

.tblLayout_ProductDetail p.productPrice.sale_price {
  color: #AD2E24;
  margin: 0 0 0 15px;
}

.tblLayout_ProductDetail #dvProductDetailArea .icon img {
  height: 15px;
  display: inline-block;
  margin: 0 15px 0 0px;
}

.tblLayout_ProductDetail a#ctl00_ContentPlaceHolder1_lbRequestArrivalMail2 {
  text-shadow: none;
}

.tblLayout_ProductDetail ul.slides li {
  position: relative;
}

.tblLayout_ProductDetail ul.slides li img {
  position: relative;
  z-index: 1;
}

.tblLayout_ProductDetail ul.slides li:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.tblLayout_ProductDetail span.iconspan:after {
  content: "/";
  color: #AD2E24;
  padding: 0 7px 0 0;
}

.tblLayout_ProductDetail span.iconspan:last-child:after {
  display: none;
}

.tblLayout_ProductDetail .saleWrap p.productPrice {
  color: #AD2E24;
}

.tblLayout_ProductDetail .saleWrap p.productPrice span {
  color: #AD2E24 !important;
}

.tblLayout_ProductDetail #dvProductDetailArea .saleWrap p.productPrice.sale_price {
  color: #3D3D3D !important;
  text-decoration: line-through;
}

.tblLayout_ProductDetail #dvProductDetailArea .saleWrap p.productPrice.sale_price span {
  text-decoration: line-through;
  color: #3D3D3D !important;
}

.tblLayout_ProductDetail #dvProductDetailArea .saleWrap p.productPrice.sale_price span strike {
  color: #3D3D3D !important;
}

.tblLayout_ProductDetail span.productPoint {
  display: none;
}

#dvCrossSell .productInfoList ul li p strike {
  color: #3D3D3D !important;
}

#dvUpSell .productInfoList ul li p strike {
  color: #3D3D3D !important;
}

.sale_bottom {
  color: #AD2E24 !important;
}

.hidden_btn .SmartArrivalMail__wrap #ctl00_ContentPlaceHolder1_lbRequestArrivalMail2 {
  height: 42px;
}

#dvProductDetailArea #detailImage div.mainImage {
  position: relative;
}

#dvProductDetailArea #detailImage .mainImage .soldout {
  color: #fff;
  word-wrap: normal;
  display: block;
  position: absolute;
  top: auto;
  text-align: center;
  width: 100%;
  height: 35px;
  line-height: 35px;
  background-color: #000;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
  bottom: 0;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: rgba(46, 14, 2, 0.75);
  line-height: 80px;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.16em;
  color: #fff;
}

p.toolTip {
  margin: 0px;
  padding: 20px;
  border-radius: 10px;
  top: 108px;
  width: 285px;
  text-align: center;
  color: white;
  overflow: hidden;
  display: none;
  position: fixed;
  z-index: 9000000;
  -ms-zoom: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0.9;
  color: #000;
  background-color: #ccc;
  -moz-border-radius: 5px;
  bottom: 40px !important;
  left: auto !important;
  top: auto !important;
  right: 30px !important;
}

.btn-inverse {
  color: #ffffff !important;
  background-color: #ad2e24 !important;
  border: none;
  /* height: 20px; */
  padding: 8px 43px;
  border-radius: 0;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.detail_change {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0;
  padding: 0 5.3vw;
}

.detail_change a {
  width: 50%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 13px;
  font-weight: bold;
  color: #C6C6C6;
  border-bottom: 1px solid #968680;
}

.detail_change a.active {
  color: #3D3D3D;
  border-bottom: 2px solid #968680;
}

.soldout {
  width: 100%;
  height: 45px;
  border: 1px solid #cac2be;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 14px;
  letter-spacing: 0.08em;
  color: #cac2be;
}

.SmartArrivalMail__wrap {
  position: relative;
  overflow: hidden;
}

#divProductArrivalMail, #divComplete {
  padding: 20px 0;
}

.detailAddcart_favo__wrap + div > .error {
  display: none;
}

div#divProductArrivalMail {
  font-size: 12px;
  line-height: 1.8;
  z-index: 10;
}

div#divProductArrivalMail table {
  margin: 15px 0 0 0;
}

span.error_inline {
  font-size: 10px;
}

ul#ctl00_ContentPlaceHolder1_ucBpamrArrival_rblMailAddrKbn {
  display: none;
}

input#ctl00_ContentPlaceHolder1_ucBpamrArrival_tbMailAddr {
  width: 100% !important;
  display: block;
}

a#ctl00_ContentPlaceHolder1_lbRequestArrivalMail2 {
  background: #CAC2BF !important;
  border: none;
  font-size: 12px;
  padding: 10px 40px;
  border-radius: 0;
  width: 81.73913%;
  max-width: 376px;
  background: #AD2E24 !important;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 60px;
  font-size: 13px;
  border-radius: 3px;
  max-width: 100%;
  letter-spacing: 0.08em;
}

@media (max-width: 425px) {
  a#ctl00_ContentPlaceHolder1_lbRequestArrivalMail2 {
    height: 49px;
  }
}

@media (max-width: 375px) {
  a#ctl00_ContentPlaceHolder1_lbRequestArrivalMail2 {
    height: 43px;
  }
}

@media (max-width: 340px) {
  a#ctl00_ContentPlaceHolder1_lbRequestArrivalMail2 {
    height: 37px;
  }
}

.productStock {
  display: none;
}

.hidden_btn {
  max-width: 325px !important;
  width: 325px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: block;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.hidden_btn.active {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

div#divProductArrivalMail input {
  margin: 0 10px 3px 2px;
}

.SmartArrivalMail__wrap td {
  font-size: 14px !important;
}

input#ctl00_ContentPlaceHolder1_ucBpamrArrival_tbMailAddr {
  border: 1px solid #e1e1e1;
  height: 30px;
  margin: 0px 0 0 !important;
  display: block !important;
}

div#divProductArrivalMail td {
  padding: 10px 20px !important;
  letter-spacing: 0.08em;
  color: #333;
}

a#ctl00_ContentPlaceHolder1_ucBpamrArrival_lbRegisterBtn {
  width: 200px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0;
  margin: 20px auto 0 !important;
  border: none;
  background: #ad2e24 !important;
}

div#divProductArrivalMail {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  z-index: 888;
  margin-top: -70px;
}

.divProductArrivalMail__innnar {
  width: 500px;
  background: #fff;
  padding: 40px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 300px;
  margin: auto;
  z-index: 999;
}

@media (max-width: 768px) {
  .divProductArrivalMail__innnar {
    width: 90%;
    background: #fff;
    padding: 60px 20px 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    bottom: inherit;
    height: auto;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
  }
}

@media (max-width: 768px) {
  .th_1 {
    display: block;
  }
}

.my-parts {
  display: inline-block;
  width: 26px;
  height: 26px;
  position: relative;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}

@media (max-width: 768px) {
  .my-parts {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.my-parts span::before,
.my-parts span::after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 5%;
  margin: -8% 0 0 -42%;
  background: #333;
}

.my-parts span::before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.my-parts span::after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  content: '\f001';
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  display: none;
}

.flexslider {
  margin: 0 0 0px;
  background: #fff;
  border: 0;
  position: relative;
  zoom: 1;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
}

@media (max-width: 768px) {
  .flexslider {
    margin: 0 0 15px;
  }
}

.flex-control-paging li a {
  width: 6px;
  height: 6px;
  display: block;
  background: #666;
  background: none;
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  -o-box-shadow: 0;
  box-shadow: 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #2E0E02;
}

.flex-direction-nav .flex-next {
  right: 0;
  text-align: right;
}

.flex-direction-nav a {
  opacity: 1;
}

.flex-control-paging li a.flex-active {
  width: 6px;
  height: 6px;
  display: block;
  background: #666;
  background: #2E0E02;
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: 15px;
  text-align: center;
}

@media (max-width: 768px) {
  .flex-control-nav li {
    margin: 0 11px;
  }
}

.rev_innar__box__left .rev_innar__box__right__top {
  display: none;
}

@media (max-width: 768px) {
  .rev_innar__box__left .rev_innar__box__right__top {
    display: block;
    margin: 0 !important;
  }
  .rev_innar__box__left .rev_innar__box__right__top span {
    display: block;
    margin: 0 0 10px;
  }
}

.rev_innar__box__right .rev_innar__box__right__top {
  display: block;
}

@media (max-width: 768px) {
  .rev_innar__box__right .rev_innar__box__right__top {
    display: none;
  }
}

_:-ms-lang(x)::-ms-backdrop, #primary {
  /* IE11 のみ適用される */
  max-width: 1400px;
  width: 100%;
  margin: auto;
}

input#ctl00_ContentPlaceHolder1_rProductOptionValueSettings_ctl01_txtProductOptionValueSetting {
  display: none;
}

.tag_material dd {
  height: 13px;
}

.si_wrap > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.selectValiation__innar1 {
  width: 48.3%;
}

.selectValiation__innar1 > div {
  font-size: 13px;
  letter-spacing: 0.08em;
  margin: 0 0 8px;
}

.selectValiation__innar1 a {
  overflow: visible;
}

.selectValiation__innar div span {
  font-size: 13px;
  letter-spacing: 0.08em;
  margin: 0 0 8px;
  display: block;
}

.VariationPanelSelected {
  border: 1px solid #CAC2BF;
  width: 99%;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 2px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #3d3d3d;
  letter-spacing: 0.14em;
  font-size: 14px;
  background: none;
  padding: 0;
  margin: 0;
  background: #CAC2BF;
  color: #fff;
}

.VariationPanel {
  border: 1px solid #CAC2BF;
  width: 99%;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 2px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #C6C6C6;
  letter-spacing: 0.14em;
  font-size: 14px;
  background: none;
  padding: 0;
  margin: 0;
  color: #968680;
}

.VariationPanel:hover {
  background: #CAC2BF;
  color: #fff !important;
}

input#ctl00_ContentPlaceHolder1_rProductOptionValueSettings_ctl00_txtProductOptionValueSetting {
  font-size: 13px;
  position: relative;
  display: inline-block;
  padding: 0 0 0 0px;
  letter-spacing: 0.08em;
}

@media (max-width: 768px) {
  #dvProductDetailArea #detailTwo {
    margin-top: 0px;
    clear: left;
  }
}

div#primary {
  position: relative;
}

.load_wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 100;
  opacity: 1;
  visibility: visible;
}

.load_wrap.active {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 1s 0.5s;
  -o-transition: all 1s 0.5s;
  transition: all 1s 0.5s;
}

.subImage a:hover {
  opacity: 1;
  cursor: default;
}

#dvProductDetailArea #detailImage .mainImage .soldout {
  color: #fff;
  word-wrap: normal;
  display: block;
  position: absolute;
  top: auto;
  text-align: center;
  width: 100%;
  height: 35px;
  line-height: 35px;
  background-color: #000;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 1;
  bottom: 0;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: rgba(46, 14, 2, 0.75);
  line-height: 80px;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.16em;
  color: #fff;
  border: none;
}

@media (max-width: 768px) {
  .load_wrap {
    top: -95px;
  }
  .tblLayout_ProductDetail {
    margin: 60px 0 0 0;
  }
  .flex-viewport .soldout {
    top: auto;
    bottom: 0;
    color: #fff;
    word-wrap: normal;
    display: block;
    position: absolute;
    top: auto;
    text-align: center;
    width: 100%;
    height: 35px;
    line-height: 35px;
    background-color: #000;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 1;
    bottom: 0;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65px;
    background: rgba(46, 14, 2, 0.75);
    line-height: 65px;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.16em;
    color: #fff;
    border: none;
    z-index: 1;
  }
}
