/*====================================================================
  02 OrderShipping
====================================================================*/
@font-face {
  font-family: 'baskerville';
  src: url("../Font/baskerville.otf") format("opentype");
}

@font-face {
  font-family: 'gillsans';
  src: url("../Font/gillsans.otf") format("opentype");
}

a {
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: block;
}

a:hover {
  opacity: 0.8;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  /* form clear */
  /*   -webkit-appearance: none !important;*/
}

strong {
  font-weight: bold;
}

.hide {
  display: none !important;
}

/* clear fix */
.cf {
  min-height: 1px;
  overflow: hidden;
}

.cf:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

* html .cf {
  height: 1px;
}

input[type="submit"], input[type="text"], input[type="email"], input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

textarea {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

input[type="submit"]::-webkit-search-decoration, input[type="text"]::-webkit-search-decoration, input[type="email"]::-webkit-search-decoration, input[type="button"]::-webkit-search-decoration {
  display: none;
}

input[type="submit"]::focus, input[type="text"]::focus, input[type="email"]::focus, input[type="button"]::focus {
  outline-offset: -2px;
}

textarea::focus {
  outline-offset: -2px;
}

/*====================================================================
*    mixin
/*==================================================================*/
/*====================================================================
*    Responsive
/*==================================================================*/
.pc_contents {
  display: block !important;
}

@media (max-width: 768px) {
  .pc_contents {
    display: none !important;
  }
}

.sp_contents {
  display: none !important;
}

@media (max-width: 768px) {
  .sp_contents {
    display: block !important;
  }
}

.pc_flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

@media (max-width: 768px) {
  .pc_flex {
    display: none !important;
  }
}

.sp_flex {
  display: none !important;
}

@media (max-width: 768px) {
  .sp_flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.cart2 h2.ttlA {
  font-size: 14px !important;
  font-weight: bold;
  max-width: 1280px;
  margin: 0 auto 24px !important;
  padding: 0 0 20px 43px !important;
  height: auto !important;
  border-bottom: #EAE6E5 solid 1px !important;
}

@media (max-width: 768px) {
  .cart2 h2.ttlA {
    padding: 0 0 20px 0px !important;
  }
}

.cart2 .main.clearFix {
  display: none;
}

.cart2 div.main {
  width: 1120px !important;
  padding: 0 !important;
  margin: 0 !important;
  background: none !important;
  position: relative;
}

@media (max-width: 1120px) {
  .cart2 div.main {
    width: 100% !important;
  }
}

.cart2 div.submain {
  width: 100% !important;
}

.cart2 #CartList {
  padding: 0 6.25%;
  margin: auto;
  max-width: 1280px;
}

@media (max-width: 768px) {
  .cart2 #CartList {
    padding: 0;
    margin: 50px auto;
  }
}

.cart2 #CartList div.productList div.product div {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .cart2 #CartList div.productList div.product div {
    display: block;
  }
}

.cart2 #CartList div#ctl00_ContentPlaceHolder1_rCartList_ctl00_divOwnerColumn {
  width: 800px !important;
  float: left;
}

@media (max-width: 1120px) {
  .cart2 #CartList div#ctl00_ContentPlaceHolder1_rCartList_ctl00_divOwnerColumn {
    width: 71.42857% !important;
  }
}

@media (max-width: 768px) {
  .cart2 #CartList div#ctl00_ContentPlaceHolder1_rCartList_ctl00_divOwnerColumn {
    width: 100% !important;
    margin: auto;
    float: none;
  }
}

.cart2 #CartList .userBox {
  background: none;
  margin-top: 0;
}

.cart2 #CartList .userBox .top {
  background: none;
}

.cart2 #CartList .userBox .bottom {
  background: none;
  border-bottom: 1px solid #EAE6E5;
  margin: 0 0 60px;
  padding: 0 0 0 41px !important;
}

@media (max-width: 768px) {
  .cart2 #CartList .userBox .bottom {
    padding: 0 !important;
  }
}

@media (max-width: 768px) {
  .cart2 #CartList .userBox .bottom {
    padding: 0;
    border-bottom: none;
  }
}

.cart2 #CartList .userBox .bottom dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0 0 15px;
}

@media (max-width: 768px) {
  .cart2 #CartList .userBox .bottom dl {
    border-bottom: 1px solid #bfb6b2;
    border-bottom: #EAE6E5 solid 1px;
    padding: 0 0 20px;
    display: block;
  }
}

.cart2 #CartList .userBox .bottom dl.remove {
  padding: 0;
  margin: 0;
  border: none;
}

@media (max-width: 768px) {
  .cart2 #CartList .userBox .bottom dl:last-chuild {
    display: block;
    padding: 0 0 25px;
    border-bottom: 1px solid #EAE6E4;
  }
}

.cart2 #CartList .userBox .bottom dl input {
  font-size: 13px;
  letter-spacing: 0.08em;
  font-weight: normal;
  padding: 0 0 0 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

@media (max-width: 768px) {
  .cart2 #CartList .userBox .bottom dl.small1 {
    padding: 20px 0 !important;
  }
}

.cart2 #CartList .userBox .bottom dl.small0 {
  margin: 0 !important;
}

.cart2 #CartList .userBox .bottom dl.small2 dd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cart2 #CartList .userBox .bottom dl.small4 .name_wrap {
  width: 245px !important;
}

.cart2 #CartList .userBox .bottom dl.small5 {
  display: none !important;
}

.cart2 #CartList .userBox .bottom dl.small7 {
  margin: 0 0 15px !important;
}

.cart2 #CartList .userBox .bottom dl.small8 {
  margin: 0 0 15px !important;
}

.cart2 #CartList .userBox .bottom dl.small11 dd {
  width: 324px !important;
}

.cart2 #CartList .userBox .bottom dl p.pdg_topC {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cart2 #CartList .userBox .bottom dl .btn_add_sea {
  margin-left: 10px;
}

.cart2 #CartList .userBox .bottom dl .btn-mini {
  padding: 0;
  font-size: 13px;
  line-height: 36px;
  height: 32px;
  border: none;
  width: 30%;
  border-radius: 0;
}

.cart2 #CartList .userBox .bottom dl .columnRight {
  width: 100% !important;
  float: none;
}

.cart2 #CartList .userBox .bottom dt {
  width: 33.75%;
  width: 29.75%;
  display: inline-block;
  padding: 8px 0 0 0;
  font-weight: normal;
}

@media (max-width: 768px) {
  .cart2 #CartList .userBox .bottom dt {
    width: 100%;
    display: block;
    margin: 0 0 15px;
  }
}

.cart2 #CartList .userBox .bottom dt span.fred {
  font-size: 10px;
  background: #AD2E24;
  color: #fff;
  text-align: right;
  float: right;
  height: 19px;
  width: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
}

.cart2 #CartList .userBox .bottom dd {
  width: 65.5%;
  padding: 0 0 0 13px;
}

@media (max-width: 768px) {
  .cart2 #CartList .userBox .bottom dd {
    width: 100%;
    padding: 0 0 0 0;
  }
}

.cart2 #CartList .userBox .bottom dd br {
  display: none;
}

@media (max-width: 768px) {
  .cart2 #CartList .userBox .bottom input, .cart2 #CartList .userBox .bottom select {
    height: 40px !important;
  }
}

.cart2 #CartList .userBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbOwnerName1,
.cart2 #CartList .userBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbOwnerName2,
.cart2 #CartList .userBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbOwnerNameKana1,
.cart2 #CartList .userBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbOwnerNameKana2 {
  border: 1px solid #C0B6B3;
  width: 78.5%;
  height: 32px;
}

@media (max-width: 768px) {
  .cart2 #CartList .userBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbOwnerName1,
  .cart2 #CartList .userBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbOwnerName2,
  .cart2 #CartList .userBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbOwnerNameKana1,
  .cart2 #CartList .userBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbOwnerNameKana2 {
    width: 86.5%;
  }
}

.cart2 #CartList .userBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbOwnerTel1_1,
.cart2 #CartList .userBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbOwnerTel1_2,
.cart2 #CartList .userBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbOwnerTel1_3,
.cart2 #CartList .userBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbOwnerTel2_1,
.cart2 #CartList .userBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbOwnerTel2_2,
.cart2 #CartList .userBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbOwnerTel2_3 {
  width: 65px;
  height: 32px;
  border: 1px solid #C0B6B3;
}

@media (max-width: 768px) {
  .cart2 #CartList .userBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbOwnerTel1_1,
  .cart2 #CartList .userBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbOwnerTel1_2,
  .cart2 #CartList .userBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbOwnerTel1_3,
  .cart2 #CartList .userBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbOwnerTel2_1,
  .cart2 #CartList .userBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbOwnerTel2_2,
  .cart2 #CartList .userBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbOwnerTel2_3 {
    width: 28%;
  }
}

.cart2 #CartList .userBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbOwnerMailAddr,
.cart2 #CartList .userBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbOwnerMailAddrConf {
  width: 100%;
  height: 32px;
  border: 1px solid #C0B6B3;
}

.cart2 #CartList .userBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbOwnerZip1,
.cart2 #CartList .userBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbOwnerZip2 {
  width: 65px;
  height: 32px;
}

.cart2 #CartList .userBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbOwnerZip1 {
  margin: 0 7px 0 0;
}

.cart2 #CartList .userBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbOwnerZip2 {
  margin: 0 0px 0 7px;
}

.cart2 #CartList .userBox .bottom select#ctl00_ContentPlaceHolder1_rCartList_ctl00_ddlOwnerAddr1,
.cart2 #CartList .userBox .bottom select#ctl00_ContentPlaceHolder1_rCartList_ctl00_ddlShippingKbnList {
  width: 100%;
  font-size: 13px;
  letter-spacing: 0.08em;
  font-weight: normal;
  padding: 0 0 0 10px;
  height: 32px;
  border-radius: 0 !important;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url(../../Contents/ImagesPkg/user/common/arrow_down.svg) no-repeat 97% 12px;
  border: 1px solid #C0B6B3;
}

@media (max-width: 768px) {
  .cart2 #CartList .userBox .bottom select#ctl00_ContentPlaceHolder1_rCartList_ctl00_ddlOwnerAddr1,
  .cart2 #CartList .userBox .bottom select#ctl00_ContentPlaceHolder1_rCartList_ctl00_ddlShippingKbnList {
    background: url(../../Contents/ImagesPkg/user/common/arrow_down.svg) no-repeat 97% 16px;
    margin: 0;
  }
}

.cart2 #CartList .userBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbOwnerAddr3,
.cart2 #CartList .userBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbOwnerAddr4,
.cart2 #CartList .userBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbOwnerAddr2,
.cart2 #CartList .userBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbOwnerAddr4,
.cart2 #CartList .userBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbOwnerCompanyPostName,
.cart2 #CartList .userBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbOwnerCompanyName {
  width: 100%;
  height: 32px;
  border: 1px solid #C0B6B3;
}

.cart2 #CartList .userBox .bottom select#ctl00_ContentPlaceHolder1_rCartList_ctl00_ddlOwnerBirthYear,
.cart2 #CartList .userBox .bottom select#ctl00_ContentPlaceHolder1_rCartList_ctl00_ddlOwnerBirthMonth,
.cart2 #CartList .userBox .bottom select#ctl00_ContentPlaceHolder1_rCartList_ctl00_ddlOwnerBirthDay {
  width: 26%;
  height: 32px;
  border: 1px solid #C0B6B3;
  border-radius: 0;
  background: none !important;
  -webkit-appearance: none;
  padding: 0 0 0 10px !important;
}

@media (max-width: 768px) {
  .cart2 #CartList .userBox .bottom select#ctl00_ContentPlaceHolder1_rCartList_ctl00_ddlOwnerBirthYear,
  .cart2 #CartList .userBox .bottom select#ctl00_ContentPlaceHolder1_rCartList_ctl00_ddlOwnerBirthMonth,
  .cart2 #CartList .userBox .bottom select#ctl00_ContentPlaceHolder1_rCartList_ctl00_ddlOwnerBirthDay {
    width: 20.8%;
  }
}

.cart2 #CartList .userBox .bottom small {
  margin: 10px 0 0 0;
}

.cart2 #CartList .userBox .bottom span.sei,
.cart2 #CartList .userBox .bottom .sei_kana {
  margin: 0 7px 0 0;
}

.cart2 #CartList .userBox .bottom span.mei,
.cart2 #CartList .userBox .bottom .mei_kana {
  margin: 0 7px 0 0;
}

.cart2 #CartList .userBox .bottom .name_wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cart2 #CartList .userBox .bottom .name_wrap__innnar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50%;
}

@media (max-width: 768px) {
  .cart2 #CartList .userBox .bottom .name_wrap {
    width: 100%;
    display: block;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .cart2 #CartList .userBox .bottom .name_wrap__innnar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
  }
}

.cart2 #CartList .columnRight {
  width: 71.42857% !important;
  float: left;
}

@media (max-width: 768px) {
  .cart2 #CartList .columnRight {
    width: 100% !important;
    float: none;
  }
}

.cart2 #CartList .btn_add_sea {
  display: none !important;
}

@media (max-width: 768px) {
  .cart2 #CartList .userList {
    width: 100%;
    padding: 0;
  }
}

.cart2 #CartList input#ctl00_ContentPlaceHolder1_rCartList_ctl00_rblSaveToUserShipping_0,
.cart2 #CartList input#ctl00_ContentPlaceHolder1_rCartList_ctl00_rblSaveToUserShipping_1 {
  height: auto !important;
}

.cart2 #CartList .orderBox {
  background: #fff;
}

.cart2 #CartList .orderBox .bottom {
  background: none;
}

@media (max-width: 768px) {
  .cart2 #CartList .orderBox .bottom {
    padding: 0 !important;
  }
}

.cart2 #CartList .orderBox .bottom .userProduct {
  display: none;
}

.cart2 #CartList .orderBox .bottom dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 10px;
}

@media (max-width: 768px) {
  .cart2 #CartList .orderBox .bottom dl {
    display: block;
    padding: 20px 0 20px;
    margin: 0 0 0px;
    border-bottom: 1px solid #EAE6E4;
  }
}

.cart2 #CartList .orderBox .bottom dl.remove {
  padding: 0;
  margin: 0;
  border: none;
}

.cart2 #CartList .orderBox .bottom dl input {
  font-size: 13px;
  letter-spacing: 0.08em;
  font-weight: normal;
  padding: 0 0 0 10px;
}

.cart2 #CartList .orderBox .bottom dl.small2 dd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 768px) {
  .cart2 #CartList .orderBox .bottom dl.small2 dd {
    display: block;
  }
}

.cart2 #CartList .orderBox .bottom dl.small3 {
  display: none !important;
}

.cart2 #CartList .orderBox .bottom dl.small7 {
  margin: 0 0 15px !important;
}

.cart2 #CartList .orderBox .bottom dl.small8 {
  margin: 0 0 15px !important;
}

.cart2 #CartList .orderBox .bottom dl.small5 {
  display: none !important;
}

.cart2 #CartList .orderBox .bottom dl p.pdg_topC {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cart2 #CartList .orderBox .bottom dl .btn_add_sea {
  margin-left: 10px;
}

.cart2 #CartList .orderBox .bottom dl .btn-mini {
  padding: 0;
  font-size: 13px;
  line-height: 36px;
  height: 32px;
  border: none;
  width: 30%;
  border-radius: 0;
}

.cart2 #CartList .orderBox .bottom dl .columnRight {
  width: 100% !important;
  float: none;
}

.cart2 #CartList .orderBox .bottom dt {
  width: 29%;
  display: inline-block;
  padding: 0;
  font-weight: normal;
}

@media (max-width: 768px) {
  .cart2 #CartList .orderBox .bottom dt {
    width: 100%;
    display: block;
    margin: 0 0 15px;
  }
}

.cart2 #CartList .orderBox .bottom dt span.fred {
  font-size: 10px;
  background: #AD2E24;
  color: #fff;
  text-align: right;
  float: right;
  height: 19px;
  width: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 0;
  float: left;
}

.cart2 #CartList .orderBox .bottom dd {
  width: 67%;
  padding: 1px 0px 0px 19px;
}

@media (max-width: 768px) {
  .cart2 #CartList .orderBox .bottom dd {
    width: 100%;
    padding: 1px 0px 0px 0 !important;
  }
}

.cart2 #CartList .orderBox .bottom dd br {
  display: none;
}

.cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbShippingName1,
.cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbShippingName2,
.cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbShippingNameKana1,
.cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbShippingNameKana2,
.cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl01_tbShippingName1,
.cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl01_tbShippingName2,
.cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl01_tbShippingNameKana1,
.cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl01_tbShippingNameKana2 {
  border: 1px solid #C0B6B3;
  width: 78.5%;
  height: 32px;
}

@media (max-width: 768px) {
  .cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbShippingName1,
  .cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbShippingName2,
  .cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbShippingNameKana1,
  .cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbShippingNameKana2,
  .cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl01_tbShippingName1,
  .cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl01_tbShippingName2,
  .cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl01_tbShippingNameKana1,
  .cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl01_tbShippingNameKana2 {
    width: 86.5%;
  }
}

.cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbShippingTel1_1,
.cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbShippingTel1_2,
.cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbShippingTel1_3,
.cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbShippingTel2_1,
.cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbShippingTel2_2,
.cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbShippingTel2_3,
.cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl01_tbShippingTel1_1,
.cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl01_tbShippingTel1_2,
.cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl01_tbShippingTel1_3,
.cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl01_tbShippingTel2_1,
.cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl01_tbShippingTel2_2,
.cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl01_tbShippingTel2_3 {
  width: 65px;
  height: 32px;
  border: 1px solid #C0B6B3;
}

@media (max-width: 768px) {
  .cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbShippingTel1_1,
  .cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbShippingTel1_2,
  .cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbShippingTel1_3,
  .cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbShippingTel2_1,
  .cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbShippingTel2_2,
  .cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbShippingTel2_3,
  .cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl01_tbShippingTel1_1,
  .cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl01_tbShippingTel1_2,
  .cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl01_tbShippingTel1_3,
  .cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl01_tbShippingTel2_1,
  .cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl01_tbShippingTel2_2,
  .cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl01_tbShippingTel2_3 {
    width: 20.8%;
    width: 26.8%;
  }
}

.cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbShippingMailAddr,
.cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbShippingMailAddrConf,
.cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl01_tbShippingMailAddr,
.cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl01_tbShippingMailAddrConf {
  width: 100%;
  height: 32px;
  border: 1px solid #C0B6B3;
}

.cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbShippingZip1,
.cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbShippingZip2,
.cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl01_tbShippingZip1,
.cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl01_tbShippingZip2 {
  width: 65px;
  height: 32px;
}

.cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbShippingZip1,
.cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl01_tbShippingZip1 {
  margin: 0 7px 0 0;
}

.cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbShippingZip2,
.cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl01_tbShippingZip2 {
  margin: 0 0px 0 7px;
}

.cart2 #CartList .orderBox .bottom select#ctl00_ContentPlaceHolder1_rCartList_ctl00_ddlShippingAddr1,
.cart2 #CartList .orderBox .bottom select#ctl00_ContentPlaceHolder1_rCartList_ctl01_ddlShippingAddr1 {
  width: 100%;
  font-size: 13px;
  letter-spacing: 0.08em;
  font-weight: normal;
  padding: 0 0 0 10px;
  margin: 0;
  height: 32px;
  border-radius: 0 !important;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url(../../Contents/ImagesPkg/user/common/arrow_down.svg) no-repeat 97% 12px;
  border: 1px solid #C0B6B3;
}

@media (max-width: 768px) {
  .cart2 #CartList .orderBox .bottom select#ctl00_ContentPlaceHolder1_rCartList_ctl00_ddlShippingAddr1,
  .cart2 #CartList .orderBox .bottom select#ctl00_ContentPlaceHolder1_rCartList_ctl01_ddlShippingAddr1 {
    background: url(../../Contents/ImagesPkg/user/common/arrow_down.svg) no-repeat 97% 16px;
  }
}

.cart2 #CartList .orderBox .bottom select#ctl00_ContentPlaceHolder1_rCartList_ctl00_ddlShippingKbnList,
.cart2 #CartList .orderBox .bottom select#ctl00_ContentPlaceHolder1_rCartList_ctl01_ddlShippingKbnList {
  width: 483px;
  font-size: 13px;
  letter-spacing: 0.08em;
  font-weight: normal;
  padding: 0 0 0 10px;
  height: 32px;
  border-radius: 0 !important;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url(../../Contents/ImagesPkg/user/common/arrow_down.svg) no-repeat 97% 12px;
  border: 1px solid #C0B6B3;
  margin: 0 0 20px 20px;
}

@media (max-width: 768px) {
  .cart2 #CartList .orderBox .bottom select#ctl00_ContentPlaceHolder1_rCartList_ctl00_ddlShippingKbnList,
  .cart2 #CartList .orderBox .bottom select#ctl00_ContentPlaceHolder1_rCartList_ctl01_ddlShippingKbnList {
    width: 100%;
    background: url(../../Contents/ImagesPkg/user/common/arrow_down.svg) no-repeat 97% 16px;
    margin: 0;
  }
}

.cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbShippingAddr3,
.cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbShippingAddr4,
.cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbShippingAddr2,
.cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbShippingCompanyName,
.cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbShippingCompanyPostName,
.cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl01_tbShippingAddr3,
.cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl01_tbShippingAddr4,
.cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl01_tbShippingAddr2,
.cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl01_tbShippingCompanyName,
.cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl01_tbShippingCompanyPostName {
  width: 100%;
  height: 32px;
  border: 1px solid #C0B6B3;
}

.cart2 #CartList .orderBox .bottom small {
  margin: 10px 0 0 0;
}

.cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbShippingName1,
.cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl01_tbShippingName1 {
  position: relative;
  left: 1.3%;
}

@media (max-width: 768px) {
  .cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbShippingName1,
  .cart2 #CartList .orderBox .bottom input#ctl00_ContentPlaceHolder1_rCartList_ctl01_tbShippingName1 {
    left: 0;
  }
}

@media (max-width: 768px) {
  .cart2 #CartList .orderBox .bottom input, .cart2 #CartList .orderBox .bottom select {
    height: 40px !important;
  }
}

.cart2 #CartList .orderBox .bottom span.sei,
.cart2 #CartList .orderBox .bottom .sei_kana {
  margin: 0 7px 0 0;
}

.cart2 #CartList .orderBox .bottom span.mei,
.cart2 #CartList .orderBox .bottom .mei_kana {
  margin: 0 7px 0 0;
}

.cart2 #CartList .orderBox .bottom .name_wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cart2 #CartList .orderBox .bottom .name_wrap__innnar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50%;
}

@media (max-width: 768px) {
  .cart2 #CartList .orderBox .bottom .name_wrap {
    width: 100%;
    display: block;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .cart2 #CartList .orderBox .bottom .name_wrap__innnar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
  }
}

.cart2 #CartList .orderBox .bottom dt {
  display: inline-block;
  padding: 0;
}

@media (max-width: 768px) {
  .cart2 #CartList .orderBox .bottom dt {
    width: 100%;
    display: block;
    font-weight: normal;
  }
}

.cart2 #CartList .orderBox .bottom dt span.fred {
  font-size: 10px;
  background: #AD2E24;
  color: #fff;
  text-align: right;
  float: right;
  height: 19px;
  width: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
}

.cart2 #CartList .orderBox .bottom dd {
  width: 67%;
}

@media (max-width: 768px) {
  .cart2 #CartList .orderBox .bottom dd {
    width: 100%;
  }
}

.cart2 #CartList .orderBox .bottom dd br {
  display: none;
}

.cart2 #CartList .orderBox div.subbox {
  margin: 18px 0px 0px 0px;
  padding-top: 0px;
  background: none;
}

.cart2 #CartList .orderBox h3 {
  color: #333;
  font-size: 18px;
  padding: 0;
  background-color: #fff;
  background: no-repeat;
  font-size: 14px !important;
  font-weight: bold;
  max-width: 1280px;
  margin: auto !important;
  padding: 0 6.25% !important;
  height: auto !important;
}

.cart2 div#ctl00_ContentPlaceHolder1_rCartList_ctl00_divShippingInputFormInner,
.cart2 div#ctl00_ContentPlaceHolder1_rCartList_ctl01_divShippingInputFormInner {
  padding: 0 0 0 20px;
}

@media (max-width: 768px) {
  .cart2 div#ctl00_ContentPlaceHolder1_rCartList_ctl00_divShippingInputFormInner,
  .cart2 div#ctl00_ContentPlaceHolder1_rCartList_ctl01_divShippingInputFormInner {
    padding: 30px 0 0 0px;
  }
}

.cart2 .userList.uL2 {
  padding: 14px 0 15px 21px;
}

@media (max-width: 768px) {
  .cart2 div#ctl00_ContentPlaceHolder1_rCartList_ctl00_divOwnerColumn,
  .cart2 div#ctl00_ContentPlaceHolder1_rCartList_ctl01_divOwnerColumn {
    padding: 0 6.25%;
  }
}

@media (max-width: 768px) {
  .cart2 .columnRight {
    padding: 0 6.25%;
  }
}

.cart2 div.btmbtn {
  clear: none;
  margin-top: 0px !important;
  border-top: none;
  width: 268px;
  float: right;
  height: auto;
  position: absolute;
  right: 0;
  top: 0;
}

@media (max-width: 768px) {
  .cart2 div.btmbtn {
    width: 100%;
    margin: auto;
    float: none;
    position: static;
  }
}

.cart2 div.btmbtn.is-fixed {
  position: fixed;
  top: 90px;
  margin-left: 852px;
  right: inherit;
}

@media (max-width: 1120px) {
  .cart2 div.btmbtn.is-fixed {
    margin-left: 61%;
  }
}

@media (max-width: 768px) {
  .cart2 div.btmbtn.is-fixed {
    position: inherit;
    top: inherit;
    margin-left: 0;
  }
}

.cart2 .btmbtn__innar {
  background: #EAE6E5;
  padding: 40px 20px 30px;
  height: auto;
}

@media (max-width: 768px) {
  .cart2 .btmbtn__innar ul {
    width: 58.6vw !important;
    max-width: 220px;
    margin: auto !important;
  }
}

.cart2 div.productList dl.name dd {
  width: 68%;
}

.cart2 div.btmbtn ul li {
  margin: 0;
}

.cart2 a.btn.btn-large.btn-success {
  color: #fff;
  text-align: center;
  width: 100%;
  height: 48px;
  line-height: 48px;
  background: #2E0E02;
  position: relative;
  border-radius: 2px;
  border: 1px solid #2E0E02;
  z-index: 0;
  font-size: 12px !important;
  letter-spacing: 0.08em;
  margin: 0 0 20px;
  padding: 0 !important;
  -webkit-box-shadow: unset;
  -moz-box-shadow: unset;
  box-shadow: unset;
  text-decoration: none;
  text-shadow: unset;
}

@media (max-width: 768px) {
  .cart2 a.btn.btn-large.btn-success {
    width: 100%;
    height: 48px;
    line-height: 48px;
  }
}

.cart2 a.btn.btn-large.btn-success:hover::after {
  border-top: 1.5px solid #2E0E02;
  border-right: 1.5px solid #2E0E02;
}

.cart2 a.btn.btn-large.btn-success::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #eae6e5;
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  color: #2E0E02;
}

@media (max-width: 768px) {
  .cart2 a.btn.btn-large.btn-success::before {
    content: none;
  }
}

.cart2 a.btn.btn-large.btn-success:hover::before {
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}

.cart2 a.btn.btn-large.btn-success:hover {
  opacity: 1;
  color: #2E0E02 !important;
}

.cart2 a.btn.btn-large.btn-success2 {
  padding: 0;
  font-size: 12px !important;
  width: 100%;
  border-radius: 0;
  height: 48px;
  background: none;
  border: 1px solid #2E0E02;
  color: #2E0E02;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  letter-spacing: 0.08em;
  margin: 0 0 25px;
}

.cart2 a.btn.btn-large.btn-success2 {
  color: #2E0E02;
  text-align: center;
  width: 100%;
  height: 48px;
  line-height: 48px;
  background: #eae6e5;
  position: relative;
  border-radius: 2px;
  border: 1px solid #2E0E02;
  z-index: 0;
  padding: 0;
  -webkit-box-shadow: unset;
  -moz-box-shadow: unset;
  box-shadow: unset;
  text-decoration: none;
  text-shadow: unset;
  font-size: 12px !important;
}

@media (max-width: 768px) {
  .cart2 a.btn.btn-large.btn-success2 {
    width: 100%;
    height: 48px;
    line-height: 48px;
  }
}

.cart2 a.btn.btn-large.btn-success2:hover::after {
  border-top: 1.5px solid #fff;
  border-right: 1.5px solid #fff;
}

.cart2 a.btn.btn-large.btn-success2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #2E0E02;
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

@media (max-width: 768px) {
  .cart2 a.btn.btn-large.btn-success2::before {
    content: none;
  }
}

.cart2 a.btn.btn-large.btn-success2:hover::before {
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}

.cart2 a.btn.btn-large.btn-success2:hover {
  opacity: 1;
  color: #fff !important;
}

.cart2 a.btn.btn-large.btn-org-gry {
  padding: 0;
  background: no-repeat;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 100%;
  font-size: 12px !important;
  letter-spacing: 0.08em;
  margin: 20px 25px 0 0;
}

.cart2 a.btn.btn-large.btn-gry {
  padding: 0;
  background: no-repeat;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 100%;
  font-size: 12px !important;
  letter-spacing: 0.08em;
  margin: 20px 25px 0 0;
}

.cart2 a.btn.btn-large.btn-gry span {
  display: inline-block !important;
  margin: 0 20px 0 0;
}

.cart2 .btmbtn__innar dl.btmbtn__innar__dl10 {
  margin: 0 0 40px;
}

.cart2 .btmbtn__innar dl {
  width: 100%;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cart2 .btmbtn__innar dl dt {
  font-size: 14px;
  width: 50%;
  text-align: left;
}

@media (max-width: 768px) {
  .cart2 .btmbtn__innar dl dt {
    font-weight: bold;
  }
}

.cart2 .btmbtn__innar dl dt span {
  font-size: 12px;
  display: inline-block !important;
  margin: 0 0 0 6px;
}

.cart2 .btmbtn__innar dl dd {
  font-size: 14px;
  width: 50%;
  text-align: right;
}

@media (max-width: 768px) {
  .cart2 .btmbtn__innar dl dd {
    font-weight: bold;
  }
}

.cart2 .userList {
  padding: 14px 21px 15px 40px;
}

.cart2 .orderBox h4 {
  border: none;
  background-color: none;
  color: #333333;
  padding: 0 !important;
  font-size: 12px;
  font-size: 14px !important;
  font-weight: bold;
  max-width: 1280px;
  margin: 20px auto 15px !important;
  margin: 60px 0 20px 0 !important;
  padding: 0 0 20px 40px !important;
  height: auto !important;
  border-bottom: #EAE6E5 solid 1px;
  background: none !important;
}

@media (max-width: 768px) {
  .cart2 .orderBox h4 {
    padding: 0 0 20px 0px !important;
  }
}

.cart2 .orderBox select#ctl00_ContentPlaceHolder1_rCartList_ctl00_ddlShippingMethod,
.cart2 .orderBox select#ctl00_ContentPlaceHolder1_rCartList_ctl01_ddlShippingMethod {
  width: 43%;
  font-size: 13px;
  letter-spacing: 0.08em;
  font-weight: normal;
  padding: 0 0 0 10px;
  height: 32px;
  border-radius: 0 !important;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url(../../Contents/ImagesPkg/user/common/arrow_down.svg) no-repeat 97% 12px;
  border: 1px solid #C0B6B3;
  margin: 0 0 0 15px;
}

@media (max-width: 768px) {
  .cart2 .orderBox select#ctl00_ContentPlaceHolder1_rCartList_ctl00_ddlShippingMethod,
  .cart2 .orderBox select#ctl00_ContentPlaceHolder1_rCartList_ctl01_ddlShippingMethod {
    margin: 15px 0 0 0;
    display: block;
    background: url(../../Contents/ImagesPkg/user/common/arrow_down.svg) no-repeat 97% 16px;
  }
}

.cart2 .orderBox .small22 .name_wrap {
  width: 245px !important;
}

.cart2 .orderBox div#ctl00_ContentPlaceHolder1_rCartList_ctl00_Div1,
.cart2 .orderBox div#ctl00_ContentPlaceHolder1_rCartList_ctl01_Div1 {
  width: 730px;
}

.cart2 .orderBox div#ctl00_ContentPlaceHolder1_rCartList_ctl00_Div1 input,
.cart2 .orderBox div#ctl00_ContentPlaceHolder1_rCartList_ctl01_Div1 input {
  display: none;
}

@media (max-width: 768px) {
  .cart2 .orderBox div#ctl00_ContentPlaceHolder1_rCartList_ctl00_Div1,
  .cart2 .orderBox div#ctl00_ContentPlaceHolder1_rCartList_ctl01_Div1 {
    width: 100%;
  }
}

.cart2 .orderBox div#ctl00_ContentPlaceHolder1_rCartList_ctl00_Div1 input + label,
.cart2 .orderBox div#ctl00_ContentPlaceHolder1_rCartList_ctl01_Div1 input + label {
  padding-left: 32px;
  vertical-align: middle;
  position: relative;
  padding-top: 4px;
  margin-right: 50px;
  display: block;
}

@media (max-width: 768px) {
  .cart2 .orderBox div#ctl00_ContentPlaceHolder1_rCartList_ctl00_Div1 input + label,
  .cart2 .orderBox div#ctl00_ContentPlaceHolder1_rCartList_ctl01_Div1 input + label {
    margin-right: 0px;
  }
}

.cart2 .orderBox div#ctl00_ContentPlaceHolder1_rCartList_ctl00_Div1 input + label:before,
.cart2 .orderBox div#ctl00_ContentPlaceHolder1_rCartList_ctl01_Div1 input + label:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border: 1px solid #968680;
  border-radius: 50%;
  background: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cart2 .orderBox div#ctl00_ContentPlaceHolder1_rCartList_ctl00_Div1 input:checked + label:after,
.cart2 .orderBox div#ctl00_ContentPlaceHolder1_rCartList_ctl01_Div1 input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: 6px;
  width: 12px;
  height: 12px;
  background: #2E0E02;
  border-radius: 50%;
}

.cart2 .orderBox div#ctl00_ContentPlaceHolder1_rCartList_ctl00_Div1 input:checked + label.on:after,
.cart2 .orderBox div#ctl00_ContentPlaceHolder1_rCartList_ctl01_Div1 input:checked + label.on:after {
  content: "";
}

.cart2 .orderBox div#ctl00_ContentPlaceHolder1_rCartList_ctl00_Div1 p,
.cart2 .orderBox div#ctl00_ContentPlaceHolder1_rCartList_ctl01_Div1 p {
  background: rgba(234, 230, 229, 0.2);
  padding: 20px 40px;
}

@media (max-width: 768px) {
  .cart2 .orderBox div#ctl00_ContentPlaceHolder1_rCartList_ctl00_Div1 p,
  .cart2 .orderBox div#ctl00_ContentPlaceHolder1_rCartList_ctl01_Div1 p {
    padding: 20px 25px;
  }
}

.cart2 div#ctl00_ContentPlaceHolder1_rCartList_ctl00_divShippingDisp,
.cart2 div#ctl00_ContentPlaceHolder1_rCartList_ctl01_divShippingDisp {
  padding: 20px 0 0 20px;
}

@media (max-width: 768px) {
  .cart2 div#ctl00_ContentPlaceHolder1_rCartList_ctl00_divShippingDisp,
  .cart2 div#ctl00_ContentPlaceHolder1_rCartList_ctl01_divShippingDisp {
    padding: 20px 0 0 0px;
  }
}

.cart2 div#ctl00_ContentPlaceHolder1_rCartList_ctl00_divShippingDisp dt,
.cart2 div#ctl00_ContentPlaceHolder1_rCartList_ctl01_divShippingDisp dt {
  font-weight: normal;
}

@media (max-width: 768px) {
  .cart2 div#ctl00_ContentPlaceHolder1_rCartList_ctl00_divShippingDisp dd,
  .cart2 div#ctl00_ContentPlaceHolder1_rCartList_ctl01_divShippingDisp dd {
    padding: 1px 0px 0px 0 !important;
  }
}

.cart2 dl#ctl00_ContentPlaceHolder1_rCartList_ctl00_dlUserShippingName,
.cart2 dl#ctl00_ContentPlaceHolder1_rCartList_ctl01_dlUserShippingName {
  width: 730px;
  background: #fbfafa;
  padding: 0 0 20px;
}

@media (max-width: 768px) {
  .cart2 dl#ctl00_ContentPlaceHolder1_rCartList_ctl00_dlUserShippingName,
  .cart2 dl#ctl00_ContentPlaceHolder1_rCartList_ctl01_dlUserShippingName {
    width: 100%;
  }
}

.cart2 dl#ctl00_ContentPlaceHolder1_rCartList_ctl00_dlUserShippingName dt,
.cart2 dl#ctl00_ContentPlaceHolder1_rCartList_ctl01_dlUserShippingName dt {
  padding: 0px 0 0 73px !important;
  font-weight: normal;
  font-size: 12px;
}

@media (max-width: 768px) {
  .cart2 dl#ctl00_ContentPlaceHolder1_rCartList_ctl00_dlUserShippingName dt,
  .cart2 dl#ctl00_ContentPlaceHolder1_rCartList_ctl01_dlUserShippingName dt {
    padding: 0px 0 0 60px !important;
  }
}

.cart2 input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbUserShippingName,
.cart2 input#ctl00_ContentPlaceHolder1_rCartList_ctl01_tbUserShippingName {
  height: 32px;
  width: 440px;
  border: 1px solid #bfb6b2;
}

@media (max-width: 768px) {
  .cart2 input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbUserShippingName,
  .cart2 input#ctl00_ContentPlaceHolder1_rCartList_ctl01_tbUserShippingName {
    width: 65%;
    margin: auto;
    display: block;
  }
}

.cart2 .input_radio input {
  display: none;
}

.cart2 .userList.ddlShippingMethod {
  display: none;
}

.cart2 dl.dlShipppingDateTime__03 dd {
  width: 240px !important;
  position: relative;
  left: 116px;
  top: -13px;
}

@media (max-width: 768px) {
  .cart2 dl.dlShipppingDateTime__03 dd {
    width: 100% !important;
    position: static;
  }
}

@media (max-width: 768px) {
  .cart2 div#ctl00_ContentPlaceHolder1_rCartList_ctl01_divShipToCart1Address {
    margin: 0 0 20px 0;
  }
  .cart2 div#ctl00_ContentPlaceHolder1_rCartList_ctl00_divShipToCart1Address {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 768px) {
  .cart2 dd.input_align span {
    width: 230px;
  }
}

.cart2 .input_radio input + label {
  padding-left: 32px;
  vertical-align: middle;
  position: relative;
  padding-top: 4px;
  margin-right: 30px;
}

.cart2 .input_radio input + label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border: 1px solid #968680;
  border-radius: 50%;
  background: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cart2 .input_radio input:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: 6px;
  width: 12px;
  height: 12px;
  background: #2E0E02;
  border-radius: 50%;
}

.cart2 .input_radio input:checked + label.on::after {
  content: "";
}

.cart2 small.small0 span {
  margin: 5px 0 0;
}

.cart2 ::-webkit-input-placeholder {
  color: #C6C6C6;
  font-size: 13px;
}

.cart2 :-ms-input-placeholder {
  color: #C6C6C6;
  font-size: 13px;
}

.cart2 ::-ms-input-placeholder {
  color: #C6C6C6;
  font-size: 13px;
}

.cart2 ::placeholder {
  color: #C6C6C6;
  font-size: 13px;
}

.cart2 div#ctl00_ContentPlaceHolder1_rCartList_ctl00_dlShipppingDateTime dt {
  width: 100px !important;
  font-weight: normal;
}

.cart2 select#ctl00_ContentPlaceHolder1_rCartList_ctl00_ddlShippingDate {
  width: 240px;
  font-size: 13px;
  letter-spacing: 0.08em;
  font-weight: normal;
  padding: 0 0 0 10px;
  height: 32px;
  border-radius: 0 !important;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url(../../Contents/ImagesPkg/user/common/arrow_down.svg) no-repeat 97% 12px;
  border: 1px solid #C0B6B3;
  margin: 0 0 0 15px;
}

.cart2 select#ctl00_ContentPlaceHolder1_rCartList_ctl00_ddlShippingTime {
  width: 240px;
  font-size: 13px;
  letter-spacing: 0.08em;
  font-weight: normal;
  padding: 0 0 0 10px;
  height: 32px;
  border-radius: 0 !important;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url(../../Contents/ImagesPkg/user/common/arrow_down.svg) no-repeat 97% 12px;
  border: 1px solid #C0B6B3;
  margin: 0 0 0 15px;
}

.cart2 .uL3 select {
  width: 240px;
  font-size: 13px;
  letter-spacing: 0.08em;
  font-weight: normal;
  padding: 0 0 0 10px;
  height: 32px;
  border-radius: 0 !important;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url(../../Contents/ImagesPkg/user/common/arrow_down.svg) no-repeat 97% 12px;
  border: 1px solid #C0B6B3;
  margin: 0 0 0 15px;
}

.cart2 .uL3 dl.dlShipppingDateTime__03 {
  display: block !important;
  margin: 0 0 15px !important;
}

.cart2 .uL3 dl.dlShipppingDateTime__03 dd {
  font-size: 11px;
  color: #878787;
  line-height: 18px;
}

@media (max-width: 768px) {
  .cart2 .uL3 select {
    width: 100% !important;
    margin: 0 !important;
  }
}

.cart2 .uL3 dt {
  width: 100px !important;
}

@media (max-width: 768px) {
  .cart2 .uL3 .dlShipppingDateTime__03 dt {
    margin: 0;
  }
}

.cart2 .uL3 .dlShipppingDateTime__03 dd {
  width: 240px !important;
  position: relative;
  left: 116px;
  top: -13px;
}

@media (max-width: 768px) {
  .cart2 .uL3 .dlShipppingDateTime__03 dd {
    width: 100% !important;
    position: static !important;
  }
}

.cart2 .uL2 select {
  width: 483px;
  font-size: 13px;
  letter-spacing: 0.08em;
  font-weight: normal;
  padding: 0 0 0 10px;
  height: 32px;
  border-radius: 0 !important;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url(../../Contents/ImagesPkg/user/common/arrow_down.svg) no-repeat 97% 12px;
  border: 1px solid #C0B6B3;
  margin: 0 0 20px 20px;
}

.cart2 .checkBox > input {
  display: none;
}

.cart2 .checkBox input + label {
  padding-left: 28px;
  vertical-align: middle;
  position: relative;
  padding-top: 3px;
  margin-right: 66px;
}

.cart2 .checkBox input + label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #C0B6B3;
  border-radius: 3px;
  background: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cart2 .checkBox input:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 15px;
  background: #2E0E02;
  border-radius: 3px;
  background: url(../../Contents/ImagesPkg/common/check@2x.png);
  display: block;
  background-position: 0px 3px;
  background-size: 100%;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .cart2 .checkBox input:checked + label::after {
    border-radius: 8px;
  }
}

.cart2 .checkBox input:checked + label.on::after {
  content: "";
}

.cart2 span.line_form {
  display: inline-block;
  width: 10px;
  height: 1px;
  background: #2E0E02;
}

@media (max-width: 768px) {
  .cart2 .fred {
    float: left !important;
    margin: 0 10px 0 0 !important;
  }
}

@media (max-width: 768px) {
  .cart2 dl#ctl00_ContentPlaceHolder1_rCartList_ctl00_dlUserShippingName {
    padding: 0 0 20px !important;
  }
}

#Foot {
  border: none;
}

@media (max-width: 768px) {
  #Foot {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
  }
}
