@charset "UTF-8";
.cart_select #dvOrderBox #dvCartSelect p {
  background: none;
}

.cart_select #dvOrderBox h3 {
  margin: 10px 0px 20px 0px;
  font: bold 12px "ＭＳ Ｐゴシック", Arial;
}

@media (max-width: 768px) {
  .cart_select #dvOrderBox h3 {
    padding: 10px 0px 10px 0px;
  }
}

.cart_select #dvOrderBox #dvCartSelect table {
  margin: 0px 0px 60px 0px;
}

.cart_select #dvOrderBox #dvCartSelect table th {
  border-top-style: solid;
  border-top-width: 0;
  padding: 10px 0 20px 7px;
  font-weight: normal;
  text-align: left;
  background: #fff;
}

.cart_select #dvOrderBox {
  max-width: 1120px;
  margin: 10px auto;
  position: relative;
}

@media (max-width: 768px) {
  .cart_select #dvOrderBox {
    padding: 0;
  }
}

.cart_select #dvCartSelect p {
  margin: 5px 0px 20px 0px;
  padding: 10px;
  background-color: #ececec;
  line-height: 1.6;
  background: none;
}

.cart_select div#dvCartSelect {
  width: 71.42857% !important;
}

@media (max-width: 768px) {
  .cart_select div#dvCartSelect {
    width: 100% !important;
    padding: 0 5.33vw;
  }
}

.cart_select div#dvCartSelect table .productName img {
  height: 16px !important;
  width: auto !important;
}

.cart_select div#dvCartSelect table td {
  padding: 20px 5px !important;
}

.cart_select div#dvCartSelect table > tr {
  padding: 20px 0;
}

.cart_select .btmbtn {
  width: 23.21429% !important;
}

.cart_select .checkBox input:checked + label.on::after {
  content: "";
}

.cart_select .checkBox input {
  display: none;
}

.cart_select .checkBox input + label {
  padding-left: 28px;
  vertical-align: middle;
  position: relative;
  padding-top: 3px;
}

.cart_select .checkBox input + label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #C0B6B3;
  border-radius: 3px;
  background: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cart_select .checkBox input:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 12px;
  height: 15px;
  background: #2E0E02;
  border-radius: 3px;
  background: url(../../Contents/ImagesPkg/common/check@2x.png);
  display: block;
  background-position: 0px 2px;
  background-size: 100%;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .cart_select .checkBox input:checked + label::after {
    border-radius: 8px;
  }
}

.cart_select .dvCartSelect_p {
  font-size: 14px;
  letter-spacing: 0.08em;
  line-height: 2 !important;
  margin: 20px 0 35px !important;
  padding: 0 !important;
}

@media (max-width: 768px) {
  .cart_select .dvCartSelect_p {
    font-size: 13px;
    line-height: 1.8;
    margin: 50px 0 35px !important;
  }
}

.cart_select #dvOrderBox h3 {
  margin: 10px 0px 25px 0px;
  font: bold 12px "ＭＳ Ｐゴシック", Arial;
  font-size: 14px;
  letter-spacing: 0.08em;
}

@media (max-width: 768px) {
  .cart_select #dvOrderBox h3 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 25px;
  }
}

.cart_select #dvOrderBox table th {
  border-color: none !important;
}

.cart_select th.productName {
  text-align: left !important;
}

.cart_select .productId {
  display: none;
}

.cart_select td.productName {
  color: #fff !important;
  vertical-align: top !important;
}

.cart_select td.productName span {
  color: #3d3d3d !important;
}

.cart_select td.productName img {
  display: none;
}

.cart_select td.productName img + br {
  display: none;
}

.cart_select .productName img {
  display: none !important;
}

#dvOrderBox #dvCartSelect table .remark {
  width: 145px;
}

.cart2 a.btn.btn-large.btn-success {
  padding: 0;
  font-size: 12px !important;
  width: 100%;
  border-radius: 0;
  height: 48px;
  background: #2E0E02;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  letter-spacing: 0.08em;
  margin: 0 0 25px;
  border-radius: 2px;
}

@media (max-width: 768px) {
  .cart2 a.btn.btn-large.btn-success {
    width: 58.66667vw;
    max-height: 400px;
    margin: auto;
  }
}

a.btn.btn-large.btn-success {
  color: #fff;
  text-align: center;
  width: 320px;
  height: 64px;
  line-height: 64px;
  background: #2E0E02;
  position: relative;
  border-radius: 2px;
  border: 1px solid #2E0E02;
  z-index: 0;
  -webkit-box-shadow: unset;
  -moz-box-shadow: unset;
  box-shadow: unset;
  text-decoration: none;
  text-shadow: unset;
}

@media (max-width: 768px) {
  a.btn.btn-large.btn-success {
    width: 58.66667vw;
    max-height: 400px;
    margin: auto;
  }
}

a.btn.btn-large.btn-success:hover::after {
  border-top: 1.5px solid #2E0E02;
  border-right: 1.5px solid #2E0E02;
}

a.btn.btn-large.btn-success::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #eae6e5;
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  color: #2E0E02;
}

@media (max-width: 768px) {
  a.btn.btn-large.btn-success::before {
    content: none;
  }
}

a.btn.btn-large.btn-success:hover::before {
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}

a.btn.btn-large.btn-success:hover {
  opacity: 1;
  color: #2E0E02 !important;
}

td.productName > br:first-child {
  display: none;
}

.cart2 a.btn.btn-large.btn-success2 {
  padding: 0;
  font-size: 12px !important;
  width: 100%;
  border-radius: 0;
  height: 48px;
  background: none;
  border: 1px solid #2E0E02;
  color: #2E0E02;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  letter-spacing: 0.08em;
  border-radius: 2px;
  margin: 0 0 25px;
}

@media (max-width: 768px) {
  .cart2 a.btn.btn-large.btn-success2 {
    width: 58.66667vw;
    max-height: 400px;
  }
}

span[visible="True"] {
  font-size: 11px;
  line-height: 2;
}

td.productName a {
  font-size: 13px;
  letter-spacing: 0.08em;
  line-height: 19.5px;
}

@media (max-width: 768px) {
  .cart_select #dvOrderBox #dvCartSelect p {
    margin: 5px 0px 20px 0px;
    padding: 10px;
    background-color: #ececec;
    line-height: 1.6;
    background: none;
  }
  .cart_select div#dvCartSelect tr:first-child {
    display: none;
  }
  .cart_select div#dvCartSelect tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .cart_select div#dvCartSelect td {
    width: 50%;
  }
  .cart_select #dvOrderBox #dvCartSelect table .productImg {
    width: 30% !important;
    text-align: center;
  }
  .cart_select #dvOrderBox #dvCartSelect table .productName {
    width: 70% !important;
  }
  .cart_select #dvOrderBox #dvCartSelect table .productPrice {
    width: 50% !important;
  }
  .cart_select #dvOrderBox #dvCartSelect table .remark {
    width: 50% !important;
  }
  .cart_select #dvOrderBox #dvCartSelect table td {
    border: none;
  }
  .cart_select .btmbtn {
    width: 56.21429% !important;
  }
  .cart_select #dvOrderBox #dvCartSelect table {
    margin: 0px 0px 60px 0px;
  }
  .cart_select .sp_contents_br {
    display: inline;
  }
  span[visible="True"] {
    line-height: 2;
  }
  span.add_cart_c {
    margin: 15px 0 0 0;
    display: block;
  }
  .cart_select #dvOrderBox #dvCartSelect table .productPrice {
    width: 50% !important;
    display: none;
  }
  .cart_select #dvOrderBox #dvCartSelect table .remark {
    width: 50% !important;
    display: none;
  }
  .cart_select div#dvCartSelect table td {
    padding: 0;
  }
  td.productName > img + br {
    display: none;
  }
  span[visible="True"] + br {
    display: none;
  }
  td.productName a {
    font-size: 13px;
    line-height: 19px;
  }
}

#Foot {
  border: none;
}

@media (max-width: 768px) {
  #Foot {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
  }
}

.cart2 div.btmbtn {
  clear: none;
  margin-top: 100px;
  border-top: none;
  width: 20.9%;
  float: right;
  height: auto;
  position: absolute;
  right: 0;
  top: 0;
}

@media (max-width: 768px) {
  .cart2 div.btmbtn {
    width: 100% !important;
    position: static;
    margin-top: 25px;
  }
}

p.alignC {
  display: block;
  background: rgba(234, 230, 229, 0.5);
  padding: 40px 25px 15px !important;
}

@media (max-width: 768px) {
  p.alignC {
    padding: 40px 25px 40px !important;
  }
}

p.alignC + a {
  text-align: center;
  margin: 20px 0 0 0;
  padding: 0;
  background: no-repeat;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 100%;
  font-size: 12px !important;
  letter-spacing: 0.08em;
  margin: 20px 25px 0 0;
}

@media (max-width: 768px) {
  p.alignC + a {
    margin: 20px 0 60px 0;
  }
}
