/*====================================================================
  03 OrderPayment
====================================================================*/

@font-face {
	font-family: 'baskerville';
	src: url('../Font/baskerville.otf') format("opentype");
}

@font-face {
	font-family: 'gillsans';
	src: url('../Font/gillsans.otf') format("opentype");
}

a {
	text-decoration: none;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	display: block;

	&:hover {
		opacity: 0.8;
	}
}

 *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;    /* form clear */
 /*   -webkit-appearance: none !important;*/
}

strong {
	font-weight: bold;
}

.hide {
	display: none !important;
}

/* clear fix */

.cf {
	min-height: 1px;
	overflow: hidden;

	&:after {
		content: ".";
		display: block;
		clear: both;
		height: 0;
		visibility: hidden;
	}
}

* html .cf {
	height: 1px;
}

input {
	&[type="submit"], &[type="text"], &[type="email"], &[type="button"] {
		border-radius: 2px;
		-webkit-box-sizing: content-box;
		-webkit-appearance: none;
		appearance: none;
		border: none;
		box-sizing: border-box;
		outline: none;
	}
}
select{
		border-radius: 2px;
}
textarea {
	border-radius: 0;
	-webkit-box-sizing: content-box;
	-webkit-appearance: none;
	appearance: none;
	border: none;
	box-sizing: border-box;
	outline: none;
}

input {
	&[type="submit"]::-webkit-search-decoration, &[type="text"]::-webkit-search-decoration, &[type="email"]::-webkit-search-decoration, &[type="button"]::-webkit-search-decoration {
		display: none;
	}
	&[type="submit"]::focus, &[type="text"]::focus, &[type="email"]::focus, &[type="button"]::focus {
		outline-offset: -2px;
	}
}

textarea::focus {
	outline-offset: -2px;
}

/*====================================================================
*    mixin
/*==================================================================*/
$bp1120: 1120px;  // スマホ

@mixin bp1120 {
  @media (max-width: ($bp1120)) {
    @content;
  }
}
$bp768: 768px;  // スマホ

@mixin bp768 {
  @media (max-width: ($bp768)) {
    @content;
  }
}

@mixin font-weight($weight) {
  $weights: (
    light: 300,
    regular: 400,
    medium: 500,
    bold: 700
  );
  
  $output: $weight;
  @if map-has-key($weights, $weight) {
    $output: map-get($weights, $weight);
  }
  
  font-weight: $output;
}

/*====================================================================
*    Responsive
/*==================================================================*/

.pc_contents {
	display: block!important;

	@include bp768 {
		display: none!important;
	};
}

.sp_contents {
  display: none!important;

	@include bp768 {
		display: block!important;
	};
}

.pc_flex {
	display: flex!important;

	@include bp768 {
		display: none!important;
	};
}

.sp_flex {
  display: none!important;

	@include bp768 {
		display: flex!important;
	};
}


.cart4{
	h2.ttlA {
	font-size: 14px!important;
    font-weight: bold;
    max-width: 1280px;
    margin: 0 0 5px!important;
    padding: 0 0 0 40px!important;
    height: auto!important;
    border: none!important;
		@include bp768 {
			font-size: 13px!important;
			padding: 0 0 0 0!important;
		}
	}
	label {
	    font-size: 14px!important;
	    font-weight: normal;
		@include bp768 {
			font-size: 13px!important;
		}
	}

	.main.clearFix {
	    display: none;
	}
	div.main {
	    width: 1120px!important;
	    padding: 0!important;
	    margin: 0 auto!important;
	    background: none!important;
	    position: relative;
		@include bp1120 {
	    	width: 100%!important;
		}
	}	
	div.submain {
	    width: 100%!important;
	    margin: 0 0 60px;
	    @include bp768 {
	    margin: 0 0 0px;
	    }
	}
	#CartList{
		padding: 0 6.25%;
		@include bp768 {
			padding: 0;
		}
		margin: auto;
		max-width: 1280px;
		div.btmbtn {
		    clear: both;
		    margin-top: 33px;
		    border-top: none;
		    display: block!important;
		    margin: 0;
		}
		@include bp768 {
			margin:50px auto;
			overflow: hidden;
			padding-bottom: 50px;
		}
		div.column{
			width: 800px!important;

			@include bp1120 {
			width: 71.42857%!important;
			}

			@include bp768 {
			width: 100%!important;
			padding: 0 6.25%;
			}
		}
		h3{
			color: #FFFFFF;
		    font-size: 12px;
		    padding: 6px 14px 5px 14px;
		    background-color: #fff;
		    padding: 0!important;
		    border: none!important;

		    display: none;
		}
		.orderBox {
			background: none;
			margin: 0;
			h4{
			    border: 0;
			    background-color: #fff;
			    color: #333333;
			    padding: 0 0 17px 40px;
			    font-size: 12px;
			    border-bottom: 1px solid #EAE6E5;
			    display: flex;
			    margin: 0 0 20px;
			    align-items: center;
			    justify-content: space-between;
				@include bp768 {
			    padding: 0 0 20px 4px;
			    margin: 0 0 20px;
			    font-size: 13px;
				}
			    span{
			    	font-size: 14px;
			    	letter-spacing: 0.08em;
			    	font-weight: bold;
			    }
			    & > div{
					width: 64px!important;
			    }
			}
			.last{
				.box{
				    padding: 0 0 15px 0px;
				    margin: 0 0 15px;
				}

			}
			div.box{
			    border: none;
			    padding: 0 0 15px 0px;
			    margin: 0 0 60px;
			    clear: both;
			    border-bottom: 1px solid #EAE6E5;
				div{
					width: 100%;
					margin: 0 0 0 40px;
					@include bp768 {
					margin: 0 0 0 0px;
					}
				}
				dl{
					width: 100%;
					margin: 0;
					padding: 0;
				}
				dt{
					display: none;
					width: 145px;
					@include bp768 {
						width: 130px;
					}

				}
				dd{
					padding: 0;
				    padding: 1px 0px 1px 0px;
				    font-size: 14px;
				    letter-spacing: 0.08em;
				    line-height: 1.8;
					@include bp768 {
					font-size: 13px;
					}
				}
				.box_dt0 + dd,
				.box_dt7 + dd{
					margin: 0 0 25px;
				}
				// .box_dt1 + dd{
				// 	display: none;
				// }
				// .box_dt2 + dd{
				// 	display: none;
				// }
				.box_dt5,.box_dt5 + dd{
					display: none;
				}
					dt.box_dt10 + dd {
					    margin: 15px 0 1px;
					}
			}
			.last{
			    border: none;
			    padding: 0 0 5px 0px;
			    margin: 0 0 00px;
			    border-bottom: 1px solid #EAE6E5;
			    div.box{
			    	dt{
			    		display: block;
			    	}
			    	dd{
			    		padding: 0 0 0 130px;
			    	}
			    }
			    span.radioBtn {
				    display: block;
				    margin: 10px 0 0px 40px;
					@include bp768 {
				    margin: 15px 0 0 0;
					}
				}
			}
			.Div2_box1 {
			    display: none;
			}
			.bottom{
				background: none;
				dt,dd,p,a{
					font-size: 14px;
					letter-spacing: 0.08em;
					@include bp768 {
					font-size: 13px;

					}
				}

				p{
					width: 100%;
					line-height: 25.2px;
				}

			}
			p.btn_change {
				width: 64px;
				a{
			    color: #2E0E02!important;
			    width: 64px;
			    height: 32px;
			    box-shadow: none;
			    border: none;
			    border-radius: 2px;
			    display: flex;
			    justify-content: center;
			    align-items: center;
			    font-size: 12px;
			    letter-spacing: 0.08em;

			    span{
			    	font-weight: normal!important;
					@include bp768 {
			    	font-size: 12px!important;

					}
			    }
				}

			}
			div#ctl00_ContentPlaceHolder1_rCartList_ctl00_rCartShippings_ctl00_hgcChangeShippingInfoBtn,
			div#ctl00_ContentPlaceHolder1_rCartList_ctl01_rCartShippings_ctl00_hgcChangeShippingInfoBtn {
				    display: none;
				}
		}
		span.radioBtn {
		    display: block;
		    margin: 10px 0 40px;
		}
		dt#ctl00_ContentPlaceHolder1_rCartList_ctl00_rCartShippings_ctl00_Dt1 {
		    display: block!important;
		}
		dt#ctl00_ContentPlaceHolder1_rCartList_ctl00_rCartShippings_ctl00_Dt2 {
		    display: block!important;
		}
		dt.box_dt12 {
		    display: block!important;
		}
		dt.box_dt33 {
		    display: block!important;
		}
		dt.box_dt34 {
		    display: block!important;
		}
		.shoppingCart {
		    width: 268px;
		    float: right;
		    background: #EAE6E5;
		    padding: 45px 25px 40px 25px;
		    position: relative;
			@include bp768 {
			width: 100%;
			position: relative;
			}

			&.is-fixed {
				position: fixed;
				top: 90px;
				margin-left: 852px;
				right: inherit;
				z-index: 1;

			    @include bp1120 {
					margin-left: 61%;
			   	}

			    @include bp768 {
					position: relative;
					top: inherit;
					left:inherit;
					margin-left:0;
			   	}
			}


		    h2{
		    	display: none;
		    }
			.sumBox.mrg_topA {
			    display: none;
			}
			.block {
			    padding: 0!important;
			    background: none;
			}
			div.subCartList{
				background: none;
			}
			.singleProduct{
				margin: 0 0 20px;
				& > div{
					width: 100%;
    				background: none;
				}
				dl{
					    width: 100%;
					    padding: 0;
					    margin: 0;
					    display: flex;
				}
				dt{
					width: 22.7%;
    				float: left;
    				a{
    					width: 100%;
    				}
				}

				dd{
				    padding: 0;
				    width: 77.3%;
				    display: flex;
				    justify-content: space-evenly;
				    align-items: center;
					strong{
						display: none;
					}
					& > p{
						font-size: 12px;
						letter-spacing: 0.08em;
					}
					& > p + p{
						font-size: 14px;
						letter-spacing: 0.08em;
					}
				}
			}
			.priceList{
				display: none;
			    width: 100%;
			    clear: both;
			    border-top: 1px solid #2E0E02;
			    margin: 20px 0 0;
			   

			    @include bp768 {
			    border-top: 1px solid  #EAE6E5;
			    }
			    & > div{
			    	width: 100%;
			    }
			    dl{
			    	width: 100%;
			    	align-items: center;
					display: flex;
			    }
			    dt{
					width: 70%;
					text-align: left;
					font-size: 14px;
					letter-spacing: 0.08em;
				    @include bp768 {
				    	font-size: 13px;
				    }
			    }
			    dd{
					width: 30%;
					padding: 0;
					text-align: right;
					font-size: 14px;
					letter-spacing: 0.08em;
					font-weight: normal;
				    @include bp768 {
				    	font-size: 14px;
				    }
			    }
			    dl.bgc{
			    	background: none;
			    }
				dl.result {
				    font-size: 12px!important;
				    margin-top: 15px;
				    background: none;
				    border-top: 1px solid #2E0E02;
				    padding: 15px 0 0 0;
				    @include bp768 {
				    dt{
						font-size: 14px!important;
				    }
				    dd{
						font-size: 16px!important;
				    }
				    }

				}
			}
			.pointBox {
				width: 100%;
				img{
				
				}
				div.box{
				width: 100%;
			    margin: 0 0 10px;
			    background: none;
			    & > p img{
			    	height: auto;
			    }
				}
				.boxbtm{
					width: 100%;
					background: none;
					& > div{
						width: 100%;
					}
					dl{
						width: 100%;
					}
					dt{
						float: none;
					}dd{
						float: none;
					    text-align: left;
					    width: 100%;
					    margin: 10px 0 0;

					}
				}
			}
			.couponBox{
				width: 100%;
				img{
				
				}
				div.box{
				width: 100%;
			    margin: 0 0 10px;
			    background: none;
			    & > p img{
			    	height: auto;
			    }
				}
				.boxbtm{
					width: 100%;
					background: none;
					& > div{
						width: 100%;
					}
					dl{
						width: 100%;
					}
					dt{
						float: none;
					}dd{
					float: none;
				    text-align: left;
				    width: 100%;
				    margin: 10px 0 0;
					}
				}
			}
			input#ctl00_ContentPlaceHolder1_rCartList_ctl00_tbCouponCode {
			    margin: 10px 0 0;
			}
			.bottom{
				background: none;
			}
			.p_red{
				color: #AD2E24;
			}
		}

		.sumBox {
		    display: none;
		}
	}
	.btmbtn{
		    @include bp768 {
		    	ul{
				    width: 58.6vw!important;
				    max-width: 220px;
				    margin:40px auto 0!important;
		    	}
		   	}
	}
		.btmbtn__innar{
		    background: #EAE6E5;
		    padding: 40px 20px 0px;
		    height: auto;
		    a{
		    	text-decoration: none;
		    }
		    // @include bp768 {
		    // padding: 40px 0px 0px;
		    // width: (220vw/375*100);
		    // max-width: 350px;
		    // }

		}
		 div.productList dl.name dd {
		    width: 68%;
		}
		div.btmbtn ul li {
		    margin: 0;
			}
	    a.btn.btn-large.btn-success{
			color: #fff;
		    text-align: center;
		    width: 100%;
		    height: 48px;
		    line-height: 48px;
		    background: #2E0E02;
		    position: relative;
		    border-radius: 2px;
		    border: 1px solid #2E0E02;
		    z-index: 0;
		    font-size: 12px!important;
		    letter-spacing: 0.08em;
		    margin: 0 0 20px;
		    padding: 0!important;
		    -webkit-box-shadow: unset;
		    -moz-box-shadow: unset;
		    box-shadow: unset;
		    text-decoration: none;
		    text-shadow: unset;
	      @include bp768 {
	        width: 100%;
	        height: 48px;
	        line-height: 48px;
	      };

	      &:hover::after {
	        border-top: 1.5px solid #2E0E02;
	        border-right: 1.5px solid #2E0E02;
	        }

	        &::before{
	        content: "";
	        position: absolute;
	        top: 0;
	        right: 0;
	        bottom: 0;
	        left: 0;
	        z-index: -1;
	        background: #eae6e5;
	        transform-origin: right top;
	        transform: scale(0, 1);
	        transition: transform .3s;
	        color:  #2E0E02;
	        @include bp768 {
	          content: none;
	        };
	        }

	        &:hover::before {
	        transform-origin: left top;
	        transform: scale(1, 1);
	        }

	        &:hover{
	          opacity: 1;
	          color: #2E0E02!important;
	        }

	    }




		a.btn.btn-large.btn-success2 {
		    padding: 0;
		    font-size: 12px!important;
		    width: 100%;
		    border-radius: 2px;
		    height: 48px;
		    background: none;
		    border:1px solid #2E0E02;
		    color: #2E0E02;
		    display: flex!important;
		    align-items: center;
		    justify-content: center;
		    letter-spacing: 0.08em;
		    margin: 0 0 25px;
		}
		a.btn.btn-large.btn-success2{
			color: #2E0E02;
			text-align: center;
			width: 100%;
			height: 48px;
			line-height: 48px;
			background: #eae6e5;
			position: relative;
			border-radius: 2px;
			border: 1px solid #2E0E02;
			z-index: 0;
		    padding: 0;
		    -webkit-box-shadow: unset;
		    -moz-box-shadow: unset;
		    box-shadow: unset;
		    text-decoration: none;
		    text-shadow: unset;

		    font-size: 12px!important;
			@include bp768 {
				width: 100%;
				height: 48px;
				line-height: 48px;
			};
		    &:hover::after {
				border-top: 1.5px solid #fff;
				border-right: 1.5px solid #fff;
		    }
		    &::before{
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: -1;
				background: #2E0E02;
				transform-origin: right top;
				transform: scale(0, 1);
				transition: transform .3s;

				@include bp768 {
					content: none;
				};
		    }

		    &:hover::before {
				transform-origin: left top;
				transform: scale(1, 1);
		    }

		    &:hover{
		      opacity: 1;
		      color: #fff!important;
		    }
		}


		a.btn.btn-large.btn-org-gry {
		    padding: 0;
		    background: no-repeat;
		    border: none;
		    -webkit-box-shadow: none;
		    box-shadow: none;
		    width: 100%;
		    font-size: 12px!important;
		    letter-spacing: 0.08em;
		    margin: 0px 25px 0 0;
		}
		a.btn.btn-large.btn-gry {
		    padding: 0;
		    background: no-repeat;
		    border: none;
		    -webkit-box-shadow: none;
		    box-shadow: none;
		    width: 100%;
		    font-size: 12px!important;
		    letter-spacing: 0.08em;
		    margin: 20px 25px 0 0;
			display: flex;
		    justify-content: center;
		    text-decoration: none!important;
		}
		a.btn.btn-large.btn-gry span {
		    display: inline-block!important;
		    margin: 0 20px 0 0;
		}
		div.btmbtn.below{
			height: auto;
		}
		.btmbtn__innar{

			dl.btmbtn__innar__dl10 {
			    margin: 0 0 40px;
			}
			dl{
				width: 100%;
			    display: flex!important;
			    align-items: center;
			    justify-content: center;
				dt{
					font-size: 14px;
					width: 50%;
					text-align: left;
					span{
						font-size: 12px;
						display: inline-block!important;
						margin: 0 0 0 6px;
					}
				}
				dd{
					font-size: 14px;
					width: 50%;
					text-align: right;
				}
			}
		}
		.btn-large{
			border: 1px solid #2e0d02;
		}
		p.btn-gry__wrap {
			position: absolute;
		    bottom: -44px;
			right: 0;
			margin: auto;
			left: 0;
		    @include bp768 {
			right: 0;
			left: 0;

		    }
		}
		p.btn-gry__wrap a {
		    background: none;
		    border: none;
		    /* position: relative; */
		    top: 94px;
		    display: flex;
		    align-items: center;
		    padding: 0 0;
		    text-decoration: none!important;
		    box-shadow: none;
		}

		img.creicon {
		    width: 450px!important;
		    margin: 15px 0 0 67px;
		    @include bp768 {
		    width: 100%!important;
		    margin: 15px 0 0vw 0;
		    padding: 0 0 0 8vw;
		    }
		}



		.pay_dl{
			width: 470px;
		    display: flex;
		    align-items: center;
		    @include bp768 {
		    	width: 100%!important;
    			display: block!important;
    			dt{
					font-weight: normal!important;
					strong{
						font-size: 13px;
						font-weight: normal!important;
					}
    			}
		    }


			dt{
				padding: 0!important;
			    width: 180px;
			    border: none!important;
			    font-size: 14px!important;
			    letter-spacing: 0.08em;
			    font-weight: normal!important;
			    strong{
			    	font-weight: normal!important;
			    }
			}
			dd{
				padding: 0!important;
			    width: 290px;
			}
			input{
				height: 32px;
				padding: 0 0 0 10px;
				border: 1px solid #C0B6B3;
			}
			select{

			}
		    @include bp768 {
				
				input{
					height: 40px;
				}
				select{
					height: 40px;
				}
		    }
		}
		.box_dt16 {
		    width: 145px!important;
		    @include bp768 {
				width: 130px!important;
		    }
		}
		.box_dt35 {
		    width: 145px!important;
		}
		@include bp768 {
			.box_dt35 + dd{
			   padding: 0px 0 0 0!important;
			}
		}
		.divUserCreditCardName__wrap {
		    margin: 10px 0 25px 72px;
		    @include bp768 {
		    	margin: 10px 0 25px 8vw;
		    }
		}
		input#ctl00_ContentPlaceHolder1_rCartList_ctl00_rPayment_ctl01_tbUserCreditCardName {
	    width: 268px;
	    height: 32px;
	    height: 32px;
	    padding: 0 0 0 10px;
	    border: 1px solid #C0B6B3;
		@include bp768 {
	    width: 100%;
	    height: 40px;
		}
	}
	div.btmbtn ul {
	    text-align: right;
	    position: static;
	    right: 0;
	    top: 0;
	    margin: 30px 0 0;
	}
	.btmbtn.below a {
	    text-decoration: none;
	}
	a#ctl00_ContentPlaceHolder1_rCartList_ctl00_lbCart {
	    border: 1px solid #2e0d02;
	    /* color: red; */
	}
	.shoppingCart__wrap{
		a.btn.btn-mini {
		    color: #2E0E02 !important;
		    width: 64px;
		    height: 32px;
		    -webkit-box-shadow: none;
		    box-shadow: none;
		    border: none;
		    border-radius: 2px;
		    display: -webkit-box;
		    display: -ms-flexbox;
		    display: flex;
		    -webkit-box-pack: center;
		    -ms-flex-pack: center;
		    justify-content: center;
		    -webkit-box-align: center;
		    -ms-flex-align: center;
		    align-items: center;
		    font-size: 12px;
		    letter-spacing: 0.08em;
		        margin: 30px 0 0;
		    float: right;
		}
	}
	.radioBtn > input {
	  display: none;
	}

	.radioBtn input + label {
	    padding-left: 28px;
	    vertical-align: middle;
	    position: relative;
	    padding-top: 3px;
	    margin-right: 66px;
	}

	.radioBtn input + label::before {
	  content: "";
	  display: block;
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 20px;
	  height: 20px;
	  border: 1px solid #C0B6B3;
	  border-radius: 3px;
	  background: #fff;
	  -webkit-box-sizing: border-box;
	  box-sizing: border-box;
	  @include bp768 {
		  // border-radius: 12px;
	  }
	}

	.radioBtn input:checked + label::after {
		content: "";
	    display: block;
	    position: absolute;
	    top: 2px;
	    left: 2px;
	    width: 16px;
	    height: 15px;
	    background: #2E0E02;
	    border-radius: 3px;
	    background: url(../../Contents/ImagesPkg/common/check@2x.png);
	    display: block;
	    background-position: 0px 3px;
	    background-size: 100%;
	    background-repeat: no-repeat;

	  @include bp768 {
		  border-radius: 8px;
	  }
	}
	.Coupon_box {
	    border: none;
	    padding: 0 0 30px 0px;
	    margin: 0 0 60px;
	    border-bottom: 1px solid #EAE6E5;
	    dl{
	    	display: flex;
	    	padding: 0 0 0 40px;
	    	@include bp768 {
	    	display: block;
	    	padding: 0 0 0 0px;
	    	}
	    }
	    dt{
	    	width: 190px!important;
	    	@include bp768 {
	    		width: 100%;
	    		padding: 0 0 14px 0px;
	    	}
	    }
	    dd{
	    	@include bp768 {
	    		padding: 0 0 0 30px;
	    		line-height: 2;
	    	}

	    }

	}
	p.oc_text {
	    font-size: 12px;
	    line-height: 2!important;
	    margin: 0px 0 40px 40px;
	    letter-spacing: 0.08em;
	    @include bp768 {
	    margin: 0px 0 40px 0px;
	    letter-spacing: 0.08em;
	    }
	}
	.c_on dt,
	.c_on dd,  {
	    color: #AD2E24;
	}
	.clone_3 {
	    text-align: left;
	}
	p.shoppingCart__title {
	    font-size: 14px;
	    font-weight: normal;
	    padding: 0 0;
	    letter-spacing: 0.08em;

	    @include bp768 {
	    	font-weight: bold;
	    }
	    strong{
	    	font-size: 14px;
	    	float: right;
	    	font-weight: normal;
	    	letter-spacing: 0.08em;
	    		    @include bp768 {
	    	font-weight: bold;
	    }
	    }
	    span{
	    	font-size: 11px;
	    }
	}
	@include bp768 {
		.sc0,.sc1{
			display: none;
		}
		.add_cart_box .sc0{
			display: block!important;
		}
	}
	p.ttlA span {
	    font-size: 14px;
	    font-weight: bold;
	    letter-spacing: 0.08em;
	    margin: 0px 0 25px 40px;
	    display: block;
	    @include bp768 {
	    font-size: 13px;
	    margin: 0px 0 20px 0px;
	    }
	}
	.oc_text__wrap{
		@include bp768 {
			padding: 0px 5.333vw 50px;
		}
	}
	.oc_text{
		a{
			color: #968680;
			text-decoration: underline;
		}
	}
	.itemcart_detail.amount {
		@include bp768 {
	    margin: 0px 0 0!important;
	   	}
	}

	@include bp768 {
		.quantity{
			line-height: 13px!important;
		}
	}
	@include bp768 {
	.d3{
		.s_dt{
		    width: 80px;
		    font-size: 11px;
		    font-weight: 100;
		    position: relative;
		    &:after{
			    content: ":";
			    display: inline-block;
			    margin: 0;
			    position: absolute;
			    right: 0;
		    }
		}

	}
	}
	.main1{
		.submain{
			margin: 0 0 60px;
			@include bp768 {
			margin: 0 0 0px;
			}
		}
	}
	@include bp768 {
		.main.main0 {
		    margin: 0 0 100px!important;
		}
		.main.main0.one {
		    margin: 0 0 25px!important;
		}
		.main.main1.one {
		    margin: 0 0 25px!important;
		}
	}
	.name_dd{
		margin: 0 0 15px;
	}


}

#Foot{
	border: none;

    @include bp768 {
	    box-sizing: border-box;
	    overflow-x: hidden;
	}
}
.first_wrap{
	margin: 0 0 60px;
	overflow: hidden;
	h4{
		margin: 0;
	}
	.singleProduct {
	    padding: 25px 0 25px;
	    border-bottom: 1px solid #eae6e5;
	     @include bp768 {
 				padding: 0 0 25px;
	     }
	}
    dl{
    	width: 100%;
    	align-items: center;
		display: flex;
    }
    dt{
		width: 70%;
		text-align: left;
		font-size: 14px;
		letter-spacing: 0.08em;
	    @include bp768 {
	    	font-size: 13px;
	    }
    }
    dd{
		width: 30%;
		padding: 0;
		text-align: right;
		font-size: 14px;
		letter-spacing: 0.08em;
		font-weight: normal;
	    @include bp768 {
	    	font-size: 14px;
	    }
    }
    dl.bgc{
    	background: none;
    }
	dl.result {
	    font-size: 12px!important;
	    margin-top: 15px;
	    background: none;
	    border-top: 1px solid #2E0E02;
	    padding: 15px 0 0 0;
	    @include bp768 {
	    dt{
			font-size: 14px!important;
	    }
	    dd{
			font-size: 16px!important;
	    }
	    }

	}

	.priceList {
	    float: right;
	    width: 240px;
	    @include bp768 {
		width: 100%;
	    }
	}
	dl.bgc{
		background: none;
	}
	a{
		

	}
	.priceList{
		a{
			display: none;
		}
	}
}
.shoppingCart{
	.singleProduct {
	    display: none;
	}
}
.box h4 {
    padding: 0 0 10px 35px!important;
	@include bp768 {
    padding: 0 0 10px 0px!important;
	}
}
.first_wrap__innar__top{
	.s_dl__wrap {
	    display: block!important;
			@include bp768 {
	    		display: none!important;
			}
	}
	.s_dl__wrap {
	    padding: 15px 0 0 20px;
	}
	.s_dl {
	    display: block!important;
	    width: 100%;
		div {
			    font-size: 11px;
			    display: inline-block!important;
			    font-weight: normal!important;
			}
	}
	.s_dt:after {
	    content: ":";
	    display: inline-block;
	    margin: 0 3px 0;
	}
	dd.color_box {
	    margin: 20px 0 0;
	}
	.s_dl.s1,
	.s_dl.s2 {
	    margin: 0 0 5px!important;
	    display: block;
	}
	dl{
		display: flex;
			@include bp768 {
			display: block;
			}
	}
	dt{
		width: 145px;
		padding: 0 0 0 40px;
			@include bp768 {

			width: 100%;
			padding: 0 0 0 0px;
			}
	}
	dd{
			width: 100%;
		    display: flex;
		    justify-content: flex-start;



	}
	.clone_2{
		width: 280px;
		font-size: 13px;
		text-decoration: none;
		padding: 0 0 0 20px;
		@include bp768 {
			width: 100%;
			text-decoration: none;
			padding: 0 0 0 0;
		}

	}
	.clone_4{
		width: 150px;
		padding: 0 0 0 20px;
		display: flex;
		    align-items: center;

	}
	.clone_5{
		width: 150px;
		padding: 0 0 0 20px;
		display: flex;
		    align-items: center;

	}

	.clone_1{
		@include bp768 {
			width: 23.5%;
			text-decoration: none;
		}
	}
	.itemcart_detail.d1 {
	    padding: 15px 0 0 20px;
	    font-size: 11px;
	}
	.itemcart_detail.d2 {
	    padding: 5px 0 0 20px;
	    font-size: 11px;
	}
	@include bp768 {
	.itemcart_detail.d1 {
	    padding: 15px 0 0 0px;
	    font-size: 11px;
	}
	.itemcart_detail.d2 {
	    padding: 0px 0 0 00px;
	    font-size: 11px;
	}
	}
	@include bp768 {
		dt {
		    display: flex;
    		justify-content: space-between;

		    .sp_contents{
		    	width: 70%;
		    }
		}
		.pc_set{
			display: none;
		}
	}

	dt.box_dt12,
	dt.box_dt13  {
	    width: 140px!important;
	}



}
div#ctl00_ContentPlaceHolder1_rCartList_ctl00_hgcCouponBox tr {
    padding: 0;
}

div#ctl00_ContentPlaceHolder1_rCartList_ctl00_hgcCouponBox th {
    padding: 15px 0!important;
    font-size: 13px;
    line-height: 1.4;

}
dt#ctl00_ContentPlaceHolder1_rCartList_ctl01_rCartShippings_ctl00_Dt2 {
    display: block!important;
    width: 145px!important;
	@include bp768 {
    width: 130px!important;
	}
}
@include bp768 {
	div#ctl00_ContentPlaceHolder1_hgcCompleteMessage {
	    text-align: left!important;
	    padding: 77px 6.35%!important;
	}
	#dvOrderBox #dvCartSelect table .productImg {
	    width: 23%;
	    text-align: center;
	}
}





