@charset "UTF-8";
.cart_select #dvOrderBox #dvCartSelect p {
  background: none;
}

.cart_select #dvOrderBox h3 {
  margin: 10px 0px 20px 0px;
  font: bold 12px "ＭＳ Ｐゴシック", Arial;
}

.cart_select #dvOrderBox #dvCartSelect table {
  margin: 0px 0px 60px 0px;
}

.cart_select #dvOrderBox #dvCartSelect table th {
  border-top-style: solid;
  border-top-width: 1px;
  padding: 10px 0;
  font-weight: normal;
  text-align: left;
  background: #fff;
}

.cart_select #dvOrderBox {
  max-width: 1120px;
  margin: 10px auto;
  position: relative;
}

@media (max-width: 768px) {
  .cart_select #dvOrderBox {
    padding: 0 5%;
  }
}

.cart_select #dvCartSelect p {
  margin: 5px 0px 20px 0px;
  padding: 10px;
  background-color: #ececec;
  line-height: 1.6;
  background: none;
}

.cart_select div#dvCartSelect {
  width: 71.42857% !important;
}

@media (max-width: 768px) {
  .cart_select div#dvCartSelect {
    width: 100% !important;
  }
}

.cart_select div#dvCartSelect table .productName img {
  height: 16px !important;
  width: auto !important;
}

.cart_select div#dvCartSelect table td {
  padding: 20px 5px !important;
}

.cart_select div#dvCartSelect table > tr {
  padding: 20px 0;
}

.cart_select .btmbtn {
  width: 23.21429% !important;
}

.cart_select .sp_contents_br {
  display: none;
}

.cart_select .checkBox input:checked + label.on::after {
  content: "";
}

@media (max-width: 768px) {
  .cart_select #dvOrderBox #dvCartSelect p {
    margin: 5px 0px 20px 0px;
    padding: 10px;
    background-color: #ececec;
    line-height: 1.6;
    background: none;
  }
  .cart_select div#dvCartSelect tr:first-child {
    display: none;
  }
  .cart_select div#dvCartSelect tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .cart_select div#dvCartSelect td {
    width: 50%;
  }
  .cart_select #dvOrderBox #dvCartSelect table .productImg {
    width: 30% !important;
    text-align: center;
  }
  .cart_select #dvOrderBox #dvCartSelect table .productName {
    width: 70% !important;
  }
  .cart_select #dvOrderBox #dvCartSelect table .productPrice {
    width: 50% !important;
  }
  .cart_select #dvOrderBox #dvCartSelect table .remark {
    width: 50% !important;
  }
  .cart_select #dvOrderBox #dvCartSelect table td {
    border: none;
  }
  .cart_select .btmbtn {
    width: 56.21429% !important;
  }
  .cart_select #dvOrderBox #dvCartSelect table {
    margin: 0px 0px 60px 0px;
  }
  .cart_select .sp_contents_br {
    display: inline;
  }
}

#Foot {
  border: none;
}

@media (max-width: 768px) {
  #Foot {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
  }
}
