$breakpoints: (
  'sm': 'screen and (max-width: 374px)',
  'md': 'screen and (max-width: 769px)',
  'pc': 'screen and (min-width: 769px)',
  'lg': 'screen and (max-width: 1000px)',
  'xl': 'screen and (max-width: 1200px)',
)
!default;
@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@font-face {
	font-family: 'gillsans';
	src: url("../../../../../Font/gillsans.woff") format('woff'),
		 url('../../../../../Font/gillsans.otf') format("opentype");
}


/*====================================================================
*    Responsive
/*==================================================================*/

@include mq("pc") {
  .sp_contents {
    display: none!important;
  }
}
@include mq() {
  .pc_contents {
    display: none!important;
  }
}

#Wrap .topicsWrap{

  	width: 1200px;
    margin: 0 auto;
  	color: #333;
  	font-size: 14px;
  	line-height: 26px;
  	letter-spacing: 0.08em;
  	font-family: 'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;
  	font-weight: 400;

  	@include mq() {
  		width: 100%;
  		line-height: 2;
  		letter-spacing: 0.08em;
  		// padding: 0 18px;
  		box-sizing: border-box;
  	};

  	ul{
  		margin: 0;
  		padding: 0;

  		li{
  			list-style-type: none;
  			padding: 0;
  			margin: 0;
  		}
  	}

  	p{
  		margin: 0;
  		padding: 0;
  		line-height: 26px;
      font-family: 'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;


  		@include mq() {
  			line-height: 2;
  		};
  	}

  	a{
  		text-decoration: none;
  		color: #000;
  		font-weight: 300;
  		display: block;
  	}

  	img{
  		width: 100%;
  		display: block;
  	}

    h2{
      span{
        display: block;
        color: #C0B6B3;
        margin-top: 15px;
        letter-spacing: 0.16em;
        line-height: 1;
        font-family: 'gillsans', 'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;
        font-size: 16px;
      }
    }

    h3{
      color: #333;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 0.08em;
      font-family: 'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;
      font-weight: 700;
      // margin-bottom: 55px;
      position: relative;
      text-align: center;


      @include mq() {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 0px;
      };

      // &::after{
      //   content: "";
      //   position: absolute;
      //   bottom: -25px;
      //   left: 0;
      //   right: 0;
      //   width: 40px;
      //   height: 1px;
      //   background: #C0B6B3;
      //   margin: auto;
      // }

      span{
        font-size: 16px;
        display: block;

        @include mq() {
          font-size: 14px;
        };
      }
    }

  	.mainArea{
  		width: 900px;
  		margin: 0 auto;

      h2{
        font-family: baskerville-urw, serif;
        text-align: center;
        font-size: 32px;
        color: #2E0E02;
        letter-spacing: 0.1em;
        line-height: 38px;
        font-weight: normal;
        @include mq(){
          font-size: 24px;
          line-height: 28px;


        }
        span.subTtl{
          font-size: 28px;
          font-family: 'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;
          text-align: center;
          color: #2E0E02;
          font-weight: normal;
          @include mq(){
            font-size: 18px;
            line-height: 28px;
          }
        }
      }

  		@include mq() {
  			width: 100%;
  		}
    }

    .contentsArea{
      margin-top: 115px;
      @include mq(){
        margin-top: 100px;
      }
      &__contentsBox{
        margin-left: auto;
        margin-right: auto;
        & + .contentsArea__contentsBox{
          margin-top: 123px;
          @include mq(){
            margin-top: 120px;
          }
        }



        h2{
          font-size: 78px;
          text-align: center;
          font-family: baskerville-urw, serif;
          line-height: 1;
          letter-spacing: 0.03em;
          color: #333;
          font-weight: 400;
          margin-bottom: 0;
        }
        h3{
          font-size: 20px;
          letter-spacing: 0.08em;
          line-height: 1;
          margin-top: 30px;
          text-align: center;
          color: #333;
        }

        &__mainContents{
          display: -webkit-flex;
          display: -ms-flex;
          display: flex;
          justify-content: center;
          @include mq(){
            flex-direction: column;
          }
          .contentsWrap{
            a>img{
              width: 520px;
              height: auto;
              margin: 40px auto 5px;
              @include mq(){
                width: (340/375)*100vw;
                margin: 30px auto 5px;
              }
            }
            a>p{
              font-family:  noto-sans-cjk-jp,'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;
              font-size: 13px;
              letter-spacing: 0.08em;
              line-height: 19.5px;
              text-align: left;
              padding-left: 1em;
              margin-top: 10px;
              .itemPrice{
                font-family:  noto-sans-cjk-jp,'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;
                font-weight: bold;
                font-size: 13px;
                letter-spacing: 0.08em;
                line-height: 19.5px;
              }
              .taxin{
                font-size: 10px;
                font-weight: bold;
              }
            }
            & + .contentsWrap{
              margin-left: 40px;
              @include mq(){
                margin-left: auto;
                margin-right: auto;
              }
            }
            @include mq(){
              margin-left: auto;
              margin-right: auto;
            }

          }
        }
        &__designArea, &__fabricArea{
          margin-top: 80px;
          h4{
            font-size: 28px;
            letter-spacing: 0.08em;
            text-align: center;
            line-height: 1;
            padding-bottom: 24.5px;
            position: relative;
            font-weight: 400;
            font-family: baskerville-urw, serif;
            &::before{
              content: '';
              position: absolute;
              border-bottom: 1px solid  #C0B6B3;
              width: 40px;
              height: 1px;
              bottom: 0;
              left: calc(50% - 20px);
            }
          }
          p{
            font-family:  noto-sans-cjk-jp,'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;
            font-size: 14px;
            margin-top: 20px;
            text-align: center;
            line-height: 1.9;
            @include mq("sm"){
              font-size: 12px;
            }
            span{
              font-size: 10px;
              font-family:  noto-sans-cjk-jp,'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;
              color: #333;
            }
          }


        }

        &__colorArea{
          margin-top: 100px;

          h4{
            font-size: 28px;
            letter-spacing: 0.08em;
            text-align: center;
            line-height: 1;
            padding-bottom: 24.5px;
            position: relative;
            font-weight: 400;
            font-family: baskerville-urw, serif;
            &::before{
              content: '';
              position: absolute;
              border-bottom: 1px solid  #C0B6B3;
              width: 40px;
              height: 1px;
              bottom: 0;
              left: calc(50% - 20px);
            }
          }
          p{
            text-align: center;
          }
          a>p{
            font-family:  noto-sans-cjk-jp,'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;
            font-size: 13px;
            letter-spacing: 0.08em;
            line-height: 19.5px;
            text-align: center;

            margin-top: 33px;
            .itemPrice{
              font-family:  noto-sans-cjk-jp,'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;
              font-weight: bold;
              font-size: 13px;
              letter-spacing: 0.08em;
              line-height: 19.5px;
            }
            .taxin{
              font-size: 10px;
              font-weight: bold;
            }
          }
          .colorVariation{
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 40.5px auto 0;
            a>img{
              width: 258px;
              height: auto;
            }
          }
          .cv01{
            width: 1083px;
            height: 653px;
            @include mq(){
              width: (340/375)*100vw;
              height: auto;
              a>img{
                width: (166/375)*100vw;
                height: auto;
                margin-bottom: 20px;
              }
            }
          }
          .cv02, .cv04{
            width: 258px;
            height: auto;
            @include mq(){
              width: (259/375)*100vw;
              height: auto;
              a>img{
                width: (259/375)*100vw;
                height: auto;
              }
            }
          }
          .cv03{
            width: 806px;
            height: 650px;
            @include mq(){
              width: (340/375)*100vw;
              height: auto;
              a>img{
                width: (166/375)*100vw;
                height: auto;
                margin-bottom: 20px;
              }
            }
          }

        }



        &__contentsWrap{
          display: -webkit-flex;
          display: -ms-flex;
          display: flex;
          justify-content: space-between;
          @include mq(){
            flex-direction: column;
          }

        }



      }


      .btnBox, .btnBox__viewall {
        width: 280px;
        height: 64px;
        margin: 0 auto;
        position: relative;
        margin-top: 40px;
        border: 1px solid  #2E0E02;
        &::after{
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          right: 23px;
          margin: auto;
          z-index: 1;
          display: block;
          width: 7px;
          height: 7px;
          -moz-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          border-top: 2px solid #2E0E02;
          border-right: 2px solid #2E0E02;
          @include mq(){
              right: 15px;
          }
        }
        @include mq(){
          width: 200px;
          height: 64px;
          background:#fff;
        }
      }

      .btnBox:hover::after {
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
      }
      .btnBox__viewall:hover::after{
        border-top: 2px solid #2E0E02;
        border-right: 2px solid #2E0E02;
      }


      .btnBox__viewall a, .btnBox a{
        font-size: 15px;
        text-align: center;
        letter-spacing: 0.28em;
        position: relative;
        line-height: 64px;
        color: #2E0E02;
        font-family: 'gillsans', 'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;
        @include mq(){
          font-size: 13px;
          line-height: 64px;
          // color: #fff;
          font-family: 'gillsans', 'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;
        }
        &:hover{
          color: #fff!important;
          opacity: 1;
          &::after{
            -webkit-transform-origin: left top;
            -ms-transform-origin: left top;
            transform-origin: left top;
            -webkit-transform: scale(1, 1);
            -ms-transform: scale(1, 1);
            transform: scale(1, 1);
          }
        }
        &::after{
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: -1;
          background: #2E0E02;

          -webkit-transform-origin: right top;
          -ms-transform-origin: right top;
          transform-origin: right top;
          -webkit-transform: scale(0, 1);
          -ms-transform: scale(0, 1);
          transform: scale(0, 1);
          -webkit-transition: -webkit-transform .3s;
          transition: -webkit-transform .3s;
          -o-transition: transform .3s;
          transition: transform .3s;
          transition: transform .3s, -webkit-transform .3s;
          @include mq(){
            content: none;
          }
        }

      }

      .btnBox__viewall{
        width: 320px;
        height: 64px;
        border: 1px solid  #2E0E02;
        background: #2E0E02;
        &::after{
          border-top: 2px solid #fff;
          border-right: 2px solid #fff;
        }
        @include mq(){
          width: 240px;
          height: 64px;
        }
      }


      .btnBox__viewall a {
        color: #fff;
        &:hover{
          color: #2E0E02;
          background: #fff;
        }
        &::after{
          background: #fff;

          -webkit-transform-origin: right top;
          -ms-transform-origin: right top;
          transform-origin: right top;
          -webkit-transform: scale(0, 1);
          -ms-transform: scale(0, 1);
          transform: scale(0, 1);
          -webkit-transition: -webkit-transform .3s;
          transition: -webkit-transform .3s;
          -o-transition: transform .3s;
          transition: transform .3s;
          transition: transform .3s, -webkit-transform .3s;
        }
      }

      .nextBtnwrap{
        margin-top: 130px;
        margin-bottom: 65px;
        @include mq(){
          margin-top: 100px;
        }
      }



      .column .styling__text1 {
          margin: 0 auto 80px;
      }

      @media (max-width: 768px){
        .btnBox.btn--more a:visited {
            color: #fff;
        }
      }



    }

}
