@charset "UTF-8";
/*====================================================================
*    mixin
/*==================================================================*/
.lookWrap_box {
  width: 780px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .lookWrap_box {
    width: 100%;
  }
}

.lookWrap_box--list {
  margin-bottom: 80px;
}

.lookWrap_box--list .picArea {
  width: 100%;
  margin: 0 auto 10px;
}

.lookWrap_box--list .picArea.small {
  width: 520px;
}

@media (max-width: 768px) {
  .lookWrap_box--list .picArea.small {
    width: 100%;
  }
}

.lookWrap_box--list .creditArea {
  text-align: center;
}

@media (max-width: 768px) {
  .lookWrap_box--list .creditArea {
    text-align: right;
  }
}

.lookWrap_box--list .creditArea.small {
  width: 520px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .lookWrap_box--list .creditArea.small {
    width: 100%;
  }
}

.lookWrap_box--list .creditArea a {
  display: inline-block !important;
}

@media (max-width: 768px) {
  .lookWrap_box--list .creditArea a {
    margin-bottom: 5px;
    display: block !important;
  }
}

.lookWrap_box--list .creditArea a .itemName {
  font-size: 12px;
  line-height: 19.5px;
  margin-right: 7px;
  font-family: 'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;
}

.lookWrap_box--list .creditArea a .price {
  font-size: 13px;
  line-height: 19.5px;
  font-family: 'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;
}

.lookWrap_box--list .creditArea a .price span {
  font-size: 10px;
}

.lookWrap_box--list .creditArea a:hover {
  color: #C0B6B3 !important;
  opacity: 1;
}

.lookWrap_box--list .creditArea a.noLink {
  cursor: text;
}

.lookWrap_box--list .creditArea a.noLink:hover {
  color: #333 !important;
}

.lookWrap_box--list .creditArea .slash {
  font-size: 16px;
  margin: 0 12px 0 7px;
  color: #C0B6B3;
  font-family: 'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;
  vertical-align: super;
}

@media (max-width: 768px) {
  .lookWrap_box--list .creditArea .slash {
    display: none;
  }
}

.lookWrap_box--list:last-child {
  margin-bottom: 0;
}
