@charset "utf-8";

/*====================================================================
*    mixin
/*==================================================================*/
$bp1200: 1200px;

@mixin bp1200 {
  @media (max-width: ($bp1200)) {
    @content;
  }
}
$bp1000: 1000px;

@mixin bp1000 {
  @media (max-width: ($bp1000)) {
    @content;
  }
}

$bp768: 768px;  // スマホ

@mixin bp768 {
  @media (max-width: ($bp768)) {
    @content;
  }
}

@mixin font-weight($weight) {
  $weights: (
    light: 300,
    regular: 400,
    medium: 500,
    bold: 700
  );
  
  $output: $weight;
  @if map-has-key($weights, $weight) {
    $output: map-get($weights, $weight);
  }
  
  font-weight: $output;
}

.lookWrap{
	&_box{
		&--list{
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
			margin-bottom: 50px;

			@include bp768 {
				display: block;
				margin-bottom: 40px;
			};

			.picArea{
				width: 811.5px;

				@include bp768 {
					width: 100%;
				};
			}

			.creditArea{
				width: 245px;

				@include bp768 {
					width: 100%;
					display: flex;
					justify-content: space-between;
					margin-top: 10px;
					align-items: center;
				};

				.itemName{
					font-size: 12px;
					line-height: 19.5px;
					margin-bottom: 5px;

					@include bp768 {
						width: 40%;
						font-size: 13px;
						margin-bottom: 0;
					};
				}

				.price{
					font-size: 13px;
					line-height: 1;
					@include font-weight(bold);
					margin-bottom: 13px;

					@include bp768 {
						width: 31%;
						margin-bottom: 0;
					};

					span{
						font-size: 10px;
					}
				}

				.moreBtn{
					width: 80px;
					height: 24px;
					position: relative;
					border: #2E0E02 1px solid;
					z-index: 0;
					border-radius: 2px;

					&:after {
						content: "";
						position: absolute;
						top: 0;
						bottom: 0;
						right: 6px;
						margin: auto;
						z-index: 1;
						display: block;
						width: 4px;
						height: 4px;
						-moz-transform: rotate(45deg);
						-webkit-transform: rotate(45deg);
						-ms-transform: rotate(45deg);
						transform: rotate(45deg);
						border-top: 1px solid #2E0E02;
						border-right: 1px solid #2E0E02;
					}

				    &:hover::after {
						border-top: 1px solid #fff;
						border-right: 1px solid #fff;
				    }

					a {
						font-size: 9px;
						text-align: center;
						letter-spacing: 0.28em;
						position: relative;
						line-height: 24px;
						color: #2E0E02;

					    &::after{
							content: "";
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							z-index: -1;
							background: #2E0E02;
							transform-origin: right top;
							transform: scale(0, 1);
							transition: transform .3s;

							@include bp768 {
								content: none;
							};
					    }

					    &:hover::after {
							transform-origin: left top;
							transform: scale(1, 1);
					    }

					    &:hover{
					      opacity: 1;
					      color: #fff !important;
					    }
					}
				}
			}

			&:last-child{
				margin-bottom: 0;
			}

			&:nth-child(even){
				.picArea{
					order: 2;
				}

				.creditArea{
					order: 1;

					.itemName{
						text-align: right;

						@include bp768 {
							text-align: left;
						};
					}

					.price{
						text-align: right;
						
						@include bp768 {
							text-align: left;
						};
					}

					.moreBtn{
						margin-left: auto;

						@include bp768 {
							margin-left: 0;
						};
					}
				}
			}
		}
	}
}