@charset "utf-8";

/*====================================================================
*    mixin
/*==================================================================*/
$bp1200: 1200px;

@mixin bp1200 {
  @media (max-width: ($bp1200)) {
    @content;
  }
}
$bp1000: 1000px;

@mixin bp1000 {
  @media (max-width: ($bp1000)) {
    @content;
  }
}

$bp768: 768px;  // スマホ

@mixin bp768 {
  @media (max-width: ($bp768)) {
    @content;
  }
}

@mixin font-weight($weight) {
  $weights: (
    light: 300,
    regular: 400,
    medium: 500,
    bold: 700
  );
  
  $output: $weight;
  @if map-has-key($weights, $weight) {
    $output: map-get($weights, $weight);
  }
  
  font-weight: $output;
}

.lookWrap{
	&_box{
		width: 780px;
		margin: 0 auto;

		@include bp768 {
			width: 100%;
		};

		&--list{
			margin-bottom: 80px;

			.picArea{
				width: 100%;
				margin: 0 auto 10px;

				&.small{
					width: 520px;

					@include bp768 {
						width: 100%;
					};
				}
			}

			.creditArea{
				text-align: center;

				@include bp768 {
					text-align: right;
				};

				&.small{
					width: 520px;
					margin: 0 auto;

					@include bp768 {
						width: 100%;
					};
				}

				a{
					display: inline-block !important;

					@include bp768 {
						margin-bottom: 5px;
						display: block !important;
					};

					.itemName{
						font-size: 12px;
						line-height: 19.5px;
						margin-right: 7px;
    					font-family: 'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;
					}

					.price{
						font-size: 13px;
						line-height: 19.5px;
    					font-family: 'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;

						span{
							font-size: 10px;
						}
					}

					&:hover{
						color: #C0B6B3 !important;
						opacity: 1;
					}
				}

				.slash{
					font-size: 16px;
					margin: 0 12px 0 7px;
					color: #C0B6B3;
					font-family: 'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;
					vertical-align: super;

					@include bp768 {
						display: none;
					};
				}
			}

			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}