$breakpoints: (
  'sm': 'screen and (max-width: 374px)',
  'md': 'screen and (max-width: 769px)',
  'pc': 'screen and (min-width: 769px)',
  'lg': 'screen and (max-width: 1000px)',
  'xl': 'screen and (max-width: 1200px)',
)
!default;
@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@font-face {
	font-family: 'gillsans';
	src: url("../../../../../Font/gillsans.woff") format('woff'),
		 url('../../../../../Font/gillsans.otf') format("opentype");
}


/*====================================================================
*    Responsive
/*==================================================================*/

@include mq("pc") {
  .sp_contents {
    display: none!important;
  }
}
@include mq() {
  .pc_contents {
    display: none!important;
  }
}

#Wrap .topicsWrap{

  	width: 1080px;
    margin: 0 auto;
  	color: #333;
  	font-size: 14px;
  	line-height: 26px;
  	letter-spacing: 0.08em;
  	font-family: 'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;
  	font-weight: 400;

  	@include mq() {
  		width: 100%;
  		line-height: 2;
  		letter-spacing: 0.08em;
  		// padding: 0 18px;
  		box-sizing: border-box;
  	};

  	ul{
  		margin: 0;
  		padding: 0;

  		li{
  			list-style-type: none;
  			padding: 0;
  			margin: 0;
  		}
  	}

  	p{
  		margin: 0;
  		padding: 0;
  		line-height: 26px;
      font-family: 'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;


  		@include mq() {
  			line-height: 2;
  		};
  	}

  	a{
  		text-decoration: none;
  		color: #000;
  		font-weight: 300;
  		display: block;
  	}

  	img{
  		width: 100%;
  		display: block;
  	}

    h2{
      span{
        display: block;
        color: #C0B6B3;
        margin-top: 15px;
        letter-spacing: 0.16em;
        line-height: 1;
        font-family: 'gillsans', 'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;
        font-size: 16px;
      }
    }

    h3{
      color: #333;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 0.08em;
      font-family: 'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;
      font-weight: 700;
      margin-bottom: 55px;
      position: relative;
      text-align: center;

      @include mq() {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 65px;
      };

      &::after{
        content: "";
        position: absolute;
        bottom: -25px;
        left: 0;
        right: 0;
        width: 40px;
        height: 1px;
        background: #C0B6B3;
        margin: auto;
      }

      span{
        font-size: 16px;
        display: block;

        @include mq() {
          font-size: 14px;
        };
      }
    }

  	.mainArea{
  		width: 900px;
  		margin: 0 auto;

      h2{
        font-family: baskerville-urw, serif;
        text-align: center;
        font-size: 32px;
        color: #2E0E02;
        letter-spacing: 0.1em;
        line-height: 38px;
        font-weight: normal;
        @include mq(){
          font-size: 24px;
          line-height: 28px;


        }
        span.subTtl{
          font-size: 28px;
          font-family: 'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;
          text-align: center;
          color: #2E0E02;
          font-weight: normal;
          @include mq(){
            font-size: 18px;
            line-height: 28px;
          }
        }
      }

  		@include mq() {
  			width: 100%;
  		}
    }

    .contentsArea{
      margin-top: 100px;
      @include mq(){
        margin-top: 80px;
      }
      &__contentsBox{
        margin-left: auto;
        margin-right: auto;
        & + .contentsArea__contentsBox{
          margin-top: 90px;
          @include mq(){
            margin-top: 100px;
          }
        }
        .ttlImg{
          width: 84px;
          height: auto;
          margin: 0 auto;
          @include mq(){
            width: 72px;
            height: auto;
            margin: 0 auto;
          }
        }

        .itemName{
          font-size: 20px;
          font-weight: bold;
          letter-spacing: 0.08em;
          margin: 11px auto 0;
          text-align: center;
          color: #333;
          line-height: 1;
          @include mq(){
            margin-top: 10px;
            font-size: 18px;
            letter-spacing: 0.08em;
            line-height: 1;
          }
        }
        a>img{
          width: 520px;
          height: auto;
          margin: 40px auto 5px;
          @include mq(){
            width: (340/375)*100vw;
            margin: 30px auto 5px;
          }
        }
        .itemPrice{
          font-size: 13px;
          letter-spacing: 0.08em;
          line-height: (19.5/13);
          font-weight: bold;
          margin-top: 3px;
          text-align: center;
          &__name{
            font-weight: normal;
          }
          .tax{
            font-size: 10px;

          }

        }
        .itemDetail{
          margin-top: 34px;
          p{
            text-align: center;
            font-size: 13px;
            letter-spacing: 0.08em;
            line-height: (19.5/13);

          }
        }
        .moreBtn{
          width: 280px;
          height: 64px;
          line-height: 64px;
          font-size: 15px;
          font-family: 'gillsans', 'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;
          letter-spacing: 0.28em;
          line-height: 64px;
          border: 1px solid  #2E0E02;
          text-align: center;
          margin: 40px auto 0;
          position: relative;

          &::after{
            content: '';
            background-image: url(../images/arrow_right@2x.jpg);
            position: absolute;
            width: 15px;
            height: 15px;
            right: 10px;
            top: 40%;
            background-size: contain;
            background-repeat: no-repeat;
          }
        }



        &__contentsWrap{
          display: -webkit-flex;
          display: -ms-flex;
          display: flex;
          justify-content: space-between;
          @include mq(){
            flex-direction: column;
          }

        }



      }


      .btnBox {
        width: 280px;
        height: 64px;
        margin: 0 auto;
        position: relative;
        margin-top: 40px;
        border: 1px solid  #2E0E02;
        &__viewall{
          width: 320px;
          height: 64px;
        }
      }

      @media (max-width: 768px) {
        .btnBox {
          width: 240px;
          height: 48px;
          background:#fff;
          &__viewall{
            width: 240px;
            height: 48px;
          }
        }
      }

      .btnBox:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 23px;
        margin: auto;
        z-index: 1;
        display: block;
        width: 7px;
        height: 7px;
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        border-top: 2px solid #2E0E02;
        border-right: 2px solid #2E0E02;
      }

      .btnBox__viewall::after{
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
      }

      @media (max-width: 768px) {
        .btnBox:after {
          right: 15px;
        }
      }

      .btnBox:hover::after {
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
      }
      .btnBox__viewall:hover::after{
        border-top: 2px solid #2E0E02;
        border-right: 2px solid #2E0E02;
      }

      .btnBox a {
        font-size: 15px;
        text-align: center;
        letter-spacing: 0.28em;
        position: relative;
        line-height: 64px;
        color: #2E0E02;
        font-family: 'gillsans', 'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;

          &:hover{
            color: #fff!important;
          }

      }
      .btnBox__viewall a {
        color: #fff;
        &:hover{
          color: #2E0E02!important;
        }
      }

      @media (max-width: 768px) {
        .btnBox a {
          font-size: 13px;
          line-height: 48px;
          // color: #fff;
          font-family: 'gillsans', 'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;

        }
      }


      .btnBox a::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background: #2E0E02;

        -webkit-transform-origin: right top;
        -ms-transform-origin: right top;
        transform-origin: right top;
        -webkit-transform: scale(0, 1);
        -ms-transform: scale(0, 1);
        transform: scale(0, 1);
        -webkit-transition: -webkit-transform .3s;
        transition: -webkit-transform .3s;
        -o-transition: transform .3s;
        transition: transform .3s;
        transition: transform .3s, -webkit-transform .3s;
      }
      .btnBox__viewall a::after {
        background-color: #fff;
      }

      @media (max-width: 768px) {
        .btnBox a::after {
          content: none;
        }
      }

      .btnBox a:hover::after {
        -webkit-transform-origin: left top;
        -ms-transform-origin: left top;
        transform-origin: left top;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1);
      }

      .btnBox a:hover {
        opacity: 1;
        color: #fff;
      }

      .btnBox__viewall a:hover {
        opacity: 1;
        color: #2E0E02;
        border: 1px solid  #2E0E02;
        background-color: #fff;
      }

      .btnBox.btn--more {
        width: 320px;
        font-family: 'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;
        border: #2E0E02 1px solid;
        background-color: #2E0E02;
        display: block;
        color: #fff;
        border-radius: 2px;
        position: relative;
        z-index: 1;
      }

      @media (max-width: 768px) {
        .btnBox.btn--more {
          width: 240px;
          height: 48px;
          border: #2E0E02 1px solid;
          color: #fff;
        }
      }

      .column .styling__text1 {
          margin: 0 auto 80px;
      }

      @media (max-width: 768px){
        .btnBox.btn--more a:visited {
            color: #fff;
        }
      }

      .itemArea_btn{
        width: 320px;
        height: 64px;
        line-height: 64px;
        background-color: #2E0E02;
        margin: 60px auto 0;
        color: #fff;
        text-align: center;
        position: relative;
        font-family: 'Noto Sans JP', "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'Open Sans',"ＭＳ Ｐゴシック","MS PGothic",Helvetica, sans-serif;

        @include mq(){
          width: 240px;
          height: 48px;
          line-height: 48px;
          margin-bottom: 50px;
        }
        &::after{
          content: '';
          background-image: url(../images/arrow_right__white@2x.png);
          position: absolute;
          width: 15px;
          height: 15px;
          right: 10px;
          top: 40%;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }

    }

}
