@charset  "utf-8";

$bp1100: 1100px;  // スマホ

@mixin bp1100 {
  @media (max-width: ($bp1100)) {
    @content;
  }
}

$bp1060: 1060px;  // スマホ

@mixin bp1060 {
  @media (max-width: ($bp1060)) {
    @content;
  }
}

$bp768: 768px;  // スマホ

@mixin bp768 {
  @media (max-width: ($bp768)) {
    @content;
  }
}

/*====================================================================
*    Responsive
/*==================================================================*/

.pc_inline {
	display: inline!important;

	@include bp768 {
		display: none!important;
	};
}

.sp_inline {
  display: none!important;

	@include bp768 {
		display: inline!important;
	};
}

#Wrap{
	.LPpageWrap{

/*====================================================================
*    ALL
/*==================================================================*/
		.journalWrap {

			.journalWrap_cts{

				.mainArea{
					margin-bottom: 40px;
				
					@include bp768 {
						margin-bottom: 80px;
					};
				}

				.ctsArea{

/*====================================================================
*    TEMPLATE A
/*==================================================================*/
					
					.A-wrap{
						margin-bottom: 200px;

						@include bp768 {
							margin: 0 auto 90px;
						};
					}

					.A-wrap_pic{
						margin-bottom: 40px;

						@include bp768 {
							margin-bottom: 20px;
						};
					}

					.A-wrap_ttl{
						line-height: 1;
						margin-bottom: 20px;

						@include bp768 {
							line-height: 1.5;
							margin-bottom: 10px;
						};
					}

					.A-wrap_txt{
						a{
							text-decoration: none;
						}
					}

/*====================================================================
*    ALL
/*==================================================================*/

					&_btn{
						margin: 0 auto 160px;

						@include bp768 {
							margin: 0 auto 80px;
						};
					}

					.latestArea{
						&_box{
							&--list{
								.archiveTtl{
									line-height: 2;

									@include bp768 {
										line-height: 21px;
									};
								}
							}
						}
					}

					.latestArea{
						padding-top: 80px;
						border-top: 1px solid #CCCCCC;
					}
				}
			}

			.journalWrap_item{
				ul{
					li{
						a{
							p{
								span{
									span{
										display: inline;
										margin-top: 0;
										color: #AD2E24;
										text-decoration: line-through;
									}

									&.sale{
										color: #AD2E24;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
/*====================================================================
*    1009 add css
/*==================================================================*/

.A-wrap_pic {
	margin-bottom: 40px;
}

.A-wrap .A-wrap_txt {
	margin-bottom: 60px;
}

.add1009-box {
	display: flex;
	justify-content: space-between;
	width: 730px;
	margin: 0 auto;
	@include bp768 {
		width: 100%;
	}

	&__child .itemI {
		width: 354px !important;
		@include bp768 {
			width: 86.6% !important;
			margin: 0 auto;
		}
	}
}


#Wrap .LPpageWrap .journalWrap .journalWrap_cts .mainArea_ttl--txt h2 {
	font-weight: bold;	
}

#Wrap .LPpageWrap .journalWrap {
	@include bp768 {
		width: 90%
	}
}